</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [1]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [11]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [2]:
d_f = pd.read_csv('./data/Namibia_fb.csv',low_memory=False,encoding='utf-8')
d_i = pd.read_csv('./data/Namibia_ITU.csv',low_memory=False,encoding='utf-8')
d_e = pd.read_csv('./data/Namibia_ec.csv',low_memory=False,encoding='utf-8')
#d_g = pd.read_csv('./data/GSMA_RW_Schools_mobile_coverage_v1.csv',low_memory=False,encoding='utf-8')
s_master = pd.read_csv('./data/Namibia_school_geolocation_master_v1.csv',low_memory=False,encoding='utf-8')

In [3]:
d_e.head(2)

,LATITUDE,LONGITUDE,giga_school_id,SCHOOL_CODE,SCHOOL_NAME,education_level,CATEGORY_C,ID1,school_type,internet_speed_Mbps,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage_present,3G_coverage_present,4G_coverage_present,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,-17.965591,18.866897,14c9bd7b-28d3-361e-9025-5beb95ce18da,7694,Mpengu Junior Primary School,junior primary,2,Grade 0 - 7,Public,NaN,...,None,None,None,None,No,No,No,No,-1,Ericsson
1,-17.454400,15.908580,1fd5addc-46ee-377f-89fe-ee50854f7446,8227,Omutaku Primary School,primary,2,Grade 0 - 7,Public,NaN,...,MTC,MTC,TN Mobile,None,Yes,Yes,Yes,No,-1,Ericsson

In [4]:
d_e.rename(columns={'SCHOOL_CODE':'source_school_id', 'SCHOOL_NAME':'school_name', '2G_coverage':'2G_quality','3G_coverage':'3G_quality','4G_coverage':'4G_quality', 'Coverage':'coverage','Coverage_type': 'coverage_type'}, inplace=True)
#d_i.rename(columns={'name':'school_name'}, inplace=True)
#d_f.rename(columns={'school_id': 'giga_school_id'}, inplace=True)

In [56]:
# cross-profiles the sources with master data for completeness and correctness

In [6]:
# create a separate dfs
master = s_master.copy()
fb = d_f.copy()
ec = d_e.copy()
itu = d_i.copy()
#gsma = d_g.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)

#print(cross_profile_fb_master.report())
print(cross_profile_fb_master.report())
fm = open("./data/report/cross_profile_fb_master_NA_report.txt", "a")
print(cross_profile_fb_master.report(), file=fm)
fm.close()

#print(cross_profile_Ericsson_master.report())
print(cross_profile_e_master.report())
em = open("./data/report/cross_profile_ec_master_NA_report.txt", "a")
print(cross_profile_e_master.report(), file=em)
em.close()

#print(cross_profile_itu_master.report())
print(cross_profile_itu_master.report())
im = open("./data/report/cross_profile_itu_master_NA_report.txt", "a")
print(cross_profile_itu_master.report(), file=im)
im.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       66  1779
1  Facebook       18  1779

Column Summary
--------------

Number of columns in common: 12
Number of columns in Master but not in Facebook: 54
Number of columns in Facebook but not in Master: 6

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,779
Number of rows in Master but not in Facebook: 0
Number of rows in Facebook but not in Master: 0

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 1,779

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 12
Total number of values which compare unequal: 0


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       66  1779
1  Ericsson       88  1779

Column Summary
--------------

Number of columns in common: 66
Number of columns in Master but not in Ericsson: 0
Number of columns in Ericsson but not in Master: 22

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,779
Number of rows in Master but not in Ericsson: 0
Number of rows in Ericsson but not in Master: 0

Number of rows with some compared columns unequal: 1,772
Number of rows with all compared columns equal: 7

Column Comparison
-----------------

Number of columns compared with some values unequal: 12
Number of columns compared with all values equal: 54
Total number of values which compare unequal: 7,354

Columns with Unequal Values or Types
------------------------------------

                       Column Master dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
8                      admin1       object         object         16         0           16
6                      admin2       object         object         16         0           16
0                     circuit       object         object         28         0           28
7                     cluster       object         object         28         0           28
4                  cluster_ce       object         object       1065         0         1065
5                         id1       object         object         17         0           17
11              internet_type       object         object       1449         0         1449
2                     remarks       object         object       1643         0         1643
1   service (voice/data/both)       object         object       1445         0         1445
3            source_school_id       object         object        144         0          144
9              tariff package       object         object       1455         0         1455
10                 y2017_open       object         object         48         0           48

Sample Rows with Unequal Values
-------------------------------

                            giga_school_id circuit (Master) circuit (Ericsson)
566   d16cbe50-e653-35e1-ab63-a6b08b8348cf              NaN               None
1236  57549913-3840-3409-bfb8-7d98a12ba7c8              NaN               None
577   1896fcb1-732a-3352-a2fe-e81bbe3abb6f              NaN               None
1774  4bec6ebe-7157-3e22-8ff4-57c65f368295              NaN               None
533   c46bd670-46f4-3539-9800-2b40ae3e06bd              NaN               None
1379  4bc7181a-4143-393f-a7c5-ae4ff8ccc2c2              NaN               None
534   3c5a7d00-fcdf-3748-aeb6-d2ba086ec841              NaN               None
555   71065cd8-4a38-3188-b49c-c33f54e36cf7              NaN               None
578   06f78ed6-a8e6-3fc3-b544-9e5a52c414f5              NaN               None
570   74a5171f-00ee-3b79-946e-9119aaf862a9              NaN               None

                            giga_school_id service (voice/data/both) (Master) service (voice/data/both) (Ericsson)
901   8e80a0b3-a431-39f7-8647-6b3b4404f48d                                NaN                                 None
1679  79e8fbb1-5ec4-34ef-9f70-80d7b5c875e5                                NaN                                 None
439   8548462e-d5f1-38c4-8807-4279bb98fd02                                NaN                                 None
145   345ab3ef-d31c-3714-a580-6569b48b4c22                                NaN                                 None
600   ef536fef-58d8-3903-9cd0-e7644ea16238                                NaN                                 None
1667  d7dfabe3-46ad-3d6b-b1b3-c5c30111a333                                NaN                                 None
1216  68afb5bc-2cb5-3c59-94ac-af65ce7cb5e0                                NaN                                 None
1251  5958dc1f-a28c-37d8-81cf-bbd8ecbcc2f6                                NaN                                 None
87    6f9a4f58-4025-32f9-8be9-650e3bd4f32f                                NaN                                 None
126   6df2356b-86a4-320a-bc4d-f62776919699                                NaN                                 None

                            giga_school_id remarks (Master) remarks (Ericsson)
671   d9995d30-8ea9-354b-8c03-1b6b5dc08fa9              NaN               None
914   81445b2b-c97d-3371-b828-1b6a62c01d1f              NaN               None
1534  9a5e4f7e-cac2-35f9-aaf2-7acf1435815e              NaN               None
637   39a956b6-f38a-3d39-851e-20dca997f716              NaN               None
297   e062957e-9497-3bb1-b2c6-2e19509d82fc              NaN               None
1637  2cbc0ac5-1a64-37e3-8184-a9d6ed04007c              NaN               None
1099  088c7a8b-e704-3d0d-a86a-8a385fe7e021              NaN               None
1116  b59c7bb6-91bd-32f4-ad02-6d2532e7b0f7              NaN               None
1685  c4e6f357-3a18-3acf-a2b9-a6cc1f9852de              NaN               None
844   b889ea21-5f5c-3211-9983-851dc43c9220              NaN               None

                            giga_school_id source_school_id (Master) source_school_id (Ericsson)
1444  d17c9be6-767c-3144-94dc-32757a8a0656                       NaN                        None
520   d0b0758c-e089-38eb-8bf3-e977a13f62e9                       NaN                        None
1201  ea478ce4-3fa5-3dd9-8c75-f9d3bf1c6879                       NaN                        None
1265  17af2855-c20a-3aaa-b356-faa84519b362                       NaN                        None
667   353565f5-2383-37f4-9f78-3957f2782f79                       NaN                        None
1426  060bb008-71c0-3b54-af19-d722ee2222db                       NaN                        None
1761  c02047b4-a4b5-3045-896c-9dfea910947b                       NaN                        None
747   e57d18d4-ad1f-36a0-8b53-027ce77b068f                       NaN                        None
722   34b867c5-cee8-39a6-bb6c-acae224a7edb                       NaN                        None
670   21815081-006d-3932-94bc-b14c30d21b4d                       NaN                        None

                            giga_school_id cluster_ce (Master) cluster_ce (Ericsson)
1530  c3eae747-f578-38e4-aa4f-cd78f6e70e44                 NaN                  None
164   82758b57-23c1-3000-b68c-970c22f29f6f                 NaN                  None
1246  0b980722-15bd-3820-b66c-a75502ddc302                 NaN                  None
895   18f3e339-ac96-370d-97c5-25fd516e35f2                 NaN                  None
132   0c5a663b-8d73-3577-9f02-4612d1c8fd8a                 NaN                  None
246   1f28cadc-2b7c-3add-a632-1dba504a6d98                 NaN                  None
1374  0e9b946e-1086-3766-9b64-c0f14f314623                 NaN                  None
282   44aeb454-0796-3e07-a18c-1a29e8eb1438                 NaN                  None
901   8e80a0b3-a431-39f7-8647-6b3b4404f48d                 NaN                  None
637   39a956b6-f38a-3d39-851e-20dca997f716                 NaN                  None

                            giga_school_id id1 (Master) id1 (Ericsson)
1385  8f3f77c5-27c1-3eff-8dcb-4a15645cb9f1          NaN           None
1774  4bec6ebe-7157-3e22-8ff4-57c65f368295          NaN           None
1662  ed127f0b-e4f8-3cc5-ba18-be1047c54b61          NaN           None
1287  b0ca35cd-6b58-3ac7-8c52-3ec6deaee664          NaN           None
1767  b14a52e1-01bf-3277-9353-f5259beef66d          NaN           None
585   847f0ee6-0e23-3125-abc2-6aeae5e8c66a          NaN           None
1660  406f3eb4-1e78-31da-b857-e596ada94bd0          NaN           None
1773  d912f68a-bb67-34da-ab6b-108cfa37029b          NaN           None
533   c46bd670-46f4-3539-9800-2b40ae3e06bd          NaN           None
1770  310f3d5a-9982-3835-bfbc-2825dbee7515          NaN           None

                            giga_school_id admin2 (Master) admin2 (Ericsson)
1763  9498ffff-6d57-34f8-b9f0-4b0ba8711c49             NaN              None
1774  4bec6ebe-7157-3e22-8ff4-57c65f368295             NaN              None
1767  b14a52e1-01bf-3277-9353-f5259beef66d             NaN              None
1777  024c6079-a8c7-3723-89b9-731be063ddf7             NaN              None
1768  a2212d0c-61e0-3f38-99c4-af710dd4f04d             NaN              None
1765  d8dc4892-d94b-33cc-b0c7-fb8d761432e0             NaN              None
1771  03ba292c-fc34-339c-8b46-208a69e0e9a2             NaN              None
1775  d68a1126-5d3b-342b-a91f-bbf7ba392f4e             NaN              None
1766  95d39f97-2b52-3dda-ae8e-ab0306b14490             NaN              None
1776  657de5c3-2d4b-354d-8821-6f5073c5c119             NaN              None

                            giga_school_id cluster (Master) cluster (Ericsson)
503   0da4b5b6-beac-316d-a4b2-aadd7d132543              NaN               None
555   71065cd8-4a38-3188-b49c-c33f54e36cf7              NaN               None
577   1896fcb1-732a-3352-a2fe-e81bbe3abb6f              NaN               None
1236  57549913-3840-3409-bfb8-7d98a12ba7c8              NaN               None
1663  7494128f-7727-3fe1-ba22-c438212f13d1              NaN               None
1770  310f3d5a-9982-3835-bfbc-2825dbee7515              NaN               None
533   c46bd670-46f4-3539-9800-2b40ae3e06bd              NaN               None
1660  406f3eb4-1e78-31da-b857-e596ada94bd0              NaN               None
585   847f0ee6-0e23-3125-abc2-6aeae5e8c66a              NaN               None
561   6bcae0af-e0fb-31b4-9fe4-4395d49212d3              NaN               None

                            giga_school_id admin1 (Master) admin1 (Ericsson)
1777  024c6079-a8c7-3723-89b9-731be063ddf7             NaN              None
1768  a2212d0c-61e0-3f38-99c4-af710dd4f04d             NaN              None
1774  4bec6ebe-7157-3e22-8ff4-57c65f368295             NaN              None
1766  95d39f97-2b52-3dda-ae8e-ab0306b14490             NaN              None
1767  b14a52e1-01bf-3277-9353-f5259beef66d             NaN              None
1769  fd6b720d-c922-324f-b1a1-157816e59f3c             NaN              None
1765  d8dc4892-d94b-33cc-b0c7-fb8d761432e0             NaN              None
1776  657de5c3-2d4b-354d-8821-6f5073c5c119             NaN              None
1763  9498ffff-6d57-34f8-b9f0-4b0ba8711c49             NaN              None
1770  310f3d5a-9982-3835-bfbc-2825dbee7515             NaN              None

                            giga_school_id tariff package (Master) tariff package (Ericsson)
1319  98b9358f-e6c3-33fd-9d96-4613c6db395b                     NaN                      None
1244  f89e10a6-3bc2-3391-903f-8328c0c85888                     NaN                      None
281   9eb997fc-cad2-367c-b7d8-c3e34de0fb25                     NaN                      None
310   324fc119-6858-39d9-b0c1-beeb9d35efd1                     NaN                      None
251   eaec6057-2fe0-3acf-957c-242f93b3ad09                     NaN                      None
172   f260b77d-9140-3881-be97-62b016fac209                     NaN                      None
1403  2ef51798-6ea3-3c14-8138-39f97be1a87b                     NaN                      None
1336  96312f52-f1f6-3975-a022-e6ac3cc6782c                     NaN                      None
345   a9b27ef0-67ef-3272-952e-dc95614c1921                     NaN                      None
232   a5dc1bf3-d3a4-3682-b458-a3ca410c1a47                     NaN                      None

                            giga_school_id y2017_open (Master) y2017_open (Ericsson)
1454  76cf7834-914b-34cb-b543-7fe78aaf6890                 NaN                  None
260   c1338c9d-f78f-3497-9c34-a8c17dd936bd                 NaN                  None
95    bea4a06f-9eb5-390d-80a6-46c60f888cb2                 NaN                  None
141   ad4b4220-7afb-32a1-b5de-581ce65c0aa0                 NaN                  None
1447  16750ff0-8160-300d-8d33-30f519519d98                 NaN                  None
632   54a221f2-9e75-3e33-9178-532e76272b59                 NaN                  None
209   310333e9-4968-3b2a-984d-e72fcb863e97                 NaN                  None
630   dd1e9c6b-ac94-3b9d-b91b-ccc026b939d9                 NaN                  None
654   1cc052a6-3d6e-3ee0-8c08-615cf9d4ae05                 NaN                  None
1444  d17c9be6-767c-3144-94dc-32757a8a0656                 NaN                  None

                            giga_school_id internet_type (Master) internet_type (Ericsson)
436   675f4b17-e966-3188-8c1f-d3fdc8bde2c4                    NaN                     None
1118  ca490eb3-f08f-3e35-b073-3dbea0c2bbb1                    NaN                     None
661   d8b73fcf-dc33-32b1-b32e-7f0fa63ef3b9                    NaN                     None
371   fccb8d00-c705-38be-8a04-3bbabe050c98                    NaN                     None
1009  45a16e07-437e-3ea0-acbb-953000959df4                    NaN                     None
541   32617d8f-b03d-3631-9074-ea8793c2a5c9                    NaN                     None
1512  c3f0965b-7ee8-3e9f-8fcc-3690b9c6dbb0                    NaN                     None
1403  2ef51798-6ea3-3c14-8138-39f97be1a87b                    NaN                     None
527   35114b46-e6eb-341c-8606-6825ac8bb3e3                    NaN                     None
936   cbbecca6-c186-3ab6-936c-bd00fb83e2f3                    NaN                     None


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       66  1779
1       ITU       70  1779

Column Summary
--------------

Number of columns in common: 66
Number of columns in Master but not in ITU: 0
Number of columns in ITU but not in Master: 4

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,779
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 0

Number of rows with some compared columns unequal: 1,779
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 11
Number of columns compared with all values equal: 55
Total number of values which compare unequal: 17,648

Columns with Unequal Values or Types
------------------------------------

                      Column Master dtype ITU dtype  # Unequal  Max Diff  # Null Diff
5                 category_c       object   float64       1779       0.0            1
10       internet_speed_mbps      float64   float64          2       0.5            0
6                   latitude      float64    object       1779       0.0            0
7                   long_110      float64    object       1779       0.0            0
0                  longitude      float64    object       1779       0.0            0
9           master_timestamp       object    object       1779       0.0            0
2   nearest_2gtower_distance      float64    object       1779       0.0            0
3   nearest_3gtower_distance      float64    object       1779       0.0            0
4   nearest_4gtower_distance      float64    object       1779       0.0            0
8              node_distance      float64    object       1779       0.0            0
1           source_school_id       object   float64       1635       0.0           28

Sample Rows with Unequal Values
-------------------------------

                            giga_school_id  longitude (Master) longitude (ITU)
1360  22d18749-06fc-381c-889d-7000b74e21de           15.691474      15.691.474
1287  b0ca35cd-6b58-3ac7-8c52-3ec6deaee664           15.766727      15.766.727
740   007c0c5f-a502-3b6c-8315-9220a8455aef           16.342401      16.342.401
1244  f89e10a6-3bc2-3391-903f-8328c0c85888           15.538060       1.553.806
10    1c327fea-1df0-3707-b3a2-571b2ad35a7f           18.740370       1.874.037
517   46eed9da-19ce-33c2-89fc-2bab673776ac           17.084400         170.844
1417  2ff7175c-7754-34f2-97d5-81c4631c0eaf           16.291940       1.629.194
1425  2c7f0a36-5368-34c2-ae90-297fd2b4e05d           16.883508      16.883.508
763   87cb9f72-2c10-30d2-a374-6fcab56ffe46           15.886940       1.588.694
1609  05585ff7-46a9-393f-9187-6f989be8dd91           18.103630       1.810.363

                            giga_school_id source_school_id (Master)  source_school_id (ITU)
789   697b3a69-50f0-31af-ab63-eef663df0a38                      8212                  8212.0
1629  f207536c-f1a9-3d78-ba2d-5715b9a363e3                      7810                  7810.0
1754  be6333eb-030b-39e2-95fe-a1d1071797a1                      7171                  7171.0
1364  38761198-d4d0-3163-9822-a7d1ef624a17                      8253                  8253.0
1703  732ffefd-d17a-3234-baa4-9d338b1b27f9                      7125                  7125.0
157   52de5e71-fe16-30e5-bfe8-777927be0c57                      8807                  8807.0
668   8abf8fd2-138a-3187-bfef-8d47a549de22                      7049                  7049.0
878   b0986e8d-3e46-3f35-a032-f82ce78829b6                      8369                  8369.0
102   e0f361ec-c1e7-353b-b0f8-e608acd46143                      7019                  7019.0
1354  bdbbd983-f999-309f-9893-31ed2c46f435                      8174                  8174.0

                            giga_school_id  nearest_2gtower_distance (Master) nearest_2gtower_distance (ITU)
503   0da4b5b6-beac-316d-a4b2-aadd7d132543                               0.36                           0.36
51    2dc00db5-f36e-3aad-a419-0ffd1d647d92                               0.46                           0.46
88    181109f1-28ab-3a37-9159-1e71e5b5b4ed                               1.53                         Jan.53
285   ffb5f189-cc85-37f7-813b-dcd727e90114                              20.74                          20.74
1481  5277dd7b-5b8c-34dd-8fd8-fa9606653f1b                               7.56                         Jul.56
984   bafd8c76-0932-3f1e-bf59-4832ead8a53a                               6.56                         Jun.56
1420  33e0b66f-6fb0-3f9d-b758-1834988bb76e                              13.18                          13.18
92    bebe9e75-7705-3440-bf01-601af0ece6c9                               1.71                         Jan.71
531   68f2758d-0637-348d-9d66-bd23daefe728                               0.35                           0.35
1074  0c828aea-8c21-3b20-8c50-76b707a5d61f                               2.48                         Feb.48

                            giga_school_id  nearest_3gtower_distance (Master) nearest_3gtower_distance (ITU)
1743  a8a5c1ed-bbfe-3342-ac4c-a3dd5b24e0b1                              32.98                          32.98
184   ee723eb7-ed89-3736-b77b-a9b6ff3386dd                              15.06                         15.Jun

In [58]:
# some colunm names standardization

In [59]:
#d_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
#d_i.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)
#d_g.rename(columns={'giga_schoo': 'giga_school_id'}, inplace=True)

In [60]:
# cross-profiles the sources with master data for completeness and correctness

In [61]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [7]:
#d_e['coverage'] = np.where((d_e['2G_coverage']== 'None') & (d_e['3G_coverage']== 'None')& (d_e['4G_coverage']== 'None'), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2G'].isnull()) & (d_f['percent_3G'].isnull())& (d_f['percent_4G'].isnull()), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2G']<=0) & (d_f['percent_3G']<=0) & (d_f['percent_4G']<=0), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G'].isnull()) & (d_i['3G'].isnull())& (d_i['4G'].isnull()), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G']<=0) & (d_i['3G']<=0) & (d_i['4G']<=0), 'NO', 'YES')

In [63]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [8]:
d_f['2G_coverage'] = np.where((d_f['percent_2G'] > 0), 'YES', 'NO')
d_f['3G_coverage'] = np.where((d_f['percent_3G'] > 0), 'YES', 'NO')
d_f['4G_coverage'] = np.where((d_f['percent_4G'] > 0), 'YES', 'NO')

In [9]:
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [66]:
#d_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [67]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [10]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [11]:
d_f['coverage_type'] = d_f.apply((lambda x: coverage_type(x)),axis=1)
#d_e['coverage_type'] = d_e.apply((lambda x: coverage_type(x)),axis=1)
d_i['coverage_type'] = d_i.apply((lambda x: coverage_type(x)),axis=1)

In [12]:
d_e.head(1)

,LATITUDE,LONGITUDE,giga_school_id,source_school_id,school_name,education_level,CATEGORY_C,ID1,school_type,internet_speed_Mbps,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage_present,3G_coverage_present,4G_coverage_present,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,-17.965591,18.866897,14c9bd7b-28d3-361e-9025-5beb95ce18da,7694,Mpengu Junior Primary School,junior primary,2,Grade 0 - 7,Public,NaN,...,None,None,None,None,No,No,No,No,-1,Ericsson

In [13]:
d_e.rename(columns={'2G_coverage_present':'2G_coverage', '3G_coverage_present':'3G_coverage','4G_coverage_present':'4G_coverage', 'Coverage':'coverage', 'Coverage_type':'coverage_type'}, inplace=True)

In [72]:
# isolating the needed colunms from the rest

In [14]:
features = ['giga_school_id','coverage','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [15]:
d_fc = d_f[features]
#d_ec = d_e[features]
d_it = d_i[features]
d_ec = d_e[features]

In [31]:
# more sanity checks for nan on giga_school_id

In [16]:
d_fc = d_fc[d_fc['giga_school_id'].notna()]
#d_ec = d_ec[d_ec['giga_school_id'].notna()]
d_it = d_it[d_it['giga_school_id'].notna()]
d_ec = d_ec[d_ec['giga_school_id'].notna()]

In [17]:
d_ec.loc[d_ec['2G_coverage'] == 'Yes', '2G_coverage'] = 'YES'
d_ec.loc[d_ec['3G_coverage'] == 'Yes', '3G_coverage'] = 'YES'
d_ec.loc[d_ec['4G_coverage'] == 'Yes', '4G_coverage'] = 'YES'
d_ec.loc[d_ec['coverage'] == 'Yes', 'coverage'] = 'YES'

d_ec.loc[d_ec['2G_coverage'] == 'No', '2G_coverage'] = 'NO'
d_ec.loc[d_ec['3G_coverage'] == 'No', '3G_coverage'] = 'NO'
d_ec.loc[d_ec['4G_coverage'] == 'No', '4G_coverage'] = 'NO'
d_ec.loc[d_ec['coverage'] == 'No', 'coverage'] = 'NO'

In [18]:
d_it.head()

,giga_school_id,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,d64e8b47-18bf-38e4-a27d-60a6762428b5,YES,4G,YES,YES,YES
1,dd5ff341-5190-329d-a69a-9b9f6b106009,YES,3G,YES,YES,NO
2,d482dd65-85c9-30ee-ad3c-74b7fec1eaf8,YES,3G,NO,YES,NO
3,5b2ca145-aa23-3f4f-a069-4e4e69ba01a1,YES,3G,YES,YES,NO
4,25a080d3-71cd-3940-a32f-372a7c1fc99a,YES,3G,YES,YES,NO

In [76]:
# visually comparing the sources for matches and mismatches across the columns

In [19]:
df_all = pd.concat([d_fc.set_index('giga_school_id'), d_ec.set_index('giga_school_id'),d_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'Ericsson', 'ITU'])
df_all.head()

                                     Facebook                            \
                                     coverage coverage_type 2G_coverage
f5d69ac4-2be8-3e8a-bcf7-31b1b20f2cdc      YES            4G         YES
14d4b06d-e71b-377c-b24c-945395c35068      YES            4G         YES
be14228b-c410-30ae-9bd1-5d81d6fb3ba9      YES            4G         YES
52a270f6-2cfc-329d-b121-23d1f43c3997      YES            4G         YES
906d400f-b94f-3b64-9575-f37aeea15516      YES            4G         YES

                                                             Ericsson  \
                                     3G_coverage 4G_coverage coverage
f5d69ac4-2be8-3e8a-bcf7-31b1b20f2cdc         YES         YES      YES
14d4b06d-e71b-377c-b24c-945395c35068         YES         YES      YES
be14228b-c410-30ae-9bd1-5d81d6fb3ba9         YES         YES      YES
52a270f6-2cfc-329d-b121-23d1f43c3997         YES         YES      YES
906d400f-b94f-3b64-9575-f37aeea15516         YES         YES      YES

                                                                            \
                                     coverage_type 2G_coverage 3G_coverage
f5d69ac4-2be8-3e8a-bcf7-31b1b20f2cdc            4G          NO         YES
14d4b06d-e71b-377c-b24c-945395c35068            4G         YES         YES
be14228b-c410-30ae-9bd1-5d81d6fb3ba9            3G         YES         YES
52a270f6-2cfc-329d-b121-23d1f43c3997            3G          NO         YES
906d400f-b94f-3b64-9575-f37aeea15516            4G         YES         YES

                                                      ITU                \
                                     4G_coverage coverage coverage_type
f5d69ac4-2be8-3e8a-bcf7-31b1b20f2cdc         YES      YES            4G
14d4b06d-e71b-377c-b24c-945395c35068         YES      YES            2G
be14228b-c410-30ae-9bd1-5d81d6fb3ba9         YES      YES            3G
52a270f6-2cfc-329d-b121-23d1f43c3997          NO      YES            4G
906d400f-b94f-3b64-9575-f37aeea15516         YES      YES            4G


                                     2G_coverage 3G_coverage 4G_coverage
f5d69ac4-2be8-3e8a-bcf7-31b1b20f2cdc         YES         YES         YES
14d4b06d-e71b-377c-b24c-945395c35068         YES          NO          NO
be14228b-c410-30ae-9bd1-5d81d6fb3ba9         YES         YES          NO
52a270f6-2cfc-329d-b121-23d1f43c3997         YES         YES         YES
906d400f-b94f-3b64-9575-f37aeea15516         YES         YES         YES

In [20]:
df_final = df_all.swaplevel(axis='columns')[d_fc.columns[1:]]
df_final.tail()

                                     coverage               coverage_type  \
                                     Facebook Ericsson  ITU      Facebook
7f4c534c-f506-31a7-9a2a-1f335a97fe3c      YES      YES  YES            4G
a718bb57-2231-3eba-9fe2-db3374d6e0fd      YES      YES  YES            4G
77ac9e65-4bb9-3d4c-b120-770e600ae2dd      YES       NO  YES            4G
c37784b5-d414-3695-8a52-9e534ca0c52a      YES      YES  YES            4G
7f8d1e7d-f681-3f2f-9d7c-38d81b2cd413      YES       NO  YES            4G

                                                  2G_coverage                \
                                     Ericsson ITU    Facebook Ericsson  ITU
7f4c534c-f506-31a7-9a2a-1f335a97fe3c       3G  4G         YES      YES  YES
a718bb57-2231-3eba-9fe2-db3374d6e0fd       4G  3G         YES      YES  YES
77ac9e65-4bb9-3d4c-b120-770e600ae2dd     None  4G         YES       NO  YES
c37784b5-d414-3695-8a52-9e534ca0c52a       4G  4G         YES      YES  YES
7f8d1e7d-f681-3f2f-9d7c-38d81b2cd413     None  4G         YES      YES  YES

                                     3G_coverage               4G_coverage  \
                                        Facebook Ericsson  ITU    Facebook
7f4c534c-f506-31a7-9a2a-1f335a97fe3c         YES      YES  YES         YES
a718bb57-2231-3eba-9fe2-db3374d6e0fd         YES      YES  YES         YES
77ac9e65-4bb9-3d4c-b120-770e600ae2dd         YES      YES  YES         YES
c37784b5-d414-3695-8a52-9e534ca0c52a         YES      YES  YES         YES
7f8d1e7d-f681-3f2f-9d7c-38d81b2cd413         YES       NO  YES         YES


                                     Ericsson  ITU
7f4c534c-f506-31a7-9a2a-1f335a97fe3c      YES  YES
a718bb57-2231-3eba-9fe2-db3374d6e0fd      YES   NO
77ac9e65-4bb9-3d4c-b120-770e600ae2dd      YES  YES
c37784b5-d414-3695-8a52-9e534ca0c52a      YES  YES
7f8d1e7d-f681-3f2f-9d7c-38d81b2cd413       NO  YES

In [22]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [81]:
# coverage comparison report

In [23]:
# create a separate dfs
fbc = d_fc.copy()
#ecc = d_ec.copy()
ituc = d_it.copy()
ecc = d_ec.copy()

# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)

cross_profile_ec_itu = datacompy.Compare(
ecc,
ituc,
join_columns='giga_school_id',  
df1_name='Ericsson', 
df2_name='ITU'
)


#print(cross_profile_fb_itu.report())
print(cross_profile_fb_itu.report())
fir = open("./data/report/cross_profile_fb_itu_NA_report.txt", "a")
print(cross_profile_fb_itu.report(), file=fir)
fir.close()

#print(cross_profile_Ericsson_itu.report())
print(cross_profile_ec_itu.report())
eir = open("./data/report/cross_profile_ec_itu_NA_report.txt", "a")
print(cross_profile_ec_itu.report(), file=eir)
eir.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  1779
1       ITU        6  1779

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,779
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 0

Number of rows with some compared columns unequal: 660
Number of rows with all compared columns equal: 1,119

Column Comparison
-----------------

Number of columns compared with some values unequal: 4
Number of columns compared with all values equal: 2
Total number of values which compare unequal: 1,740

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object    object        191         0            0
3    3g_coverage         object    object        281         0            0
0    4g_coverage         object    object        634         0            0
1  coverage_type         object    object        634         0            0

Sample Rows with Unequal Values
-------------------------------

                            giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
981   1eaef04c-76e9-3a6b-aeb6-5ffea370c4a7                    YES                NO
892   a8a5c1ed-bbfe-3342-ac4c-a3dd5b24e0b1                    YES                NO
1311  99279de7-680a-3530-be62-e56ff7df5c29                    YES                NO
22    ed43fff8-ac55-39eb-800e-5fbdf4e9d6d5                    YES                NO
739   a9854346-cb7f-3909-9c36-836349a74ea1                    YES                NO
1593  55c4ad1f-554f-3670-953f-d6ee235d3f71                    YES                NO
1631  a9a60d6e-63f7-38c2-b7b1-62e53ce787af                    YES                NO
1193  a0306c79-f6ac-3477-af9d-aa5498e72171                    YES                NO
676   998c7ac4-d9d6-378e-b3b4-f093bde41ff6                    YES                NO
916   53ac1b72-e2f6-3e72-bc36-da0c728cd617                    YES                NO

                            giga_school_id coverage_type (Facebook) coverage_type (ITU)
480   e91dc7cf-6b63-3122-afbc-3ced77581946                       4G                  3G
805   aa7daa20-53e7-3a64-aac6-9318c448783d                       4G                None
25    2123293b-b13c-3c02-a029-968912ad262f                       4G                  3G
1231  a7cf4dbb-1680-368b-ac7e-389c371388f6                       4G                None
1630  df5f6cd6-f7c7-3908-a6d8-692c7f91c603                       4G                  3G
316   d68a1126-5d3b-342b-a91f-bbf7ba392f4e                       4G                  2G
1511  17f1e5f8-c6dd-3aa3-b62d-07101eb1dbd6                       4G                  3G
1266  33d2f1c4-ee59-3a6d-80c7-d953cfd8d739                       4G                None
832   91fa6987-aba2-37e2-b001-5c99b83b6358                       4G                  3G
1599  3be3127c-6f8a-363b-99a1-e84885bb5067                       4G                  3G

                            giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
365   714655a8-602f-3022-87c6-5a13808f5cb9                    YES                NO
1770  f6d5e569-806a-3bdd-9263-f03f56c80688                    YES                NO
834   73c414a6-1db0-38c9-8749-8f2e75184c40                    YES                NO
784   8d1132c5-f84f-3393-849b-1e37d91456c0                    YES                NO
1738  7d500326-fece-37f7-8925-4d15aab27ffb                    YES                NO
1107  24e510e6-9002-3d98-b03b-2f8431ccd8dc                    YES                NO
925   75cef94f-d79d-3574-8d49-14ddd8535216                    YES                NO
1142  ff0e3dab-777a-3110-b7cc-8efd11bb1e68                    YES                NO
423   9a7de931-f3ff-38a7-af82-86924961fafd                    YES                NO
1599  3be3127c-6f8a-363b-99a1-e84885bb5067                    YES                NO

                            giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
1377  836845ca-c984-3293-9934-4d9b54290867                    YES                NO
151   22f7894e-f318-3044-b7e4-98b72f367250                    YES                NO
202   d6f2013d-ece0-3d4d-8f0f-ed3be90491be                    YES                NO
493   8a31f616-4585-3b5e-a2a0-dc21cfdecead                    YES                NO
1431  0558a407-ab70-35ce-bb99-3998c27b8380                    YES                NO
912   353eedef-7b4b-3424-972d-18339a7bd62f                    YES                NO
1009  5fc6e92b-9451-3f2e-930f-3cd2c4b7748c                    YES                NO
757   431a2dea-e707-34f5-9bea-f96996d89650                    YES                NO
1203  f781edb0-8f9e-3bf1-9a62-fbd7fca890c4                    YES                NO
379   51d1e1e5-526d-3bb9-a71c-491cf8bc7198                    YES                NO


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Ericsson        6  1779
1       ITU        6  1779

Column Summary
--------------

Number of columns in common: 6
Number of columns in Ericsson but not in ITU: 0
Number of columns in ITU but not in Ericsson: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 1,779
Number of rows in Ericsson but not in ITU: 0
Number of rows in ITU but not in Ericsson: 0

Number of rows with some compared columns unequal: 851
Number of rows with all compared columns equal: 928

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 1,997

Columns with Unequal Values or Types
------------------------------------

          Column Ericsson dtype ITU dtype  # Unequal  Max Diff  # Null Diff
3    2g_coverage         object    object        198         0            0
4    3g_coverage         object    object        251         0            0
0    4g_coverage         object    object        429         0            0
1       coverage         object    object        465         0            0
2  coverage_type         object    object        654         0            0

Sample Rows with Unequal Values
-------------------------------

                            giga_school_id 4g_coverage (Ericsson) 4g_coverage (ITU)
996   f84e13dd-efe4-38be-ac3c-8a67c8f63049                    YES                NO
120   19de734e-76fa-3924-9e90-2d0c3ddee667                    YES                NO
1417  cb940bcf-eec1-3fcf-ae20-7da86799e0d2                    YES                NO
1684  2ef51798-6ea3-3c14-8138-39f97be1a87b                    YES                NO
1396  62e42fb8-a85b-35d9-8051-2f787c6294f6                    YES                NO
3     3ccd1d64-1ea5-30fe-be8d-0b1f3a5cfa53                    YES                NO
634   27276b07-1d78-38c0-ae55-a22179b05601                    YES                NO
1650  9f5a2e21-4a62-3e7f-a72a-7303e7f02971                    YES                NO
208   635ed65f-71d8-3a90-94a4-3b8a77905926                    YES                NO
1552  1d3e5fcc-3ab7-3b5e-8ff7-2355080b24e7                    YES                NO

                            giga_school_id coverage (Ericsson) coverage (ITU)
1062  e68966a8-bd40-3360-abad-406ccb12e6d2                  NO            YES
298   714655a8-602f-3022-87c6-5a13808f5cb9                  NO            YES
1208  ff0e3dab-777a-3110-b7cc-8efd11bb1e68                  NO            YES
1603  596fb853-1864-34e7-b711-73f99360e4a8                  NO            YES
307   0e432a65-b955-3ae3-a646-8ef331550c02                  NO            YES
516   d6f2013d-ece0-3d4d-8f0f-ed3be90491be                  NO            YES
1528  9b9c82f6-ad10-3b87-b9a1-ed0a7d730341                  NO            YES
1552  1d3e5fcc-3ab7-3b5e-8ff7-2355080b24e7                  NO            YES
730   09343118-24ff-3c8e-8bb0-ab00afa2eb27                  NO            YES
1289  3d80ccf6-6d24-3473-928e-923b3f3f9bcf                  NO            YES

                            giga_school_id coverage_type (Ericsson) coverage_type (ITU)
657   6fbf062e-7b52-3304-861b-c56feda38b74                       3G                  4G
424   0be84097-8e5c-3a81-8fde-0a92b2780468                       3G                  4G
842   c3eae747-f578-38e4-aa4f-cd78f6e70e44                     None                  2G
353   d8dc4892-d94b-33cc-b0c7-fb8d761432e0                       4G                  2G
450   d482dd65-85c9-30ee-ad3c-74b7fec1eaf8                     None                  3G
975   5182d4e7-a664-32fe-9250-ec3c4bdccaf5                     None                  3G
1302  066bcf2a-576b-32a5-b95c-a5060aafcac0                     None                  3G
89    28c4f997-5da7-3c7b-99d1-bda72e3a2f9c                     None                  3G
564   9738c602-3f1d-35ce-a6b7-e2d7a5a91006                       4G                  3G
1511  e1cbf1da-76a5-3128-85b4-5d43c9ca8ba9                     None                  4G

                            giga_school_id 2g_coverage (Ericsson) 2g_coverage (ITU)
33    b28392ea-a68b-33a5-bd56-ab6a594d27a9                     NO               YES
261   f2b40946-5878-3f09-bd51-3d677d413c92                    YES                NO
296   49296946-5430-3d78-82b9-4ec5cd93a49a                     NO               YES
610   e9080fea-eca7-380d-a355-e5f1ceceeb0b                    YES                NO
1401  40fec488-901f-3a5e-9b64-2aa75771551e                    YES                NO
800   c87072a6-9080-35d0-bb8f-d59a8b6ca2cf                    YES                NO
1638  b89611a7-fcb4-3c75-807d-0fd2e2f4f841                    YES                NO
1216  08f6899d-4032-3cbd-845a-085f459f9c17                    YES                NO
105   75dcd7da-3129-34d0-965a-ba3a74f236cd                     NO               YES
968   0e0178d9-25d8-33fd-b6ee-62583cf2b30e                     NO               YES

                            giga_school_id 3g_coverage (Ericsson) 3g_coverage (ITU)
1521  10bcad52-0652-339f-8699-b795eb142cd9                     NO               YES
1110  6e51a2e8-e594-319d-8737-76513e0acd68                    YES                NO
1185  194f5691-3e76-3063-857b-179c0e9fdc0f                    YES                NO
73    24b22e63-aab4-3eef-8315-acbcf5d76f72                    YES                NO
1740  85467d84-24d1-338b-862a-c7f7a80da517                    YES                NO
624   c352cbff-0043-330d-8c22-c4712f16fcc0                     NO               YES
589   5a4ee684-202d-3931-bb66-1ee5afb66691                     NO               YES
1355  2be35539-3c00-3f9c-85e2-5350d2edc7c5                    YES                NO
703   80b98fb0-0430-3af3-a76d-15292977afcb                    YES                NO
513   51a74d08-bed2-31fb-954d-7b4ad325644f                    YES                NO

In [39]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [24]:
import statistics as stats
df_c = pd.concat([d_fc,d_ec,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x:x.value_counts().index[0])
coverage['coverage_type'] = coverage.apply((lambda x: coverage_type(x)),axis=1)
#coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x: stats.mode(x)[0][0])

In [25]:
coverage['coverage'] = np.where((coverage['2G_coverage']=='YES') | (coverage['3G_coverage']=='YES') | (coverage['4G_coverage']=='YES'), 'YES', 'NO')

In [26]:
coverage.head()

,giga_school_id,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,000c28a4-b05d-3b18-9e48-d6160e8b08b0,YES,4G,YES,YES,YES
1,0049cc97-1438-3180-bf37-f02483dc8f05,YES,4G,YES,YES,YES
2,00742d10-2587-3f97-85fc-c8f27f261718,YES,4G,YES,YES,YES
3,007c0c5f-a502-3b6c-8315-9220a8455aef,YES,4G,YES,YES,YES
4,008a562e-a511-3434-be77-ba1d9de5a106,YES,2G,YES,NO,NO

In [27]:
coverage[coverage['coverage']=='NO'].head(10)

,giga_school_id,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
7,00eb3b18-5e07-3b27-91cf-5078d9bf654e,NO,None,NO,NO,NO
25,030c8325-b5e6-306c-a718-19a209631419,NO,None,NO,NO,NO
91,0ac62d78-92bf-3709-b6bd-a02574ecdfe8,NO,None,NO,NO,NO
98,0bb0230f-1ec6-3aa6-a32c-6975db773074,NO,None,NO,NO,NO
141,114fa481-0e11-3d3c-a3e4-1dc8717828d9,NO,None,NO,NO,NO
204,1a3c8d75-d1fe-32e7-bf2a-666f00a8b9d8,NO,None,NO,NO,NO
219,1cc052a6-3d6e-3ee0-8c08-615cf9d4ae05,NO,None,NO,NO,NO
257,21815081-006d-3932-94bc-b14c30d21b4d,NO,None,NO,NO,NO
274,246fc37e-48b5-3e6d-958e-9a40a5d80f7d,NO,None,NO,NO,NO
277,24e510e6-9002-3d98-b03b-2f8431ccd8dc,NO,None,NO,NO,NO

In [97]:
#coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_gs.coverage_type

In [28]:
master.head()

,giga_school_id,source_school_id,school_name,education_level,category_c,id1,school_type,longitude,latitude,internet_speed_mbps,...,missing_education_level_flag,missing_internet_type_flag,internet_speed_outlier_flag,missing_internet_speed_mbps_flag,missing_school_type_flag,school_density_outlier_flag,dq_score,giga_school_id_seq,master_timestamp,school_archive
0,d64e8b47-18bf-38e4-a27d-60a6762428b5,8808,Ariamsvlei Primary School,primary,2,Grade 0 - 7,Public,19.8408,-28.1322,NaN,...,0,1,0,1,0,0,0.93,G_NAM_000001,45:38.5,No
1,dd5ff341-5190-329d-a69a-9b9f6b106009,7023,Bethanie Primary School,primary,2,Grade 0 - 7,Public,17.1558,-26.4986,NaN,...,0,1,0,1,0,0,0.93,G_NAM_000002,45:38.5,No
2,d482dd65-85c9-30ee-ad3c-74b7fec1eaf8,7854,Blauwes Primary School,primary,2,Grade 0 - 7,Public,18.2750,-26.1411,NaN,...,0,1,0,1,0,0,0.89,G_NAM_000003,45:38.5,No
3,5b2ca145-aa23-3f4f-a069-4e4e69ba01a1,7035,Chris Lotter Primary School,primary,2,Grade 0 - 7,Public,19.1214,-25.9336,NaN,...,0,1,0,1,0,0,0.93,G_NAM_000004,45:38.5,No
4,25a080d3-71cd-3940-a32f-372a7c1fc99a,7856,D.C. Frederick Primary School,primary,2,Grade 0 - 7,Public,17.1472,-26.5119,NaN,...,0,1,0,1,0,0,0.93,G_NAM_000005,45:38.5,No

In [29]:
master_w_coverage = master.merge(coverage, how="left", on=["giga_school_id"])
master_w_coverage.to_csv('./data/NA_master_w_coverage.csv', encoding='utf-8')
master_w_coverage_connectivity = master_w_coverage.copy()
#master_w_coverage_connectivity['connectivity_availability'] = np.where((master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'connectivity'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'coverage_type'] = 'None'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage_type'] = 'no coverage'
master_w_coverage_connectivity.to_csv('./data/NA_master_w_coverage_connectivity.csv', encoding='utf-8')

In [36]:
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['internet_speed_mbps'].notna(), 'connectivity'] = 'YES'

In [39]:
master_w_coverage_connectivity[master_w_coverage_connectivity['internet_speed_mbps'].notna()].head(10)

,giga_school_id,source_school_id,school_name,education_level,category_c,id1,school_type,longitude,latitude,internet_speed_mbps,...,dq_score,giga_school_id_seq,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
10,1c327fea-1df0-3707-b3a2-571b2ad35a7f,7871,Ernst Jager Junior combined School,combined,3,Grade 0 - 12,Public,18.740370,-28.012190,6.0,...,1.00,G_NAM_000011,45:38.5,No,YES,4G,YES,YES,YES,YES
53,01528fd0-c701-3131-bba8-cbbadfc9acff,7087,Christelike Privaatskool Hentiesbaai,primary,2,Grade 0 - 7,Private,14.287920,-22.122270,4.0,...,1.00,G_NAM_000054,45:38.5,No,YES,4G,YES,YES,YES,YES
56,7f1a8d9d-581b-3000-88a2-ef0b48dabb01,7031,Deutsche Privatschule Omaruru,primary,2,Grade 0 - 7,Private,15.944167,-21.421667,6.0,...,1.00,G_NAM_000057,45:38.5,No,YES,4G,YES,YES,YES,YES
57,ebbd2e23-2936-3d2e-a2d6-7a61ab06e842,7221,Dibasen Junior Secondary School,senior secondary,4,Grade 4 - 12,Public,15.374440,-21.365278,2.0,...,1.00,G_NAM_000058,45:38.5,No,YES,3G,YES,YES,NO,YES
61,ed9b20d4-977e-31be-8e63-8d73f4036fa4,7321,Elifas Goseb Primary School,primary,2,Grade 0 - 7,Public,15.594444,-21.982778,6.0,...,1.00,G_NAM_000062,45:38.5,No,YES,4G,YES,YES,YES,YES
62,4aea1a29-4969-3ed6-b1c0-df1fb807d19e,7825,Erongosig Primary School,primary,2,Grade 0 - 7,Public,15.595278,-21.973889,6.0,...,1.00,G_NAM_000063,45:38.5,No,YES,4G,YES,YES,YES,YES
63,8509de31-f20d-34bf-a24a-ac10419062db,7325,Festus Gonteb Junior Primary School,junior primary,2,Grade 0 - 7,Public,14.545940,-22.661120,4.0,...,1.00,G_NAM_000064,45:38.5,No,YES,4G,YES,YES,YES,YES
64,ac27102f-fc2c-3af5-bf25-6817051fd4db,7231,Flamingo Primary School,primary,2,Grade 0 - 7,Public,14.498610,-22.966670,4.0,...,1.00,G_NAM_000065,45:38.5,No,YES,4G,YES,YES,YES,YES
66,e41e7d08-4bc4-385f-b813-d180db9a89a3,7086,Headstart Montessori Elementary School,primary,2,Grade 0 - 7,Public,14.497880,-22.958510,6.0,...,1.00,G_NAM_000067,45:38.5,No,YES,4G,YES,YES,YES,YES
72,b118bc8d-7739-39fa-91cc-5204a57b8233,7226,Karibib Private Center,primary,2,Grade 0 - 7,Private,15.852890,-21.940500,4.0,...,0.96,G_NAM_000073,45:38.5,No,YES,4G,YES,YES,YES,YES

In [37]:
master_w_coverage.head(2)

,giga_school_id,source_school_id,school_name,education_level,category_c,id1,school_type,longitude,latitude,internet_speed_mbps,...,school_density_outlier_flag,dq_score,giga_school_id_seq,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,d64e8b47-18bf-38e4-a27d-60a6762428b5,8808,Ariamsvlei Primary School,primary,2,Grade 0 - 7,Public,19.8408,-28.1322,NaN,...,0,0.93,G_NAM_000001,45:38.5,No,YES,4G,YES,YES,YES
1,dd5ff341-5190-329d-a69a-9b9f6b106009,7023,Bethanie Primary School,primary,2,Grade 0 - 7,Public,17.1558,-26.4986,NaN,...,0,0.93,G_NAM_000002,45:38.5,No,YES,3G,YES,YES,NO

In [31]:
master_w_coverage_connectivity[master_w_coverage_connectivity['coverage_type']=='no coverage'].head(10)

,giga_school_id,source_school_id,school_name,education_level,category_c,id1,school_type,longitude,latitude,internet_speed_mbps,...,dq_score,giga_school_id_seq,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
36,905354b5-25fb-3da9-b30d-e60b5ee093cf,7867,S.C.Vries Primary School,primary,2,Grade 0 - 7,Public,17.818333,-26.459722,NaN,...,1.00,G_NAM_000037,45:38.5,No,NO,no coverage,NO,NO,NO,NO
165,eba98049-6ba5-3004-89b0-041f93f8fb31,8526,Witkop Primary School,primary,2,Grade 0 - 7,Public,17.059722,-23.785000,NaN,...,0.93,G_NAM_000166,45:38.5,No,NO,no coverage,NO,NO,NO,NO
166,d7fc941e-3186-3bb9-a9ef-6637a493d909,8531,Witkrans Primary School,primary,2,Grade 0 - 7,Public,16.415556,-23.754722,NaN,...,1.00,G_NAM_000167,45:38.5,No,NO,no coverage,NO,NO,NO,NO
213,596fb853-1864-34e7-b711-73f99360e4a8,7794,Karukuvisa Junior Primary School,junior primary,2,Grade 0 - 7,Public,19.726811,-18.952553,NaN,...,1.00,G_NAM_000214,45:38.5,No,NO,no coverage,NO,NO,NO,NO
261,3ded94f2-afcb-3642-abdd-59e97cc92a26,7649,Ncushe Junior Primary School,junior primary,2,Grade 0 - 7,Public,19.747220,-18.687780,NaN,...,1.00,G_NAM_000262,45:38.5,No,NO,no coverage,NO,NO,NO,NO
286,030c8325-b5e6-306c-a718-19a209631419,7624,Shakambu Junior Primary School,junior primary,2,Grade 0 - 7,Public,20.076110,-18.266390,NaN,...,1.00,G_NAM_000287,45:38.5,No,NO,no coverage,NO,NO,NO,NO
312,73c414a6-1db0-38c9-8749-8f2e75184c40,7640,Taratara Primary School,primary,2,Grade 0 - 7,Public,20.322222,-18.215833,NaN,...,1.00,G_NAM_000313,45:38.5,No,NO,no coverage,NO,NO,NO,NO
322,375d016a-b557-303b-a166-b49d4c870f32,7919,Zadan Junior Primary School,junior primary,2,Grade 0 - 7,Public,19.734722,-18.991667,NaN,...,1.00,G_NAM_000323,45:38.5,No,NO,no coverage,NO,NO,NO,NO
338,612774cf-8437-3f9c-9784-d56e40c02fc3,7765,Etopenkuru Junior Primary School,junior primary,2,Grade 0 - 7,Public,19.519720,-18.623610,NaN,...,1.00,G_NAM_000339,45:38.5,No,NO,no coverage,NO,NO,NO,NO
343,78040853-5f49-35c9-b0bb-e6a61284ceb1,7669,Gcaruhua Junior Primary School,junior primary,2,Grade 0 - 7,Public,18.918330,-18.008890,NaN,...,1.00,G_NAM_000344,45:38.5,No,NO,no coverage,NO,NO,NO,NO

In [33]:
master_w_coverage_connectivity.head()

,giga_school_id,source_school_id,school_name,education_level,category_c,id1,school_type,longitude,latitude,internet_speed_mbps,...,dq_score,giga_school_id_seq,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
0,d64e8b47-18bf-38e4-a27d-60a6762428b5,8808,Ariamsvlei Primary School,primary,2,Grade 0 - 7,Public,19.8408,-28.1322,NaN,...,0.93,G_NAM_000001,45:38.5,No,YES,4G,YES,YES,YES,NaN
1,dd5ff341-5190-329d-a69a-9b9f6b106009,7023,Bethanie Primary School,primary,2,Grade 0 - 7,Public,17.1558,-26.4986,NaN,...,0.93,G_NAM_000002,45:38.5,No,YES,3G,YES,YES,NO,NaN
2,d482dd65-85c9-30ee-ad3c-74b7fec1eaf8,7854,Blauwes Primary School,primary,2,Grade 0 - 7,Public,18.2750,-26.1411,NaN,...,0.89,G_NAM_000003,45:38.5,No,YES,4G,YES,YES,YES,NaN
3,5b2ca145-aa23-3f4f-a069-4e4e69ba01a1,7035,Chris Lotter Primary School,primary,2,Grade 0 - 7,Public,19.1214,-25.9336,NaN,...,0.93,G_NAM_000004,45:38.5,No,YES,3G,YES,YES,NO,NaN
4,25a080d3-71cd-3940-a32f-372a7c1fc99a,7856,D.C. Frederick Primary School,primary,2,Grade 0 - 7,Public,17.1472,-26.5119,NaN,...,0.93,G_NAM_000005,45:38.5,No,YES,4G,YES,YES,YES,NaN

In [34]:
master_w_coverage_connectivity['coverage'].value_counts()

YES    1724
NO       55
Name: coverage, dtype: int64

In [40]:
master_w_coverage_connectivity.to_csv('./data/NA_master_w_coverage_connectivity.csv', encoding='utf-8')