</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [1]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [11]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [2]:
d_f = pd.read_csv('./data/Brazil_Connectivity.csv',low_memory=False,encoding='utf-8')
d_i = pd.read_csv('./data/BRA_coverage_ITU.csv',low_memory=False,encoding='utf-8')
d_e = pd.read_csv('./data/Brazil_Ericsson_v1.csv',low_memory=False,encoding='utf-8')
#d_g = pd.read_csv('./data/GSMA_RW_Schools_mobile_coverage_v1.csv',low_memory=False,encoding='utf-8')
s_master = pd.read_csv('./data/BR_school_geolocation_master.csv',low_memory=False,encoding='utf-8')

In [6]:
d_f.shape

(175704, 28)

In [7]:
d_e.head(2)

,uuid,country,source,giga_school_id,SCHOOL_CODE,SCHOOL_NAME,LATITUDE,LONGITUDE,hex8,dq_score,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage_present,3G_coverage_present,4G_coverage_present,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,82679ff0-f358-33d0-b3ce-4fc4c2740b7e,Brazil,government,G_BRA_000001,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,-8.7585,-63.8540,888a05915dfffff,0.94,...,Vivo,Claro,Claro,None,Yes,Yes,Yes,No,-1,Ericsson
1,115d27ba-82a1-3744-a3fb-90f216f54f6f,Brazil,government,G_BRA_000002,11000040,EMEIEF PEQUENOS TALENTOS,-8.7937,-63.8839,888a059319fffff,1.00,...,Vivo,Claro,Claro,None,Yes,Yes,Yes,No,-1,Ericsson

In [10]:
d_e.columns

Index(['uuid', 'country', 'source', 'giga_school_id', 'SCHOOL_CODE',
       'SCHOOL_NAME', 'LATITUDE', 'LONGITUDE', 'hex8', 'dq_score', 'duplicate',
       'source_timestamp', 'master_timestamp', 'school_archive',
       'district_code', 'student_count', 'computer_availability',
       'school_type', 'school_region', 'internet_availability',
       'internet_speed_Mbps', 'Coverage', 'Coverage_type', '2G_coverage',
       '3G_coverage', '4G_coverage', '5G_coverage', '2G_coverage_distance',
       '3G_coverage_distance', '4G_coverage_distance', '5G_coverage_distance',
       '2G_Best_Coverage_provider', '3G_Best_Coverage_provider',
       '4G_Best_Coverage_provider', '5G_Best_Coverage_provider',
       '2G_coverage_present', '3G_coverage_present', '4G_coverage_present',
       '5G_coverage_present', 'Distance_to_nearest_tower', 'Data_Source'],
      dtype='object')

In [11]:
d_e.rename(columns={'SCHOOL_NAME':'school_name', '2G_coverage':'2G_quality',
                    '3G_coverage':'3G_quality','4G_coverage':'4G_quality','2G_coverage_present':'2G_coverage', 
                    '3G_coverage_present':'3G_coverage','4G_coverage_present':'4G_coverage',
                    'Coverage':'coverage', 'Coverage_type':'coverage_type'}, inplace=True)
#d_i.rename(columns={'giga_schoo': 'giga_school_id','school_nam':'school_name'}, inplace=True)
#d_f.rename(columns={'school_id': 'giga_school_id','name':'school_name'}, inplace=True)

In [56]:
# cross-profiles the sources with master data for completeness and correctness

In [44]:
# create a separate dfs
master = s_master.copy()
fb = d_f.copy()
ec = d_e.copy()
itu = d_i.copy()
#gsma = d_g.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)
print(cross_profile_fb_master.report())
print(cross_profile_e_master.report())
print(cross_profile_itu_master.report())
#print(cross_profile_gsma_master.report())

#print(cross_profile_fb_master.report())
print(cross_profile_fb_master.report())
fm = open("./data/cross_profile_fb_master_br_report.txt", "a")
print(cross_profile_fb_master.report(), file=fm)
fm.close()

#print(cross_profile_Ericsson_master.report())
print(cross_profile_e_master.report())
em = open("./data/cross_profile_e_master_br_report.txt", "a")
print(cross_profile_e_master.report(), file=em)
em.close()

#print(cross_profile_itu_master.report())
print(cross_profile_itu_master.report())
im = open("./data/cross_profile_itu_master_br_report.txt", "a")
print(cross_profile_itu_master.report(), file=im)
im.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Master       21  175704
1  Facebook       33  175704

Column Summary
--------------

Number of columns in common: 17
Number of columns in Master but not in Facebook: 4
Number of columns in Facebook but not in Master: 16

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Master but not in Facebook: 0
Number of rows in Facebook but not in Master: 0

Number of rows with some compared columns unequal: 175,704
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 16
Total number of values which compare unequal: 175,704

Columns with Unequal Values or Types
------------------------------------

      Column Master dtype Facebook dtype  # Unequal  Max Diff  # Null Diff
0  school_id        int64         object     175704         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id  school_id (Master) school_id (Facebook)
95844    G_BRA_095845            31070068         G_BRA_095845
129657   G_BRA_129658            35205312         G_BRA_129658
33892    G_BRA_033893            21238561         G_BRA_033893
30068    G_BRA_030069            21136106         G_BRA_030069
20070    G_BRA_020071            15572757         G_BRA_020071
127832   G_BRA_127833            35087269         G_BRA_127833
21282    G_BRA_021283            16002857         G_BRA_021283
169873   G_BRA_169874            52091961         G_BRA_169874
26208    G_BRA_026209            21048088         G_BRA_026209
133932   G_BRA_133933            35275025         G_BRA_133933


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Master       21  175704
1  Ericsson       41  175704

Column Summary
--------------

Number of columns in common: 16
Number of columns in Master but not in Ericsson: 5
Number of columns in Ericsson but not in Master: 25

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Master but not in Ericsson: 0
Number of rows in Ericsson but not in Master: 0

Number of rows with some compared columns unequal: 175,704
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 13
Total number of values which compare unequal: 387,091

Columns with Unequal Values or Types
------------------------------------

                  Column Master dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
2  computer_availability       object         object      35683         0        35683
0    internet_speed_mbps      float64         object     175704         0        35683
1       source_timestamp       object         object     175704         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id  internet_speed_mbps (Master) internet_speed_mbps (Ericsson)
155409   G_BRA_155410                           NaN                           None
81448    G_BRA_081449                           NaN                           None
19461    G_BRA_019462                           0.0                              0
18444    G_BRA_018445                           0.0                              0
76535    G_BRA_076536                           0.0                              0
156979   G_BRA_156980                           5.0                              5
108163   G_BRA_108164                           5.0                              5
86139    G_BRA_086140                           NaN                           None
57514    G_BRA_057515                           5.0                              5
19093    G_BRA_019094                           0.0                              0

       giga_school_id source_timestamp (Master) source_timestamp (Ericsson)
25465    G_BRA_025466                   2021-04                   4/21/2021
60862    G_BRA_060863                   2021-04                   4/21/2021
121676   G_BRA_121677                   2021-04                   4/21/2021
46028    G_BRA_046029                   2021-04                   4/21/2021
73152    G_BRA_073153                   2021-04                   4/21/2021
151870   G_BRA_151871                   2021-04                   4/21/2021
114466   G_BRA_114467                   2021-04                   4/21/2021
107196   G_BRA_107197                   2021-04                   4/21/2021
25187    G_BRA_025188                   2021-04                   4/21/2021
19853    G_BRA_019854                   2021-04                   4/21/2021

       giga_school_id computer_availability (Master) computer_availability (Ericsson)
159827   G_BRA_159828                            NaN                             None
78357    G_BRA_078358                            NaN                             None
53892    G_BRA_053893                            NaN                             None
7771     G_BRA_007772                            NaN                             None
27295    G_BRA_027296                            NaN                             None
89463    G_BRA_089464                            NaN                             None
174810   G_BRA_174811                            NaN                             None
67593    G_BRA_067594                            NaN                             None
39054    G_BRA_039055                            NaN                             None
89174    G_BRA_089175                            NaN                             None


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Master       21  175704
1       ITU       41  175704

Column Summary
--------------

Number of columns in common: 13
Number of columns in Master but not in ITU: 8
Number of columns in ITU but not in Master: 28

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 0

Number of rows with some compared columns unequal: 175,704
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 12
Total number of values which compare unequal: 175,704

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype ITU dtype  # Unequal  Max Diff  # Null Diff
0  master_timestamp       object   float64     175704         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id master_timestamp (Master)  master_timestamp (ITU)
133509   G_BRA_133510                   32:36.9             44375.89765
26887    G_BRA_026888                   32:36.9             44375.89765
79449    G_BRA_079450                   32:36.9             44375.89765
134182   G_BRA_134183                   32:36.9             44375.89765
166241   G_BRA_166242                   32:36.9             44375.89765
98923    G_BRA_098924                   32:36.9             44375.89765
48561    G_BRA_048562                   32:36.9             44375.89765
140333   G_BRA_140334                   32:36.9             44375.89765
77835    G_BRA_077836                   32:36.9             44375.89765
141259   G_BRA_141260                   32:36.9             44375.89765


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Master       21  175704
1  Facebook       33  175704

Column Summary
--------------

Number of columns in common: 17
Number of columns in Master but not in Facebook: 4
Number of columns in Facebook but not in Master: 16

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Master but not in Facebook: 0
Number of rows in Facebook but not in Master: 0

Number of rows with some compared columns unequal: 175,704
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 16
Total number of values which compare unequal: 175,704

Columns with Unequal Values or Types
------------------------------------

      Column Master dtype Facebook dtype  # Unequal  Max Diff  # Null Diff
0  school_id        int64         object     175704         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id  school_id (Master) school_id (Facebook)
80559    G_BRA_080560            29186340         G_BRA_080560
165080   G_BRA_165081            51035502         G_BRA_165081
61774    G_BRA_061775            26019230         G_BRA_061775
125520   G_BRA_125521            35052462         G_BRA_125521
152504   G_BRA_152505            42122694         G_BRA_152505
32986    G_BRA_032987            21219168         G_BRA_032987
108265   G_BRA_108266            31342335         G_BRA_108266
93205    G_BRA_093206            31022501         G_BRA_093206
25644    G_BRA_025645            21037671         G_BRA_025645
104622   G_BRA_104623            31245208         G_BRA_104623


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Master       21  175704
1  Ericsson       41  175704

Column Summary
--------------

Number of columns in common: 16
Number of columns in Master but not in Ericsson: 5
Number of columns in Ericsson but not in Master: 25

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Master but not in Ericsson: 0
Number of rows in Ericsson but not in Master: 0

Number of rows with some compared columns unequal: 175,704
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 13
Total number of values which compare unequal: 387,091

Columns with Unequal Values or Types
------------------------------------

                  Column Master dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
2  computer_availability       object         object      35683         0        35683
0    internet_speed_mbps      float64         object     175704         0        35683
1       source_timestamp       object         object     175704         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id  internet_speed_mbps (Master) internet_speed_mbps (Ericsson)
118877   G_BRA_118878                           0.0                              0
100251   G_BRA_100252                           0.0                              0
4663     G_BRA_004664                           0.0                              0
78911    G_BRA_078912                           2.0                              2
116320   G_BRA_116321                           5.0                              5
128457   G_BRA_128458                           NaN                           None
122401   G_BRA_122402                           5.0                              5
47280    G_BRA_047281                           0.0                              0
43316    G_BRA_043317                           5.0                              5
122671   G_BRA_122672                           5.0                              5

       giga_school_id source_timestamp (Master) source_timestamp (Ericsson)
1102     G_BRA_001103                   2021-04                   4/21/2021
123018   G_BRA_123019                   2021-04                   4/21/2021
95071    G_BRA_095072                   2021-04                   4/21/2021
163968   G_BRA_163969                   2021-04                   4/21/2021
65728    G_BRA_065729                   2021-04                   4/21/2021
55597    G_BRA_055598                   2021-04                   4/21/2021
102278   G_BRA_102279                   2021-04                   4/21/2021
92175    G_BRA_092176                   2021-04                   4/21/2021
24712    G_BRA_024713                   2021-04                   4/21/2021
85584    G_BRA_085585                   2021-04                   4/21/2021

       giga_school_id computer_availability (Master) computer_availability (Ericsson)
103645   G_BRA_103646                            NaN                             None
2266     G_BRA_002267                            NaN                             None
50068    G_BRA_050069                            NaN                             None
90243    G_BRA_090244                            NaN                             None
77788    G_BRA_077789                            NaN                             None
62884    G_BRA_062885                            NaN                             None
6918     G_BRA_006919                            NaN                             None
41251    G_BRA_041252                            NaN                             None
175494   G_BRA_175495                            NaN                             None
2453     G_BRA_002454                            NaN                             None


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0    Master       21  175704
1       ITU       41  175704

Column Summary
--------------

Number of columns in common: 13
Number of columns in Master but not in ITU: 8
Number of columns in ITU but not in Master: 28

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 0

Number of rows with some compared columns unequal: 175,704
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 12
Total number of values which compare unequal: 175,704

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype ITU dtype  # Unequal  Max Diff  # Null Diff
0  master_timestamp       object   float64     175704         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id master_timestamp (Master)  master_timestamp (ITU)
10573    G_BRA_010574                   32:36.9             44375.89765
34438    G_BRA_034439                   32:36.9             44375.89765
136749   G_BRA_136750                   32:36.9             44375.89765
23313    G_BRA_023314                   32:36.9             44375.89765
3919     G_BRA_003920                   32:36.9             44375.89765
75912    G_BRA_075913                   32:36.9             44375.89765
22848    G_BRA_022849                   32:36.9             44375.89765
151080   G_BRA_151081                   32:36.9             44375.89765
127892   G_BRA_127893                   32:36.9             44375.89765
171673   G_BRA_171674                   32:36.9             44375.89765

In [58]:
# some colunm names standardization

In [59]:
#d_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
#d_i.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)
#d_g.rename(columns={'giga_schoo': 'giga_school_id'}, inplace=True)

In [60]:
# cross-profiles the sources with master data for completeness and correctness

In [61]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [13]:
#d_e['coverage'] = np.where((d_e['2G_coverage']== 'None') & (d_e['3G_coverage']== 'None')& (d_e['4G_coverage']== 'None'), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2g'].isnull()) & (d_f['percent_3g'].isnull())& (d_f['percent_4g'].isnull()), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2g']<=0) & (d_f['percent_3g']<=0) & (d_f['percent_4g']<=0), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G'].isnull()) & (d_i['3G'].isnull())& (d_i['4G'].isnull()), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G']<=0) & (d_i['3G']<=0) & (d_i['4G']<=0), 'NO', 'YES')

In [63]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [14]:
d_f['2G_coverage'] = np.where((d_f['percent_2g'] > 0), 'YES', 'NO')
d_f['3G_coverage'] = np.where((d_f['percent_3g'] > 0), 'YES', 'NO')
d_f['4G_coverage'] = np.where((d_f['percent_4g'] > 0), 'YES', 'NO')

In [15]:
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [66]:
#d_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [67]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [16]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [17]:
d_f['coverage_type'] = d_f.apply((lambda x: coverage_type(x)),axis=1)
#d_e['coverage_type'] = d_e.apply((lambda x: coverage_type(x)),axis=1)
d_i['coverage_type'] = d_i.apply((lambda x: coverage_type(x)),axis=1)

In [18]:
d_e.head(1)

,uuid,country,source,giga_school_id,SCHOOL_CODE,school_name,LATITUDE,LONGITUDE,hex8,dq_score,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage,3G_coverage,4G_coverage,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,82679ff0-f358-33d0-b3ce-4fc4c2740b7e,Brazil,government,G_BRA_000001,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,-8.7585,-63.854,888a05915dfffff,0.94,...,Vivo,Claro,Claro,None,Yes,Yes,Yes,No,-1,Ericsson

In [71]:
#d_e.rename(columns={'2G_coverage_present':'2G_coverage', '3G_coverage_present':'3G_coverage','4G_coverage_present':'4G_coverage', 'Coverage':'coverage', 'Coverage_type':'coverage_type'}, inplace=True)

In [72]:
# isolating the needed colunms from the rest

In [19]:
features = ['giga_school_id','coverage','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [20]:
d_fc = d_f[features]
#d_ec = d_e[features]
d_it = d_i[features]
d_ec = d_e[features]

In [31]:
# more sanity checks for nan on giga_school_id

In [21]:
d_fc = d_fc[d_fc['giga_school_id'].notna()]
#d_ec = d_ec[d_ec['giga_school_id'].notna()]
d_it = d_it[d_it['giga_school_id'].notna()]
d_ec = d_ec[d_ec['giga_school_id'].notna()]

In [22]:
d_ec.loc[d_ec['2G_coverage'] == 'Yes', '2G_coverage'] = 'YES'
d_ec.loc[d_ec['3G_coverage'] == 'Yes', '3G_coverage'] = 'YES'
d_ec.loc[d_ec['4G_coverage'] == 'Yes', '4G_coverage'] = 'YES'
d_ec.loc[d_ec['coverage'] == 'Yes', 'coverage'] = 'YES'

d_ec.loc[d_ec['2G_coverage'] == 'No', '2G_coverage'] = 'NO'
d_ec.loc[d_ec['3G_coverage'] == 'No', '3G_coverage'] = 'NO'
d_ec.loc[d_ec['4G_coverage'] == 'No', '4G_coverage'] = 'NO'
d_ec.loc[d_ec['coverage'] == 'No', 'coverage'] = 'NO'

In [23]:
d_ec.loc[d_ec['2G_coverage'].isnull(), '2G_coverage'] = 'NO'
d_ec.loc[d_ec['3G_coverage'].isnull(), '3G_coverage'] = 'NO'
d_ec.loc[d_ec['4G_coverage'].isnull(), '4G_coverage'] = 'NO'
d_ec.loc[d_ec['coverage'].isnull(), 'coverage'] = 'NO'
d_ec.loc[d_ec['coverage_type'].isnull(), 'coverage_type'] = 'NO'

In [76]:
# visually comparing the sources for matches and mismatches across the columns

In [26]:
d_fc.shape

(175704, 6)

In [27]:
df_all = pd.concat([d_fc.set_index('giga_school_id'), d_ec.set_index('giga_school_id'),d_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'Ericsson', 'ITU'])
df_all.head()

             Facebook                                                    \
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_BRA_000316      YES            4G         YES         YES         YES
G_BRA_000168      YES            4G         YES         YES         YES
G_BRA_000576      YES            4G         YES         YES         YES
G_BRA_000627      YES            4G         YES         YES         YES
G_BRA_000711      YES            4G         YES         YES         YES

             Ericsson                                                    \
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_BRA_000316      YES            4G         YES         YES         YES
G_BRA_000168      YES            4G         YES         YES         YES
G_BRA_000576      YES            4G         YES         YES         YES
G_BRA_000627       NO          None          NO          NO          NO
G_BRA_000711       NO          None          NO          NO          NO

                  ITU
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_BRA_000316      YES            3G         YES         YES          NO
G_BRA_000168      YES            3G         YES         YES          NO
G_BRA_000576      YES            3G         YES         YES          NO
G_BRA_000627       NO          None          NO          NO          NO
G_BRA_000711       NO          None          NO          NO          NO

In [28]:
d_ec.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0   G_BRA_000001      YES            4G         YES         YES         YES
1   G_BRA_000002      YES            4G         YES         YES         YES
2   G_BRA_000003      YES            4G         YES         YES         YES
3   G_BRA_000004      YES            4G         YES         YES         YES
4   G_BRA_000005      YES            4G         YES         YES         YES

In [29]:
df_final = df_all.swaplevel(axis='columns')[d_fc.columns[1:]]
df_final.head()

             coverage               coverage_type                2G_coverage  \
             Facebook Ericsson  ITU      Facebook Ericsson   ITU    Facebook
G_BRA_000316      YES      YES  YES            4G       4G    3G         YES
G_BRA_000168      YES      YES  YES            4G       4G    3G         YES
G_BRA_000576      YES      YES  YES            4G       4G    3G         YES
G_BRA_000627      YES       NO   NO            4G     None  None         YES
G_BRA_000711      YES       NO   NO            4G     None  None         YES

                           3G_coverage               4G_coverage
             Ericsson  ITU    Facebook Ericsson  ITU    Facebook Ericsson ITU
G_BRA_000316      YES  YES         YES      YES  YES         YES      YES  NO
G_BRA_000168      YES  YES         YES      YES  YES         YES      YES  NO
G_BRA_000576      YES  YES         YES      YES  YES         YES      YES  NO
G_BRA_000627       NO   NO         YES       NO   NO         YES       NO  NO
G_BRA_000711       NO   NO         YES       NO   NO         YES       NO  NO

In [30]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [92]:
# coverage comparison report

In [43]:
# create a separate dfs
fbc = d_fc.copy()
#ecc = d_ec.copy()
ituc = d_it.copy()
ecc = d_ec.copy()

# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)

cross_profile_facebook_ec = datacompy.Compare(
fbc,
ecc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='GSMA'
)


#print(cross_profile_fb_ec.report())
print(cross_profile_fb_itu.report())
fi = open("./data/cross_profile_fb_itu_report.txt", "a")
print(cross_profile_fb_itu.report(), file=fi)
fi.close()
#print(cross_profile_Ericsson_itu.report())
print(cross_profile_facebook_ec.report())
fe = open("./data/cross_profile_fb_ec_report.txt", "a")
print(cross_profile_fb_ec.report(), file=fe)
fe.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0  Facebook        6  175704
1       ITU        6  175704

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 0

Number of rows with some compared columns unequal: 152,254
Number of rows with all compared columns equal: 23,450

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 486,306

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object    object      45899         0            0
1    3g_coverage         object    object      92021         0            0
3    4g_coverage         object    object     152063         0            0
0       coverage         object    object      44260         0            0
4  coverage_type         object    object     152063         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id coverage (Facebook) coverage (ITU)
51432    G_BRA_013600                 YES             NO
34529    G_BRA_008517                 YES             NO
13011    G_BRA_040266                 YES             NO
56388    G_BRA_071114                 YES             NO
62229    G_BRA_028729                 YES             NO
98833    G_BRA_008547                 YES             NO
14445    G_BRA_027728                 YES             NO
53836    G_BRA_087882                 YES             NO
154020   G_BRA_074130                 YES             NO
173165   G_BRA_022675                 YES             NO

       giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
5764     G_BRA_060295                    YES                NO
133904   G_BRA_168594                    YES                NO
61924    G_BRA_102386                    YES                NO
90426    G_BRA_170581                    YES                NO
55103    G_BRA_102091                    YES                NO
17783    G_BRA_042232                    YES                NO
33298    G_BRA_015236                    YES                NO
30870    G_BRA_091849                    YES                NO
149293   G_BRA_079154                    YES                NO
172521   G_BRA_086817                    YES                NO

       giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
19055    G_BRA_042048                    YES                NO
80133    G_BRA_034831                    YES                NO
18571    G_BRA_101938                    YES                NO
32266    G_BRA_018642                    YES                NO
165589   G_BRA_006543                    YES                NO
98911    G_BRA_023648                    YES                NO
134612   G_BRA_084343                    YES                NO
159262   G_BRA_004566                    YES                NO
595      G_BRA_020185                    YES                NO
111780   G_BRA_068441                    YES                NO

       giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
168579   G_BRA_079145                    YES                NO
32877    G_BRA_110606                    YES                NO
71416    G_BRA_146451                    YES                NO
139285   G_BRA_137050                    YES                NO
67807    G_BRA_085136                    YES                NO
165909   G_BRA_125534                    YES                NO
68157    G_BRA_133687                    YES                NO
88520    G_BRA_075956                    YES                NO
33060    G_BRA_022088                    YES                NO
80350    G_BRA_110777                    YES                NO

       giga_school_id coverage_type (Facebook) coverage_type (ITU)
114112   G_BRA_038547                       4G                  3G
56998    G_BRA_106551                       4G                  3G
174423   G_BRA_061400                       4G                  2G
133209   G_BRA_173092                       4G                  3G
31203    G_BRA_007852                       4G                None
43703    G_BRA_030598                       4G                  3G
21386    G_BRA_074612                       4G                  3G
63092    G_BRA_060526                       4G                  2G
26296    G_BRA_024192                       4G                  2G
93312    G_BRA_107861                       4G                  3G


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns    Rows
0  Facebook        6  175704
1      GSMA        6  175704

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in GSMA: 0
Number of columns in GSMA but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 175,704
Number of rows in Facebook but not in GSMA: 0
Number of rows in GSMA but not in Facebook: 0

Number of rows with some compared columns unequal: 38,173
Number of rows with all compared columns equal: 137,531

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 146,626

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype GSMA dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object     object      27476         0            0
1    3g_coverage         object     object      27291         0            0
3    4g_coverage         object     object      27725         0            0
0       coverage         object     object      26867         0            0
4  coverage_type         object     object      37267         0            0

Sample Rows with Unequal Values
-------------------------------

       giga_school_id coverage (Facebook) coverage (GSMA)
1275     G_BRA_102089                 YES              NO
140866   G_BRA_081535                 YES              NO
3785     G_BRA_040295                 YES              NO
100807   G_BRA_025348                 YES              NO
134903   G_BRA_005315                 YES              NO
76762    G_BRA_006898                 YES              NO
33435    G_BRA_034823                 YES              NO
72682    G_BRA_076800                 YES              NO
62420    G_BRA_022424                 YES              NO
121456   G_BRA_010475                 YES              NO

       giga_school_id 3g_coverage (Facebook) 3g_coverage (GSMA)
167039   G_BRA_156502                    YES                 NO
115688   G_BRA_027499                    YES                 NO
98894    G_BRA_019830                    YES                 NO
105839   G_BRA_076155                    YES                 NO
85405    G_BRA_068271                    YES                 NO
37938    G_BRA_020364                    YES                 NO
139329   G_BRA_165911                    YES                 NO
148692   G_BRA_035972                    YES                 NO
39895    G_BRA_021486                    YES                 NO
149764   G_BRA_040218                    YES                 NO

       giga_school_id 2g_coverage (Facebook) 2g_coverage (GSMA)
143012   G_BRA_006856                    YES                 NO
84802    G_BRA_144197                    YES                 NO
26519    G_BRA_019035                    YES                 NO
30412    G_BRA_040200                    YES                 NO
4572     G_BRA_093781                    YES                 NO
18731    G_BRA_061873                    YES                 NO
52047    G_BRA_011046                    YES                 NO
12601    G_BRA_023188                    YES                 NO
23719    G_BRA_021848                    YES                 NO
55546    G_BRA_036539                    YES                 NO

       giga_school_id 4g_coverage (Facebook) 4g_coverage (GSMA)
147652   G_BRA_164708                    YES                 NO
84644    G_BRA_085227                    YES                 NO
20672    G_BRA_014878                    YES                 NO
25688    G_BRA_001341                    YES                 NO
15897    G_BRA_046601                    YES                 NO
79268    G_BRA_010658                    YES                 NO
105394   G_BRA_158828                    YES                 NO
85732    G_BRA_078176                    YES                 NO
25482    G_BRA_016206                    YES                 NO
105551   G_BRA_081606                    YES                 NO

       giga_school_id coverage_type (Facebook) coverage_type (GSMA)
45572    G_BRA_066779                       4G                 None
26506    G_BRA_016101                       4G                 None
41613    G_BRA_012926                       4G                   2G
42314    G_BRA_021328                       4G                 None
47402    G_BRA_073370                       4G                 None
120501   G_BRA_106709                       4G                 None
131153   G_BRA_085823                       4G                   3G
11770    G_BRA_010886                       4G                 None
68388    G_BRA_075016                       4G                 None
137162   G_BRA_145791                       4G                   3G

NameError: name 'cross_profile_fb_ec' is not defined

In [39]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [32]:
#import statistics as stats
df_c = pd.concat([d_fc,d_ec,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x:x.value_counts().index[0])
coverage['coverage_type'] = coverage.apply((lambda x: coverage_type(x)),axis=1)
#coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x: stats.mode(x)[0][0])

In [33]:
coverage.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0   G_BRA_000001      YES            4G         YES         YES         YES
1   G_BRA_000002      YES            4G         YES         YES         YES
2   G_BRA_000003      YES            4G         YES         YES         YES
3   G_BRA_000004      YES            4G         YES         YES         YES
4   G_BRA_000005      YES            4G         YES         YES         YES

In [34]:
coverage['coverage'] = np.where((coverage['2G_coverage']=='YES') | (coverage['3G_coverage']=='YES') | (coverage['4G_coverage']=='YES'), 'YES', 'NO')

In [35]:
coverage[coverage['coverage']=='NO'].head(10)

   giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
10   G_BRA_000011       NO          None          NO          NO          NO
16   G_BRA_000017       NO          None          NO          NO          NO
17   G_BRA_000018       NO          None          NO          NO          NO
19   G_BRA_000020       NO          None          NO          NO          NO
24   G_BRA_000025       NO          None          NO          NO          NO
27   G_BRA_000028       NO          None          NO          NO          NO
28   G_BRA_000029       NO          None          NO          NO          NO
30   G_BRA_000031       NO          None          NO          NO          NO
34   G_BRA_000035       NO          None          NO          NO          NO
37   G_BRA_000038       NO          None          NO          NO          NO

In [36]:
coverage[coverage['coverage']=='NO'].shape

(23888, 6)

In [97]:
#coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_gs.coverage_type

In [37]:
master.head()

,uuid,country,source,giga_school_id,school_id,name,lat,lon,hex8,dq_score,...,source_timestamp,master_timestamp,school_archive,district_code,student_count,computer_availability,school_type,school_region,connectivity,internet_speed_mbps
0,82679ff0-f358-33d0-b3ce-4fc4c2740b7e,Brazil,government,G_BRA_000001,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,-8.7585,-63.8540,888a05915dfffff,0.94,...,2021-04,32:36.9,No,110020505,174,Yes,Estadual,Urban,Yes,5.0
1,115d27ba-82a1-3744-a3fb-90f216f54f6f,Brazil,government,G_BRA_000002,11000040,EMEIEF PEQUENOS TALENTOS,-8.7937,-63.8839,888a059319fffff,1.00,...,2021-04,32:36.9,No,110020505,205,No,Municipal,Urban,Yes,5.0
2,3d7fb661-61a4-33b3-bc3a-33455b75f7d9,Brazil,government,G_BRA_000003,11000201,EMEF PROF HERBERT DE ALENCAR,-8.7640,-63.8783,888a059061fffff,0.94,...,2021-04,32:36.9,No,110020505,407,Yes,Municipal,Urban,Yes,5.0
3,9507b9e6-4ea6-3cfc-b0c5-4c0b9f64c711,Brazil,government,G_BRA_000004,11000260,COLEGIO TIRADENTES DA POLICIA MILITAR DO ESTAD...,-8.7383,-63.8791,888a059021fffff,1.00,...,2021-04,32:36.9,No,110020505,1457,Yes,Estadual,Urban,Yes,5.0
4,b5ec97ef-a418-35da-b161-3971c87ac36d,Brazil,government,G_BRA_000005,11000309,ESCOLA MUNICIPAL DE EDUCACAO INFANTIL MARISE C...,-8.7508,-63.9087,888a05900bfffff,1.00,...,2021-04,32:36.9,No,110020505,499,No,Municipal,Urban,No,0.0

In [38]:
master_w_coverage = master.merge(coverage, how="left", on=["giga_school_id"])
master_w_coverage.to_csv('./data/BR_master_w_coverage.csv', encoding='utf-8')
master_w_coverage_connectivity = master_w_coverage.copy()
#master_w_coverage_connectivity['connectivity_availability'] = np.where((master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'connectivity'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'coverage_type'] = 'None'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage_type'] = 'no coverage'
master_w_coverage_connectivity.to_csv('./data/BR_master_w_coverage_connectivity.csv', encoding='utf-8')

In [39]:
master_w_coverage.head(2)

,uuid,country,source,giga_school_id,school_id,name,lat,lon,hex8,dq_score,...,computer_availability,school_type,school_region,connectivity,internet_speed_mbps,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,82679ff0-f358-33d0-b3ce-4fc4c2740b7e,Brazil,government,G_BRA_000001,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,-8.7585,-63.8540,888a05915dfffff,0.94,...,Yes,Estadual,Urban,Yes,5.0,YES,4G,YES,YES,YES
1,115d27ba-82a1-3744-a3fb-90f216f54f6f,Brazil,government,G_BRA_000002,11000040,EMEIEF PEQUENOS TALENTOS,-8.7937,-63.8839,888a059319fffff,1.00,...,No,Municipal,Urban,Yes,5.0,YES,4G,YES,YES,YES

In [40]:
master_w_coverage_connectivity[master_w_coverage_connectivity['coverage_type']=='no coverage'].head(10)

,uuid,country,source,giga_school_id,school_id,name,lat,lon,hex8,dq_score,...,computer_availability,school_type,school_region,connectivity,internet_speed_mbps,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
10,dd0e6466-2414-3281-9971-ca023cdd7b5a,Brazil,government,G_BRA_000011,11000449,EMEF ANIBAL MARTINS,-8.3259,-63.4920,888a05cdd3fffff,0.94,...,NaN,Municipal,Rural,NO,NaN,NO,no coverage,NO,NO,NO
16,79a70405-cccb-36b0-8c76-973466dda1e4,Brazil,government,G_BRA_000017,11000562,EMEF BARAO DO RIO BRANCO,-9.5285,-65.4588,888a2cc287fffff,1.00,...,No,Municipal,Urban,NO,0.0,NO,no coverage,NO,NO,NO
17,f4c0773c-e63d-32ab-af6b-f6db657c8ef6,Brazil,government,G_BRA_000018,11000589,EMEIF SENADOR DARCY RIBEIR0,-11.2232,-62.5241,888b1b26d7fffff,1.00,...,No,Municipal,Rural,NO,5.0,NO,no coverage,NO,NO,NO
19,46aae809-1dab-3c26-b8e7-2fc9c470839f,Brazil,government,G_BRA_000020,11000635,EMEF BOHEMUNDO ALVARES AFONSO,-9.0390,-63.8952,888a2339c9fffff,0.61,...,No,Municipal,Rural,NO,0.0,NO,no coverage,NO,NO,NO
24,3ea5a628-1407-3b2c-bd3d-da78e6098afe,Brazil,government,G_BRA_000025,11000724,EMEF CARANA,-9.0390,-63.8952,888a2339c9fffff,0.94,...,NaN,Municipal,Rural,NO,NaN,NO,no coverage,NO,NO,NO
27,176a418f-3441-3934-92cf-3b91f904f0a0,Brazil,government,G_BRA_000028,11000864,EMEF DEIGMAR MORAES DE SOUZA,-9.0390,-63.8952,888a2339c9fffff,0.61,...,No,Municipal,Rural,NO,5.0,NO,no coverage,NO,NO,NO
28,e24ed586-64f8-3441-a902-c833dfdcd22e,Brazil,government,G_BRA_000029,11000899,EMEF DR JOAO FERNANDES,-8.3259,-63.4920,888a05cdd3fffff,0.94,...,NaN,Municipal,Rural,NO,NaN,NO,no coverage,NO,NO,NO
30,da064fec-a575-3f42-af66-072a79bd28c2,Brazil,government,G_BRA_000031,11000945,EMEF DR RENATO MEDEIROS,-8.3259,-63.4920,888a05cdd3fffff,0.94,...,NaN,Municipal,Rural,NO,NaN,NO,no coverage,NO,NO,NO
34,534ff8f4-8ca5-3a19-935e-353cecb00279,Brazil,government,G_BRA_000035,11001011,EMEF ERMELINDO MONTEIRO BRASIL,-9.0390,-63.8952,888a2339c9fffff,0.61,...,No,Municipal,Rural,NO,5.0,NO,no coverage,NO,NO,NO
37,b02b9028-2023-38b0-962b-c9aa9a049d5d,Brazil,government,G_BRA_000038,11001070,EMEF FRANCISCO BRAGA,-8.3259,-63.4920,888a05cdd3fffff,0.61,...,No,Municipal,Rural,NO,0.0,NO,no coverage,NO,NO,NO

In [41]:
master_w_coverage_connectivity.head()

,uuid,country,source,giga_school_id,school_id,name,lat,lon,hex8,dq_score,...,computer_availability,school_type,school_region,connectivity,internet_speed_mbps,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,82679ff0-f358-33d0-b3ce-4fc4c2740b7e,Brazil,government,G_BRA_000001,11000023,EEEE ABNAEL MACHADO DE LIMA - CENE,-8.7585,-63.8540,888a05915dfffff,0.94,...,Yes,Estadual,Urban,Yes,5.0,YES,4G,YES,YES,YES
1,115d27ba-82a1-3744-a3fb-90f216f54f6f,Brazil,government,G_BRA_000002,11000040,EMEIEF PEQUENOS TALENTOS,-8.7937,-63.8839,888a059319fffff,1.00,...,No,Municipal,Urban,Yes,5.0,YES,4G,YES,YES,YES
2,3d7fb661-61a4-33b3-bc3a-33455b75f7d9,Brazil,government,G_BRA_000003,11000201,EMEF PROF HERBERT DE ALENCAR,-8.7640,-63.8783,888a059061fffff,0.94,...,Yes,Municipal,Urban,Yes,5.0,YES,4G,YES,YES,YES
3,9507b9e6-4ea6-3cfc-b0c5-4c0b9f64c711,Brazil,government,G_BRA_000004,11000260,COLEGIO TIRADENTES DA POLICIA MILITAR DO ESTAD...,-8.7383,-63.8791,888a059021fffff,1.00,...,Yes,Estadual,Urban,Yes,5.0,YES,4G,YES,YES,YES
4,b5ec97ef-a418-35da-b161-3971c87ac36d,Brazil,government,G_BRA_000005,11000309,ESCOLA MUNICIPAL DE EDUCACAO INFANTIL MARISE C...,-8.7508,-63.9087,888a05900bfffff,1.00,...,No,Municipal,Urban,No,0.0,YES,4G,YES,YES,YES

In [42]:
master_w_coverage_connectivity['coverage'].value_counts()

YES    151816
NO      23888
Name: coverage, dtype: int64