</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [1]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [11]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [47]:
d_f = pd.read_csv('./data/Kenya_Connectivity_updated_9_15.csv',low_memory=False,encoding='utf-8')
d_i = pd.read_csv('./data/ken_school_processed.csv',low_memory=False,encoding='utf-8')
d_e = pd.read_csv('./data/Kenya_Ericsson_v2.csv',low_memory=False,encoding='utf-8')
#d_g = pd.read_csv('./data/GSMA_RW_Schools_mobile_coverage_v1.csv',low_memory=False,encoding='utf-8')
s_master = pd.read_csv('./data/kenya_school_geolocation_master_v2.csv',low_memory=False,encoding='utf-8')

In [48]:
d_i.shape

(37903, 27)

In [82]:
d_e.head(2)

,giga_school_id,school_name,LATITUDE,LONGITUDE,uuid,coverage,coverage_type,2G_quality,3G_quality,4G_quality,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage,3G_coverage,4G_coverage,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,G_KEN_000026,ST VINCENT OMWARI MIXED,-0.657218,34.651425,3403c6bd-12e8-305a-8c4a-609a5dadcbda,Yes,4G,Fair,Good,Fair,...,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1.0,Ericsson
1,G_KEN_000057,KANYAWANGA,-0.792565,34.590087,d12ef413-bd69-32b3-bdae-4eaf70928cd1,Yes,4G,Good,Good,Fair,...,Telkom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1.0,Ericsson

In [43]:
d_i.columns

Index(['uuid', 'country_co', 'source', 'giga_schoo', 'source_sch',
       'school_nam', 'education_', 'region', 'latitude', 'longitude',
       'fiber_node', 'nearest_sc', 'Schools_wi', 'Schools__1', 'Schools__2',
       'nearest_LT', 'nearest__1', 'nearest_UM', 'nearest__2', 'nearest_GS',
       'nearest__3', '2G', '3G', '4G', 'pop_within', 'pop_with_1',
       'pop_with_2'],
      dtype='object')

In [50]:
d_e.rename(columns={'SCHOOL_CODE':'giga_school_id', 'SCHOOL_NAME':'school_name', '2G_coverage':'2G_quality',
                    '3G_coverage':'3G_quality','4G_coverage':'4G_quality','2G_coverage_present':'2G_coverage', 
                    '3G_coverage_present':'3G_coverage','4G_coverage_present':'4G_coverage',
                    'Coverage':'coverage', 'Coverage_type':'coverage_type'}, inplace=True)
d_i.rename(columns={'giga_schoo': 'giga_school_id','school_nam':'school_name'}, inplace=True)
#d_f.rename(columns={'school_id': 'giga_school_id','name':'school_name'}, inplace=True)

In [56]:
# cross-profiles the sources with master data for completeness and correctness

In [51]:
# create a separate dfs
master = s_master.copy()
fb = d_f.copy()
ec = d_e.copy()
itu = d_i.copy()
#gsma = d_g.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)
print(cross_profile_fb_master.report())
print(cross_profile_e_master.report())
print(cross_profile_itu_master.report())
#print(cross_profile_gsma_master.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Master       17  37903
1  Facebook       21  37903

Column Summary
--------------

Number of columns in common: 14
Number of columns in Master but not in Facebook: 3
Number of columns in Facebook but not in Master: 7

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 37,903
Number of rows in Master but not in Facebook: 0
Number of rows in Facebook but not in Master: 0

Number of rows with some compared columns unequal: 34,337
Number of rows with all compared columns equal: 3,566

Column Comparison
-----------------

Number of columns compared with some values unequal: 2
Number of columns compared with all values equal: 12
Total number of values which compare unequal: 34,858

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype Facebook dtype  # Unequal  Max Diff  # Null Diff
1  school_name       object         object        628         0            0
0       source       object         object      34230         0            0

Sample Rows with Unequal Values
-------------------------------

      giga_school_id               source (Master)               source (Facebook)
23345   G_KEN_023346   Ministry of Education, 2016   "Ministry of Education, 2016"
7296    G_KEN_007297  Open Data Kenya, School 2007  "Open Data Kenya, School 2007"
36354   G_KEN_036355   Ministry of Education, 2016   "Ministry of Education, 2016"
34722   G_KEN_034723  Open Data Kenya, School 2007  "Open Data Kenya, School 2007"
26973   G_KEN_026974   Ministry of Education, 2016   "Ministry of Education, 2016"
3696    G_KEN_003697   Ministry of Education, 2016   "Ministry of Education, 2016"
12297   G_KEN_012298   Ministry of Education, 2016   "Ministry of Education, 2016"
33720   G_KEN_033721  Open Data Kenya, School 2007  "Open Data Kenya, School 2007"
21670   G_KEN_021671   Ministry of Education, 2016   "Ministry of Education, 2016"
15057   G_KEN_015058   Ministry of Education, 2016   "Ministry of Education, 2016"

      giga_school_id                school_name (Master)              school_name (Facebook)
36273   G_KEN_036274  MT. OLIVE'S EDUCATION CENTRE - PRI  MT. OLIVE_S EDUCATION CENTRE - PRI
7622    G_KEN_007623            ST. JOSEPH LUNYU 'K' PRY            ST. JOSEPH LUNYU _K_ PRY
35207   G_KEN_035208      ST MARY'S MUTENYO SPECIAL UNIT      ST MARY_S MUTENYO SPECIAL UNIT
11579   G_KEN_011580                          MANG'ULIRO                          MANG_ULIRO
19901   G_KEN_019902                            MIHANG'O                            MIHANG_O
29926   G_KEN_029927            ST JOSEPH'S BINYENYA SEC            ST JOSEPH_S BINYENYA SEC
5282    G_KEN_005283                 AIC NAISAMBU GIRLS'                 AIC NAISAMBU GIRLS_
11568   G_KEN_011569                        MUKHONJE 'K'                        MUKHONJE _K_
28879   G_KEN_028880           ST. XAVIER'S ACA. PRY SCH           ST. XAVIER_S ACA. PRY SCH
26960   G_KEN_026961             ST. ANNE'S SCHOOL LUOKI             ST. ANNE_S SCHOOL LUOKI


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Master       17  37903
1  Ericsson       25  37903

Column Summary
--------------

Number of columns in common: 5
Number of columns in Master but not in Ericsson: 12
Number of columns in Ericsson but not in Master: 20

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 37,888
Number of rows in Master but not in Ericsson: 15
Number of rows in Ericsson but not in Master: 15

Number of rows with some compared columns unequal: 14
Number of rows with all compared columns equal: 37,874

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 4
Total number of values which compare unequal: 14

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
0  school_name       object         object         14         0            0

Sample Rows with Unequal Values
-------------------------------

      giga_school_id                                            school_name (Master)                         school_name (Ericsson)
34920   G_KEN_034921                                              OUR LADY OF MERCY                               OUR LADY OF MERCY
29472   G_KEN_029473                                             SHIGOG ACADEMY PRI                              SHIGOG ACADEMY PRI
37738   G_KEN_037739                  CEREBRAL PASYL FOUNDATION CENTRE SPECIAL UNIT   CEREBRAL PASYL FOUNDATION CENTRE SPECIAL UNIT
35738   G_KEN_035739                                             IQRA ACADEMY - PRI                              IQRA ACADEMY - PRI
17866   G_KEN_017867  ST DOMINIC KAONGO K MAUGU DAY&AMP;AMP;AMP;AMP;AMP;BOARDING SCH     ST DOMINIC KAONGO K MAUGU DAY BOARDING SCH
37736   G_KEN_037737                                           TUDOR JUNIOR ACADEMY                            TUDOR JUNIOR ACADEMY
29739   G_KEN_029740                                           GOODWILL ACADEMY 'B'                            GOODWILL ACADEMY 'B'
20376   G_KEN_020377                                  MUTHARA CIRCUIT DAY &AMP; BRD.                 MUTHARA CIRCUIT DAY & AMP BRD.
37877   G_KEN_037878                                                BAHARI PREP PRY                                 BAHARI PREP PRY
35716   G_KEN_035717                                  MARTIAL CAILLARD CATHOLIC PRY                   MARTIAL CAILLARD CATHOLIC PRY

Sample Rows Only in Master (First 10 Columns)
---------------------------------------------

         index                                  uuid country country_code                        source giga_school_id  source_school_id                               school_name education_level  latitude
1566   10653.0  c892db56-f86c-3a04-90c8-32c47d07f920   Kenya          KEN  Open Data Kenya, School 2007   G_KEN_001567       200718827.0                    CHEPKISWET "B" PRIMARY         Primary -0.594172
27303   9157.0  ecc2c8e9-5fdb-39d4-8ed9-6d7201553b85   Kenya          KEN   Ministry of Education, 2016   G_KEN_027304           28146.0                         ST. FRANCIS, LWAK         Primary  0.152605
17910  30324.0  39322f2d-16fb-3626-b048-9bc10bedbd9a   Kenya          KEN  Open Data Kenya, School 2007   G_KEN_017911       200719304.0                       MFARIJI "B" PRY SCH         Primary  0.383526
17273  29611.0  63da2144-f690-3622-a4dd-2a91ed9582de   Kenya          KEN   Ministry of Education, 2016   G_KEN_017274            3019.0                NEELA , PRIMARY ST. TERESA         Primary  0.354623
15861  27988.0  2ab0fbf3-3523-3b54-84fd-3d6d7fadbd60   Kenya          KEN   Ministry of Education, 2016   G_KEN_015862           46515.0                       KAPCHELUCH" B" PRIM         Primary -0.894698
29382  17669.0  dcf9a0a2-d7c1-3a02-9b6d-5086173db716   Kenya          KEN                    government   G_KEN_029383               NaN                  L, AZIZI KINDERGATEN PRI         Primary -1.303630
6629   16655.0  f2920eb3-7daf-3a7b-84fd-a29e4036d8ad   Kenya          KEN  Open Data Kenya, School 2007   G_KEN_006630       200724110.0                 MUTING,ONG,O PRIMARY SCH.         Primary  0.412510
35587    107.0  1a8ae2d5-c046-38ab-8d93-24bf0453250f   Kenya          KEN  Open Data Kenya, School 2007   G_KEN_035588       200727547.0  SAPENCIA EDUCATION CENTRE,ALPHA HIGH SCH       Secondary -1.078194
36531  13761.0  f0e5ea79-b09d-34f6-b52d-9a9944aa2590   Kenya          KEN                    government   G_KEN_036532               NaN          BETHELCHILDREN,S CENTER  PRI SCH         Primary -1.150421
9288   20011.0  6b927db3-c9b3-3a27-8c7c-fec242f23cd8   Kenya          KEN   Ministry of Education, 2016   G_KEN_009289           49036.0               ST. LUCY,S EDUCATION CENTRE       Secondary  0.869103

Sample Rows Only in Ericsson (First 10 Columns)
-----------------------------------------------

                                                                                                                                                                                                                        giga_school_id school_name  latitude  longitude uuid coverage coverage_type 2g_quality 3g_quality 4g_quality
37914      G_KEN_001567,"\CHEPKISWET \""\""B\""\"" PRIMARY\""""",-0.594172,35.587684,c892db56-f86c-3a04-90c8-32c47d07f920,Yes,4G,Good,Good,Fair,None,0-5km,0-5km,0-5km,None,Airtel,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37907               G_KEN_032998,"ST. JOSEPH'S ACADEMY, KAIMONI",-1.73552,37.5737,b3573515-b04b-3774-ab37-dafd366292ce,Yes,4G,Fair,Fair,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37905            G_KEN_015829,"\KAPKELACH \""\""B\""\"" PRI SCH\""""",-0.76845,35.42967,0eb89982-f94c-3584-9d5b-4303ea5a89cb,Yes,4G,Fair,Fair,Good,None,0-5km,0-5km,0-5km,None,Telkom,Safaricom,Airtel,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37911         G_KEN_036532,"BETHELCHILDREN,S CENTER  PRI SCH",-1.150421,36.949915,f0e5ea79-b09d-34f6-b52d-9a9944aa2590,Yes,4G,Good,Good,Good,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37906                G_KEN_017274,"NEELA , PRIMARY ST. TERESA",0.354623,34.291019,63da2144-f690-3622-a4dd-2a91ed9582de,Yes,4G,Fair,Fair,Poor,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37916          G_KEN_001701,"LANET PRI,ECDE AND SPECIAL UNIT",-0.289413,36.148933,b068ba72-776c-3496-bb30-cb00a505baba,Yes,4G,Good,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37909      G_KEN_015862,"\KAPCHELUCH\""\"" B\""\"" PRIM\""""",-0.894698,35.423884,2ab0fbf3-3523-3b54-84fd-3d6d7fadbd60,Yes,4G,Fair,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37910  G_KEN_035588,"SAPENCIA EDUCATION CENTRE,ALPHA HIGH SCH",-1.078194,37.09275,1a8ae2d5-c046-38ab-8d93-24bf0453250f,Yes,4G,Good,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37903                   G_KEN_009289,"ST. LUCY,S EDUCATION CENTRE",0.869103,35.21975,6b927db3-c9b3-3a27-8c7c-fec242f23cd8,Yes,4G,Fair,Fair,Fair,None,0-5km,0-5km,0-5km,None,Airtel,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN
37915                   G_KEN_015964,"ST. PETER,S ACA. PRI SCH",-0.81849,35.37378,9d4a2068-8cab-3dd3-b4ee-b5cf5bbce17a,Yes,4G,Fair,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson         NaN       NaN        NaN  NaN      NaN           NaN        NaN        NaN        NaN


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Master       17  37903
1       ITU       27  37903

Column Summary
--------------

Number of columns in common: 6
Number of columns in Master but not in ITU: 11
Number of columns in ITU but not in Master: 21

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 37,903
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 0

Number of rows with some compared columns unequal: 12
Number of rows with all compared columns equal: 37,891

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 5
Total number of values which compare unequal: 12

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype ITU dtype  # Unequal  Max Diff  # Null Diff
0  school_name       object    object         12         0            0

Sample Rows with Unequal Values
-------------------------------

      giga_school_id                            school_name (Master)                              school_name (ITU)
37736   G_KEN_037737                           TUDOR JUNIOR ACADEMY                            TUDOR JUNIOR ACADEMY
29739   G_KEN_029740                           GOODWILL ACADEMY 'B'                            GOODWILL ACADEMY 'B'
35738   G_KEN_035739                             IQRA ACADEMY - PRI                              IQRA ACADEMY - PRI
29472   G_KEN_029473                             SHIGOG ACADEMY PRI                              SHIGOG ACADEMY PRI
34920   G_KEN_034921                              OUR LADY OF MERCY                               OUR LADY OF MERCY
37738   G_KEN_037739  CEREBRAL PASYL FOUNDATION CENTRE SPECIAL UNIT   CEREBRAL PASYL FOUNDATION CENTRE SPECIAL UNIT
35716   G_KEN_035717                  MARTIAL CAILLARD CATHOLIC PRY                   MARTIAL CAILLARD CATHOLIC PRY
35735   G_KEN_035736                               ALFA ACADEMY PRI                                ALFA ACADEMY PRI
35739   G_KEN_035740                                  LUHAR PRI SCH                                   LUHAR PRI SCH
35734   G_KEN_035735                           FAHMAN ACADEMY - PRI                            FAHMAN ACADEMY - PRI

In [58]:
# some colunm names standardization

In [59]:
#d_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
#d_i.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)
#d_g.rename(columns={'giga_schoo': 'giga_school_id'}, inplace=True)

In [60]:
# cross-profiles the sources with master data for completeness and correctness

In [61]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [52]:
#d_e['coverage'] = np.where((d_e['2G_coverage']== 'None') & (d_e['3G_coverage']== 'None')& (d_e['4G_coverage']== 'None'), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2g'].isnull()) & (d_f['percent_3g'].isnull())& (d_f['percent_4g'].isnull()), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2g']<=0) & (d_f['percent_3g']<=0) & (d_f['percent_4g']<=0), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G'].isnull()) & (d_i['3G'].isnull())& (d_i['4G'].isnull()), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G']<=0) & (d_i['3G']<=0) & (d_i['4G']<=0), 'NO', 'YES')

In [63]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [53]:
d_f['2G_coverage'] = np.where((d_f['percent_2g'] > 0), 'YES', 'NO')
d_f['3G_coverage'] = np.where((d_f['percent_3g'] > 0), 'YES', 'NO')
d_f['4G_coverage'] = np.where((d_f['percent_4g'] > 0), 'YES', 'NO')

In [54]:
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [66]:
#d_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [67]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [55]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [56]:
d_f['coverage_type'] = d_f.apply((lambda x: coverage_type(x)),axis=1)
#d_e['coverage_type'] = d_e.apply((lambda x: coverage_type(x)),axis=1)
d_i['coverage_type'] = d_i.apply((lambda x: coverage_type(x)),axis=1)

In [57]:
d_e.head(1)

,giga_school_id,school_name,LATITUDE,LONGITUDE,uuid,coverage,coverage_type,2G_quality,3G_quality,4G_quality,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage,3G_coverage,4G_coverage,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,G_KEN_000026,ST VINCENT OMWARI MIXED,-0.657218,34.651425,3403c6bd-12e8-305a-8c4a-609a5dadcbda,Yes,4G,Fair,Good,Fair,...,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1.0,Ericsson

In [71]:
#d_e.rename(columns={'2G_coverage_present':'2G_coverage', '3G_coverage_present':'3G_coverage','4G_coverage_present':'4G_coverage', 'Coverage':'coverage', 'Coverage_type':'coverage_type'}, inplace=True)

In [72]:
# isolating the needed colunms from the rest

In [58]:
features = ['giga_school_id','coverage','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [59]:
d_fc = d_f[features]
#d_ec = d_e[features]
d_it = d_i[features]
d_ec = d_e[features]

In [31]:
# more sanity checks for nan on giga_school_id

In [60]:
d_fc = d_fc[d_fc['giga_school_id'].notna()]
#d_ec = d_ec[d_ec['giga_school_id'].notna()]
d_it = d_it[d_it['giga_school_id'].notna()]
d_ec = d_ec[d_ec['giga_school_id'].notna()]

In [64]:
d_ec.loc[d_ec['2G_coverage'] == 'Yes', '2G_coverage'] = 'YES'
d_ec.loc[d_ec['3G_coverage'] == 'Yes', '3G_coverage'] = 'YES'
d_ec.loc[d_ec['4G_coverage'] == 'Yes', '4G_coverage'] = 'YES'
d_ec.loc[d_ec['coverage'] == 'Yes', 'coverage'] = 'YES'

d_ec.loc[d_ec['2G_coverage'] == 'No', '2G_coverage'] = 'NO'
d_ec.loc[d_ec['3G_coverage'] == 'No', '3G_coverage'] = 'NO'
d_ec.loc[d_ec['4G_coverage'] == 'No', '4G_coverage'] = 'NO'
d_ec.loc[d_ec['coverage'] == 'No', 'coverage'] = 'NO'

In [85]:
d_ec.loc[d_ec['2G_coverage'].isnull(), '2G_coverage'] = 'NO'
d_ec.loc[d_ec['3G_coverage'].isnull(), '3G_coverage'] = 'NO'
d_ec.loc[d_ec['4G_coverage'].isnull(), '4G_coverage'] = 'NO'
d_ec.loc[d_ec['coverage'].isnull(), 'coverage'] = 'NO'
d_ec.loc[d_ec['coverage_type'].isnull(), 'coverage_type'] = 'NO'

In [76]:
# visually comparing the sources for matches and mismatches across the columns

In [62]:
d_it.shape

(37903, 6)

In [88]:
df_all = pd.concat([d_fc.set_index('giga_school_id'), d_ec.set_index('giga_school_id'),d_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'Ericsson', 'ITU'])
df_all.head()

             Facebook                                                    \
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_KEN_000396      YES            4G         YES         YES         YES
G_KEN_000986      YES            4G         YES         YES         YES
G_KEN_001179      YES            4G         YES         YES         YES
G_KEN_001228      YES            4G         YES         YES         YES
G_KEN_001432      YES            4G         YES         YES         YES

             Ericsson                                                    \
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_KEN_000396      YES            4G         YES         YES         YES
G_KEN_000986      YES            4G         YES         YES         YES
G_KEN_001179      YES            4G         YES         YES         YES
G_KEN_001228      YES            4G         YES         YES         YES
G_KEN_001432      YES            4G         YES         YES         YES

                  ITU
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_KEN_000396      YES            4G         YES         YES         YES
G_KEN_000986      YES            4G         YES         YES         YES
G_KEN_001179      YES            4G         YES         YES         YES
G_KEN_001228      YES            4G         YES          NO         YES
G_KEN_001432      YES            4G         YES          NO         YES

In [89]:
d_ec.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0   G_KEN_000026      YES            4G         YES         YES         YES
1   G_KEN_000057      YES            4G         YES         YES         YES
2   G_KEN_000171      YES            4G         YES         YES         YES
3   G_KEN_000280      YES            4G         YES         YES         YES
4   G_KEN_000299      YES            4G         YES         YES         YES

In [90]:
df_final = df_all.swaplevel(axis='columns')[d_fc.columns[1:]]
df_final.head()

             coverage               coverage_type              2G_coverage  \
             Facebook Ericsson  ITU      Facebook Ericsson ITU    Facebook
G_KEN_000396      YES      YES  YES            4G       4G  4G         YES
G_KEN_000986      YES      YES  YES            4G       4G  4G         YES
G_KEN_001179      YES      YES  YES            4G       4G  4G         YES
G_KEN_001228      YES      YES  YES            4G       4G  4G         YES
G_KEN_001432      YES      YES  YES            4G       4G  4G         YES

                           3G_coverage               4G_coverage
             Ericsson  ITU    Facebook Ericsson  ITU    Facebook Ericsson  ITU
G_KEN_000396      YES  YES         YES      YES  YES         YES      YES  YES
G_KEN_000986      YES  YES         YES      YES  YES         YES      YES  YES
G_KEN_001179      YES  YES         YES      YES  YES         YES      YES  YES
G_KEN_001228      YES  YES         YES      YES   NO         YES      YES  YES
G_KEN_001432      YES  YES         YES      YES   NO         YES      YES  YES

In [91]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [92]:
# coverage comparison report

In [93]:
# create a separate dfs
fbc = d_fc.copy()
#ecc = d_ec.copy()
ituc = d_it.copy()
ecc = d_ec.copy()

# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)

cross_profile_facebook_ec = datacompy.Compare(
fbc,
ecc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='GSMA'
)


#print(cross_profile_fb_ec.report())
print(cross_profile_fb_itu.report())
#print(cross_profile_Ericsson_itu.report())
print(cross_profile_facebook_ec.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Facebook        6  37903
1       ITU        6  37903

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 37,903
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 0

Number of rows with some compared columns unequal: 13,575
Number of rows with all compared columns equal: 24,328

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 21,663

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object    object       2018         0            0
0    3g_coverage         object    object      13380         0            0
1    4g_coverage         object    object       2191         0            0
4       coverage         object    object       1883         0            0
3  coverage_type         object    object       2191         0            0

Sample Rows with Unequal Values
-------------------------------

      giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
35468   G_KEN_014503                    YES                NO
36773   G_KEN_006602                    YES                NO
21753   G_KEN_011296                    YES                NO
36639   G_KEN_015183                    YES                NO
23934   G_KEN_032876                    YES                NO
11781   G_KEN_007973                    YES                NO
9919    G_KEN_032566                    YES                NO
18033   G_KEN_027313                    YES                NO
2377    G_KEN_002650                    YES                NO
3413    G_KEN_015291                    YES                NO

      giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
30124   G_KEN_005834                    YES                NO
10549   G_KEN_000076                    YES                NO
29799   G_KEN_023613                    YES                NO
19889   G_KEN_018142                    YES                NO
26920   G_KEN_031890                    YES                NO
30941   G_KEN_016099                    YES                NO
12562   G_KEN_010308                    YES                NO
27857   G_KEN_009805                    YES                NO
13955   G_KEN_013100                    YES                NO
147     G_KEN_023787                    YES                NO

      giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
12161   G_KEN_005877                    YES                NO
3270    G_KEN_026327                    YES                NO
6697    G_KEN_000931                    YES                NO
15978   G_KEN_012905                    YES                NO
37054   G_KEN_024724                    YES                NO
3647    G_KEN_022482                    YES                NO
14107   G_KEN_004573                    YES                NO
4788    G_KEN_016111                    YES                NO
33881   G_KEN_009563                    YES                NO
36230   G_KEN_010339                    YES                NO

      giga_school_id coverage_type (Facebook) coverage_type (ITU)
19457   G_KEN_018044                       4G                None
18595   G_KEN_022801                       4G                None
28848   G_KEN_010934                       4G                None
12609   G_KEN_018724                       4G                None
36302   G_KEN_023737                       4G                  2G
21739   G_KEN_008242                       4G                None
18917   G_KEN_023578                       4G                None
30212   G_KEN_024000                       4G                None
30668   G_KEN_031454                       4G                  3G
4021    G_KEN_016357                       4G                None

      giga_school_id coverage (Facebook) coverage (ITU)
29308   G_KEN_023671                 YES             NO
33522   G_KEN_016636                 YES             NO
35070   G_KEN_012780                 YES             NO
1431    G_KEN_023641                 YES             NO
5716    G_KEN_006671                 YES             NO
2106    G_KEN_036365                 YES             NO
18479   G_KEN_000886                 YES             NO
34064   G_KEN_010036                 YES             NO
5401    G_KEN_021418                 YES             NO
28314   G_KEN_021539                 YES             NO


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Facebook        6  37903
1      GSMA        6  37903

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in GSMA: 0
Number of columns in GSMA but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 37,888
Number of rows in Facebook but not in GSMA: 15
Number of rows in GSMA but not in Facebook: 15

Number of rows with some compared columns unequal: 1,547
Number of rows with all compared columns equal: 36,341

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 3,187

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype GSMA dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object     object        292         0            0
0    3g_coverage         object     object        214         0            0
1    4g_coverage         object     object        246         0            0
4       coverage         object     object        962         0            0
3  coverage_type         object     object       1473         0            0

Sample Rows with Unequal Values
-------------------------------

      giga_school_id 3g_coverage (Facebook) 3g_coverage (GSMA)
21962   G_KEN_012143                    YES                 NO
28385   G_KEN_034086                    YES                 NO
22896   G_KEN_009848                    YES                 NO
15373   G_KEN_005522                    YES                 NO
8900    G_KEN_012246                    YES                 NO
16648   G_KEN_031605                    YES                 NO
31335   G_KEN_012971                    YES                 NO
11899   G_KEN_030325                    YES                 NO
26213   G_KEN_031475                    YES                 NO
5690    G_KEN_000974                    YES                 NO

      giga_school_id 4g_coverage (Facebook) 4g_coverage (GSMA)
35739   G_KEN_010324                    YES                 NO
19343   G_KEN_033910                    YES                 NO
3205    G_KEN_012746                    YES                 NO
37670   G_KEN_031452                    YES                 NO
26289   G_KEN_009866                    YES                 NO
6453    G_KEN_034110                    YES                 NO
4996    G_KEN_016808                    YES                 NO
11767   G_KEN_005676                    YES                 NO
6658    G_KEN_032819                    YES                 NO
31369   G_KEN_018090                    YES                 NO

      giga_school_id 2g_coverage (Facebook) 2g_coverage (GSMA)
7725    G_KEN_010154                    YES                 NO
20073   G_KEN_015886                    YES                 NO
37258   G_KEN_024106                    YES                 NO
16648   G_KEN_031605                    YES                 NO
29479   G_KEN_016368                    YES                 NO
9972    G_KEN_004270                    YES                 NO
29991   G_KEN_022484                    YES                 NO
11356   G_KEN_005008                    YES                 NO
1733    G_KEN_010016                    YES                 NO
9162    G_KEN_033876                    YES                 NO

      giga_school_id coverage_type (Facebook) coverage_type (GSMA)
35083   G_KEN_016351                       4G                 None
33332   G_KEN_015557                       4G                 None
10232   G_KEN_017436                       4G                   3G
32094   G_KEN_015422                       4G                   3G
27645   G_KEN_003717                       4G                   3G
22786   G_KEN_028766                       4G                 None
31930   G_KEN_018623                       4G                 None
12984   G_KEN_016289                       4G                 None
19343   G_KEN_033910                       4G                   3G
35723   G_KEN_008026                       4G                   3G

      giga_school_id coverage (Facebook) coverage (GSMA)
23883   G_KEN_021395                 YES              NO
144     G_KEN_023303                 YES              NO
19149   G_KEN_033867                 YES              NO
16869   G_KEN_012100                 YES              NO
26222   G_KEN_033474                 YES              NO
36205   G_KEN_006220                 YES              NO
23373   G_KEN_023669                 YES              NO
22757   G_KEN_021601                 YES              NO
23817   G_KEN_009536                 YES              NO
19061   G_KEN_012766                 YES              NO

Sample Rows Only in Facebook (First 10 Columns)
-----------------------------------------------

      giga_school_id coverage coverage_type 2g_coverage 3g_coverage 4g_coverage
35577   G_KEN_015829      YES            4G         YES         YES         YES
32450   G_KEN_015862      YES            4G         YES         YES         YES
1578    G_KEN_015964      YES            4G         YES         YES         YES
4847    G_KEN_027304      YES            4G         YES         YES         YES
16250   G_KEN_029383      YES            4G         YES         YES         YES
29608   G_KEN_001701      YES            4G         YES         YES         YES
8456    G_KEN_036532      YES            4G         YES         YES         YES
25573   G_KEN_017274      YES            4G         YES         YES         YES
9703    G_KEN_024871      YES            4G         YES         YES         YES
26672   G_KEN_017911      YES            4G         YES         YES         YES

Sample Rows Only in GSMA (First 10 Columns)
-------------------------------------------

                                                                                                                                                                                                                        giga_school_id coverage coverage_type 2g_coverage 3g_coverage 4g_coverage
37915                   G_KEN_015964,"ST. PETER,S ACA. PRI SCH",-0.81849,35.37378,9d4a2068-8cab-3dd3-b4ee-b5cf5bbce17a,Yes,4G,Fair,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37909      G_KEN_015862,"\KAPCHELUCH\""\"" B\""\"" PRIM\""""",-0.894698,35.423884,2ab0fbf3-3523-3b54-84fd-3d6d7fadbd60,Yes,4G,Fair,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37910  G_KEN_035588,"SAPENCIA EDUCATION CENTRE,ALPHA HIGH SCH",-1.078194,37.09275,1a8ae2d5-c046-38ab-8d93-24bf0453250f,Yes,4G,Good,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37907               G_KEN_032998,"ST. JOSEPH'S ACADEMY, KAIMONI",-1.73552,37.5737,b3573515-b04b-3774-ab37-dafd366292ce,Yes,4G,Fair,Fair,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37912                       G_KEN_024871,"GATONG,ORA PRI SCH",-1.159633,36.970283,4ed08243-bb61-3f29-9349-428abdda6db5,Yes,4G,Good,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37906                G_KEN_017274,"NEELA , PRIMARY ST. TERESA",0.354623,34.291019,63da2144-f690-3622-a4dd-2a91ed9582de,Yes,4G,Fair,Fair,Poor,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37913       G_KEN_017911,"\MFARIJI \""\""B\""\"" PRY SCH\""""",0.383526,37.980305,39322f2d-16fb-3626-b048-9bc10bedbd9a,Yes,4G,Fair,Fair,Poor,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37908             G_KEN_006630,"MUTING,ONG,O PRIMARY SCH.",0.41251,34.819633,f2920eb3-7daf-3a7b-84fd-a29e4036d8ad,Yes,4G,Excellent,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37916          G_KEN_001701,"LANET PRI,ECDE AND SPECIAL UNIT",-0.289413,36.148933,b068ba72-776c-3496-bb30-cb00a505baba,Yes,4G,Good,Good,Fair,None,0-5km,0-5km,0-5km,None,Safaricom,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO
37904                       G_KEN_027304,"ST. FRANCIS, LWAK",0.152605,34.331192,ecc2c8e9-5fdb-39d4-8ed9-6d7201553b85,Yes,4G,Excellent,Good,Fair,None,0-5km,0-5km,0-5km,None,Airtel,Safaricom,Safaricom,None,Yes,Yes,Yes,No,-1,Ericsson       NO            NO          NO          NO          NO

In [39]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [98]:
import statistics as stats
df_c = pd.concat([d_fc,d_ec,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x:x.value_counts().index[0])
coverage['coverage_type'] = coverage.apply((lambda x: coverage_type(x)),axis=1)
#coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x: stats.mode(x)[0][0])

In [99]:
coverage.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0   G_KEN_000001      YES            4G         YES         YES         YES
1   G_KEN_000002      YES            4G         YES         YES         YES
2   G_KEN_000003      YES            4G         YES         YES         YES
3   G_KEN_000004      YES            4G         YES         YES         YES
4   G_KEN_000005      YES            4G         YES         YES         YES

In [101]:
coverage['coverage'] = np.where((coverage['2G_coverage']=='YES') | (coverage['3G_coverage']=='YES') | (coverage['4G_coverage']=='YES'), 'YES', 'NO')

In [102]:
coverage[coverage['coverage']=='NO'].head(10)

    giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
79    G_KEN_000080       NO          None          NO          NO          NO
886   G_KEN_000887       NO          None          NO          NO          NO
892   G_KEN_000893       NO          None          NO          NO          NO
893   G_KEN_000894       NO          None          NO          NO          NO
900   G_KEN_000901       NO          None          NO          NO          NO
904   G_KEN_000905       NO          None          NO          NO          NO
908   G_KEN_000909       NO          None          NO          NO          NO
917   G_KEN_000918       NO          None          NO          NO          NO
926   G_KEN_000927       NO          None          NO          NO          NO
964   G_KEN_000965       NO          None          NO          NO          NO

In [97]:
#coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_gs.coverage_type

In [103]:
master.head()

,index,uuid,country,country_code,source,giga_school_id,source_school_id,school_name,education_level,latitude,longitude,hex8,dq_score,real_id,source_timestamp,master_timestamp,school_archive
0,1792,edac19dd-0403-3260-a8a5-58e490d819c9,Kenya,KEN,"Open Data Kenya, School 2007",G_KEN_000001,200731995.0,NAMAWANGA GIRLS SEC,Secondary,0.682084,34.700794,887a4d503bfffff,0.8,NaN,2007,15:59.0,No
1,1806,de245b16-5256-3e1e-b323-8299c3f91254,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000002,25159.0,OLEPOLOS,Primary,-0.502607,35.810312,887a6a0451fffff,0.8,NaN,2016,15:59.0,No
2,1822,9b4cc200-3397-3cc3-ac13-7abc20f853eb,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000003,22972.0,OLE POLOS,Primary,-0.502607,35.810312,887a6a0451fffff,0.8,NaN,2016,15:59.0,No
3,1829,904261cb-5a2b-35e3-bace-8bbfacfaa838,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000004,14448.0,KWA NZILI DEB,Primary,-0.904374,38.173953,887a448e97fffff,0.8,NaN,2016,15:59.0,No
4,1843,65fc5374-0586-31a9-8864-449df0d7ee4b,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000005,45504.0,ESOIT EMPURPUTIA PRIMARY,Primary,-1.089263,35.009815,887a6828b5fffff,0.8,NaN,2016,15:59.0,No

In [104]:
master_w_coverage = master.merge(coverage, how="left", on=["giga_school_id"])
master_w_coverage.to_csv('./data/KE_master_w_coverage.csv', encoding='utf-8')
master_w_coverage_connectivity = master_w_coverage.copy()
#master_w_coverage_connectivity['connectivity_availability'] = np.where((master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'connectivity'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'coverage_type'] = 'None'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage_type'] = 'no coverage'
master_w_coverage_connectivity.to_csv('./data/KE_master_w_coverage_connectivity.csv', encoding='utf-8')

In [105]:
master_w_coverage.head(2)

,index,uuid,country,country_code,source,giga_school_id,source_school_id,school_name,education_level,latitude,...,dq_score,real_id,source_timestamp,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,1792,edac19dd-0403-3260-a8a5-58e490d819c9,Kenya,KEN,"Open Data Kenya, School 2007",G_KEN_000001,200731995.0,NAMAWANGA GIRLS SEC,Secondary,0.682084,...,0.8,NaN,2007,15:59.0,No,YES,4G,YES,YES,YES
1,1806,de245b16-5256-3e1e-b323-8299c3f91254,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000002,25159.0,OLEPOLOS,Primary,-0.502607,...,0.8,NaN,2016,15:59.0,No,YES,4G,YES,YES,YES

In [106]:
master_w_coverage_connectivity[master_w_coverage_connectivity['coverage_type']=='no coverage'].head(10)

,index,uuid,country,country_code,source,giga_school_id,source_school_id,school_name,education_level,latitude,...,real_id,source_timestamp,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
79,4812,5d1f073d-df85-3441-bf55-12edeb35cea4,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000080,44175.0,SALALMA,Primary,0.923000,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
886,9879,9b592610-1f6e-31a6-88d5-4af87c327e63,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000887,27715.0,LATAKWENY,Primary,1.547281,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
892,9886,0c789608-fd62-35d8-ad96-9cd9da529985,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000893,27718.0,LOIKUMKUM,Primary,1.649145,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
893,9887,71494fc5-50ac-3388-86f6-89740f770cd8,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000894,27719.0,LOODUA,Primary,1.723560,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
900,9894,46631aa7-c6f2-3f85-8a9e-580a6ae1cf32,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000901,27698.0,SWARI,Primary,1.103571,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
904,9898,4547c546-55c4-3618-8032-5f422741b13e,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000905,27673.0,LKISIN,Primary,1.016558,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
908,9902,d0876b86-e667-3826-969e-a5a5cf3a5f45,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000909,27675.0,LOLKUNIYANI,Primary,1.067325,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
917,9911,774981d3-187e-3470-b3a3-009828ff41ae,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000918,27684.0,NDONYO NASIPA,Primary,1.330304,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
926,9922,1efbd4f5-f843-3bc7-9b48-44f10e28ba42,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000927,27690.0,OROMODEI,Primary,1.272993,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO
964,9964,fec8c350-0c4d-3825-8562-c8d1d2d0a1dd,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000965,27729.0,SEREN,Primary,1.871840,...,NaN,2016,15:59.0,No,NO,no coverage,NO,NO,NO,NO

In [107]:
master_w_coverage_connectivity.head()

,index,uuid,country,country_code,source,giga_school_id,source_school_id,school_name,education_level,latitude,...,real_id,source_timestamp,master_timestamp,school_archive,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
0,1792,edac19dd-0403-3260-a8a5-58e490d819c9,Kenya,KEN,"Open Data Kenya, School 2007",G_KEN_000001,200731995.0,NAMAWANGA GIRLS SEC,Secondary,0.682084,...,NaN,2007,15:59.0,No,YES,4G,YES,YES,YES,NaN
1,1806,de245b16-5256-3e1e-b323-8299c3f91254,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000002,25159.0,OLEPOLOS,Primary,-0.502607,...,NaN,2016,15:59.0,No,YES,4G,YES,YES,YES,NaN
2,1822,9b4cc200-3397-3cc3-ac13-7abc20f853eb,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000003,22972.0,OLE POLOS,Primary,-0.502607,...,NaN,2016,15:59.0,No,YES,4G,YES,YES,YES,NaN
3,1829,904261cb-5a2b-35e3-bace-8bbfacfaa838,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000004,14448.0,KWA NZILI DEB,Primary,-0.904374,...,NaN,2016,15:59.0,No,YES,4G,YES,YES,YES,NaN
4,1843,65fc5374-0586-31a9-8864-449df0d7ee4b,Kenya,KEN,"Ministry of Education, 2016",G_KEN_000005,45504.0,ESOIT EMPURPUTIA PRIMARY,Primary,-1.089263,...,NaN,2016,15:59.0,No,YES,4G,YES,YES,YES,NaN

In [108]:
master_w_coverage_connectivity['coverage'].value_counts()

YES    37783
NO       120
Name: coverage, dtype: int64