</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [1]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [5]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [3]:
d_f = pd.read_csv('./data/RW_FB_data_20210608.csv',low_memory=False,encoding='utf-8')
d_i = pd.read_csv('./data/RW_coverage_data_itu.csv',low_memory=False,encoding='utf-8')
d_e = pd.read_csv('./data/Rwanda_Ericsson_07_06_2021.csv',low_memory=False,encoding='utf-8')
d_g = pd.read_csv('./data/GSMA_RW_Schools_mobile_coverage_v1.csv',low_memory=False,encoding='utf-8')
s_master = pd.read_csv('./data/rwanda_school_geolocation_master.csv',low_memory=False,encoding='utf-8')

In [5]:
d_g.head(2)

,sn,source_sch,school_nam,school_cat,school_set,district,sector,cell,village,latitude,...,internet_a,num_studen,num_teache,computers,uuid,connectivi,giga_schoo,2G,3G,4G
0,1,430710.0,GS MURAMA,PUBLIC,12 YBE,RUTSIRO,MASASA,GABIRO,GABIRO,-1.973667,...,USB_MODEM,21,1,323.0,9701a58f-8724-4e63-b665-a6bc51eab7f9,3G,G_RWA_00001,3.0,3.0,3.0
1,2,521312.0,GS MUHORORO,PUBLIC,12 YBE,KARONGI,MURAMBI,MUHORORO,BWAKIRA,-2.159389,...,USB_MODEM,28,1,260.0,cdf4f80c-e3cc-4ebc-8931-8fe76018cc61,3G,G_RWA_00002,3.0,NaN,3.0

In [8]:
# some colunm names standardization

In [6]:
d_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
d_i.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)
d_g.rename(columns={'giga_schoo': 'giga_school_id'}, inplace=True)

In [10]:
# cross-profiles the sources with master data for completeness and correctness

In [7]:
# create a separate dfs
master = s_master.copy()
fb = d_f.copy()
ec = d_e.copy()
itu = d_i.copy()
gsma = d_g.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)
# for GSMA
cross_profile_gsma_master = datacompy.Compare(
master,
gsma,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='GSMA'
)

#print(cross_profile_fb_master.report())
#print(cross_profile_e_master.report())
#print(cross_profile_itu_master.report())
#print(cross_profile_gsma_master.report())

#print(cross_profile_fb_master.report())
print(cross_profile_fb_master.report())
fm = open("./data/cross_profile_fb_master_rw_report.txt", "a")
print(cross_profile_fb_master.report(), file=fm)
fm.close()

#print(cross_profile_Ericsson_master.report())
print(cross_profile_e_master.report())
em = open("./data/cross_profile_e_master_rw_report.txt", "a")
print(cross_profile_e_master.report(), file=em)
em.close()

#print(cross_profile_itu_master.report())
print(cross_profile_itu_master.report())
im = open("./data/cross_profile_itu_master_rw_report.txt", "a")
print(cross_profile_itu_master.report(), file=im)
im.close()

#print(cross_profile_gsma_master.report())
print(cross_profile_gsma_master.report())
gm = open("./data/cross_profile_gsma_master_rw_report.txt", "a")
print(cross_profile_gsma_master.report(), file=gm)
gm.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1  Facebook       26  4195

Column Summary
--------------

Number of columns in common: 12
Number of columns in Master but not in Facebook: 8
Number of columns in Facebook but not in Master: 14

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,091
Number of rows in Master but not in Facebook: 2
Number of rows in Facebook but not in Master: 104

Number of rows with some compared columns unequal: 8
Number of rows with all compared columns equal: 4,083

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 11
Total number of values which compare unequal: 8

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype Facebook dtype  # Unequal  Max Diff  # Null Diff
0  school_name       object         object          8         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id                        school_name (Master)                          school_name (Facebook)
3433    G_RWA_03526                       LITTLE GEMS ACADEMY""                       "LITTLE GEMS ACADEMY"""""
3717    G_RWA_03817                          LycÃ©e de Rusatira                               Lycée de Rusatira
3972    G_RWA_04077                       St Christopher TVET""                       "St Christopher TVET"""""
2185    G_RWA_02214                                GS MWEGERA""                                "GS MWEGERA"""""
634     G_RWA_02502  IBYIRINGIROBYEJO SAINTE MARIE MONTESORIE""  "IBYIRINGIROBYEJO SAINTE MARIE MONTESORIE"""""
2396    G_RWA_02434                                GS MUGANZA""                                "GS MUGANZA"""""
3459    G_RWA_03553                   NKERENKE PRIMARY SCHOOL""                   "NKERENKE PRIMARY SCHOOL"""""
3833    G_RWA_03936                               PSST KIZITO""                               "PSST KIZITO"""""

Sample Rows Only in Master (First 10 Columns)
---------------------------------------------

                                      uuid country      source giga_school_id  source_school_id                              school_name education_level  latitude  longitude             hex8
2413  b4037996-d127-4111-84ee-73f082241cec  Rwanda  government    G_RWA_02451          250205.0  GROUPE SCOLAIRE SAINT\n NICOLAS CYANIKA       Secondary -2.442110   29.60156  886ad85947fffff
2576  f6220be6-13a4-45ae-b000-327bbb048733  Rwanda  government    G_RWA_02626          121312.0               Ecole Notre Dame des Anges         Primary -1.956555   30.00000  886ad8c6d3fffff

Sample Rows Only in Facebook (First 10 Columns)
-----------------------------------------------

       tile_bigint  clean_lat  clean_lon  school_id      sn  source_school_id   school_name   school_category school_settings   district
4127  2.628750e+15  -2.132806  30.132222      212.0   212.0          571010.0     GS MURAMA            PUBLIC           12YBE   BUGESERA
4188  2.621930e+15  -1.737583  29.587167      357.0   357.0          340302.0     GS CYUMBA  GOVERNMENT_AIDED           12YBE    NYABIHU
4148  2.622130e+15  -1.991083  29.602389       31.0    31.0          521041.0     GS GASAVE            PUBLIC          12 YBE  NGORORERO
4098  2.622410e+15  -1.666056  29.625111      247.0   247.0          341001.0     GS NGANZO  GOVERNMENT_AIDED           12YBE    NYABIHU
4144  2.634440e+15  -1.820056  30.587056     1149.0  1149.0          121429.0  EP NYAMIYAGA            PUBLIC         PRIMARY    KAYONZA
4162  2.633820e+15  -2.257472  30.536889      340.0   340.0          560803.0     GS KIBARA            PUBLIC           12YBE      NGOMA
4163  2.627160e+15  -1.820306  30.005167      319.0   319.0          411202.0     GS GASEKE            PUBLIC           12YBE    RULINDO
4150  2.633800e+15  -1.797417  30.535694      977.0   977.0          540603.0     EP GACACA  GOVERNMENT_AIDED         PRIMARY    KAYONZA
4115  2.634470e+15  -2.110583  30.589694      295.0   295.0          560512.0     GS RUBONA            PUBLIC           12YBE      NGOMA
4138  2.618540e+15  -1.663833  29.315806      342.0   342.0          331109.0    GS MURAMBI  GOVERNMENT_AIDED           12YBE     RUBAVU


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1  Ericsson       39  4197

Column Summary
--------------

Number of columns in common: 11
Number of columns in Master but not in Ericsson: 9
Number of columns in Ericsson but not in Master: 28

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,093
Number of rows in Master but not in Ericsson: 0
Number of rows in Ericsson but not in Master: 104

Number of rows with some compared columns unequal: 1
Number of rows with all compared columns equal: 4,092

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 10
Total number of values which compare unequal: 1

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
0  school_name       object         object          1         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id                     school_name (Master)                 school_name (Ericsson)
2413    G_RWA_02451  GROUPE SCOLAIRE SAINT\n NICOLAS CYANIKA  GROUPE SCOLAIRE SAINT NICOLAS CYANIKA

Sample Rows Only in Ericsson (First 10 Columns)
-----------------------------------------------

        sn  school_id  school_name   school_category      school_settings    district     sector       cell        village  latitude
4177  1068   320803.0  EP MUHORORO  GOVERNMENT_AIDED              PRIMARY     RUTSIRO     MUSASA  NYARUBUYE       MUHORORO -1.950472
4100    56   110108.0    GS KIGALI            PUBLIC               12 YBE  NYARUGENGE     KIGALI     KIGALI  RYASHARANGABO -1.963417
4143   593   121031.0    EP REMERA            PUBLIC  PRE_PRIMARY,PRIMARY   NYAMAGABE    MUSHUBI   BUTETERI         REMERA -2.304889
4119   263   411404.0   GS MURAMBO  GOVERNMENT_AIDED                12YBE     RULINDO     RUKOZO      BWIMO          GATWA -1.650389
4094     7   430323.0   GS RWAMIKO            PUBLIC               12 YBE     RUTSIRO   MANIHIRA     HANIRO  KAZIRAMIHUNDE -1.939389
4150   768   250510.0    EP BUSORO            PUBLIC  PRE_PRIMARY,PRIMARY     RULINDO     BUYOGA     BUSORO       RUGARAMA -1.712389
4163   992   331007.0  EP KIGARAMA  GOVERNMENT_AIDED              PRIMARY      RUBAVU     NYUNDO   KIGARAMA          MWALI -1.741028
4096    25   250707.0    GS REMERA            PUBLIC               12 YBE     RULINDO   CYINZUZI  MIGENDEZO       GITABAGE -1.760028
4160   976   411602.0    EP NYUNDO  GOVERNMENT_AIDED              PRIMARY     RULINDO  SHYORONGI     RUBONA         KIGALI -1.861833
4101    67   270832.0    GS MUTARA            PUBLIC               12 YBE     RULINDO     RUKOZO     BURARO        RUKINGU -1.652222


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1       ITU       24  4197

Column Summary
--------------

Number of columns in common: 5
Number of columns in Master but not in ITU: 15
Number of columns in ITU but not in Master: 19

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,093
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 104

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 4,093

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 5
Total number of values which compare unequal: 0

Sample Rows Only in ITU (First 10 Columns)
------------------------------------------

       fid    sn  school_id    school_nam        school_cat           school_set   district    sector         cell     village
4168  1023  1023   540702.0     EP KAGEYO            PUBLIC              PRIMARY    KAYONZA     MWIRI       KAGEYO       NDAGO
4143   593   593   121031.0     EP REMERA            PUBLIC  PRE_PRIMARY,PRIMARY  NYAMAGABE   MUSHUBI     BUTETERI      REMERA
4102    71    71   130501.0    GS NYAWERA            PUBLIC               12 YBE    KAYONZA     MWILI      NYAWERA  RYAKIBANDA
4104   129   129   281107.0  GS NYARUBUYE  GOVERNMENT_AIDED                12YBE    KAMONYI    RUKOMA   GISHYESHYE   NYAMABUYE
4107   192   192   410503.0    GS GIHINGA  GOVERNMENT_AIDED                12YBE    RULINDO  CYINZUZI  BUDAKIRANYA     GIHINGA
4120   273   273   320308.0   GS KINIHIRA            PUBLIC                12YBE    RUTSIRO    KIGEYO   RUKARAGATA    KINIHIRA
4119   263   263   411404.0    GS MURAMBO  GOVERNMENT_AIDED                12YBE    RULINDO    RUKOZO        BWIMO       GATWA
4164   993   993   351005.0     EP NTOBWE  GOVERNMENT_AIDED              PRIMARY  NGORORERO     NDARO    KABAGESHI      KABUGA
4187  1238  1238   520339.0     EP GITEGA            PUBLIC              PRIMARY  NGORORERO   HINDIRO     RUNYINYA     MAREMBO
4116   245   245   320107.0    GS RUGAMBA            PUBLIC                12YBE    RUTSIRO    BONEZA     KABIHOGO   BWERAMANA


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1      GSMA       22  4197

Column Summary
--------------

Number of columns in common: 5
Number of columns in Master but not in GSMA: 15
Number of columns in GSMA but not in Master: 17

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,093
Number of rows in Master but not in GSMA: 0
Number of rows in GSMA but not in Master: 104

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 4,093

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 5
Total number of values which compare unequal: 0

Sample Rows Only in GSMA (First 10 Columns)
-------------------------------------------

        sn  source_sch    school_nam        school_cat school_set   district     sector          cell        village  latitude
4097    31    521041.0     GS GASAVE            PUBLIC     12 YBE  NGORORERO      NDARO      BIJYOJYO         GASAVE -1.991083
4190  1317    330307.0    EP MUKINGO  GOVERNMENT_AIDED    PRIMARY     RUBAVU  CYANZARWE    RWANZEKUMA       KABIRIZI -1.631222
4158   951    411407.0      EP MURWA            PUBLIC    PRIMARY    RULINDO     RUKOZO        BURARO          MURWA -1.652250
4140   461    511409.0     GS RUBONA  GOVERNMENT_AIDED      12YBE  RWAMAGANA     RUBONA      KABATASI        UMUREHE -2.036250
4171  1026    320304.0    EP GISUNZU            PUBLIC    PRIMARY    RUTSIRO     KIGEYO   NYAGAHINIKA      NYARUSUKU -1.813389
4101    67    270832.0     GS MUTARA            PUBLIC     12 YBE    RULINDO     RUKOZO        BURARO        RUKINGU -1.652222
4122   290    451706.0    GS MUYUMBU  GOVERNMENT_AIDED      12YBE    GICUMBI    RUSHAKI      KARURAMA       RWARANDA -1.456944
4104   129    281107.0  GS NYARUBUYE  GOVERNMENT_AIDED      12YBE    KAMONYI     RUKOMA    GISHYESHYE      NYAMABUYE -1.919361
4094     7    430323.0    GS RWAMIKO            PUBLIC     12 YBE    RUTSIRO   MANIHIRA        HANIRO  KAZIRAMIHUNDE -1.939389
4184  1211    230101.0      EP GITWE  GOVERNMENT_AIDED    PRIMARY  NYARUGURU    BUSANZE  KIRARANGOMBE          GITWE -2.822972

In [12]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [8]:
d_e['coverage_availability'] = np.where((d_e['2G_coverage']== 'None') & (d_e['3G_coverage']== 'None')& (d_e['4G_coverage']== 'None'), 'NO', 'YES')
d_f['coverage_availability'] = np.where((d_f['percent_2g'].isnull()) & (d_f['percent_3g'].isnull())& (d_f['percent_4g'].isnull()), 'NO', 'YES')
d_f['coverage_availability'] = np.where((d_f['percent_2g']<=0) & (d_f['percent_3g']<=0) & (d_f['percent_4g']<=0), 'NO', 'YES')
d_i['coverage_availability'] = np.where((d_i['2G'].isnull()) & (d_i['3G'].isnull())& (d_i['4G'].isnull()), 'NO', 'YES')
d_g['coverage_availability'] = np.where((d_g['2G'].isnull()) & (d_g['3G'].isnull())& (d_g['4G'].isnull()), 'NO', 'YES')

In [9]:
d_g['coverage_availability'].value_counts()

YES    4181
NO       16
Name: coverage_availability, dtype: int64

In [15]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [10]:
d_g['2G_coverage'] = np.where((d_g['2G'].isnull()), 'NO', 'YES') 
d_g['3G_coverage'] = np.where((d_g['3G'].isnull()), 'NO', 'YES') 
d_g['4G_coverage'] = np.where((d_g['4G'].isnull()), 'NO', 'YES')

In [11]:
d_f['2G_coverage'] = np.where((d_f['percent_2g'] > 0), 'YES', 'NO')
d_f['3G_coverage'] = np.where((d_f['percent_3g'] > 0), 'YES', 'NO')
d_f['4G_coverage'] = np.where((d_f['percent_4g'] > 0), 'YES', 'NO')

In [12]:
d_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [13]:
d_e['2G_coverage'] = np.where((d_e['2G_coverage_quality'] != 'None'), 'YES', 'NO')
d_e['3G_coverage'] = np.where((d_e['3G_coverage_quality'] != 'None'), 'YES', 'NO')
d_e['4G_coverage'] = np.where((d_e['4G_coverage_quality'] != 'None'), 'YES', 'NO')
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [20]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [14]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [15]:
d_f['coverage_type'] = d_f.apply((lambda x: coverage_type(x)),axis=1)
d_e['coverage_type'] = d_e.apply((lambda x: coverage_type(x)),axis=1)
d_i['coverage_type'] = d_i.apply((lambda x: coverage_type(x)),axis=1)
d_g['coverage_type'] = d_g.apply((lambda x: coverage_type(x)),axis=1)

In [23]:
# isolating the needed colunms from the rest

In [17]:
features = ['giga_school_id','coverage_availability','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [18]:
d_fc = d_f[features]
d_ec = d_e[features]
d_it = d_i[features]
d_gs = d_g[features]

In [26]:
# more sanity checks for nan on giga_school_id

In [19]:
d_fc = d_fc[d_fc['giga_school_id'].notna()]
d_ec = d_ec[d_ec['giga_school_id'].notna()]
d_it = d_it[d_it['giga_school_id'].notna()]
d_gs = d_gs[d_gs['giga_school_id'].notna()]

In [28]:
# visually comparing the sources for matches and mismatches across the columns

In [20]:
df_all = pd.concat([d_fc.set_index('giga_school_id'), d_gs.set_index('giga_school_id'), d_ec.set_index('giga_school_id'),d_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'GSMA','Ericsson', 'ITU'])
df_all.head()

                            Facebook                                        \
               coverage_availability coverage_type 2G_coverage 3G_coverage
giga_school_id
G_RWA_00112                      YES            4G         YES         YES
G_RWA_00116                      YES            4G         YES         YES
G_RWA_00258                      YES            4G         YES         YES
G_RWA_00551                      YES            4G         YES         YES
G_RWA_00901                      YES            4G         YES         YES

                                            GSMA                            \
               4G_coverage coverage_availability coverage_type 2G_coverage
giga_school_id
G_RWA_00112            YES                   YES            4G         YES
G_RWA_00116            YES                   YES            4G         YES
G_RWA_00258            YES                   YES            4G         YES
G_RWA_00551            YES                   YES            4G         YES
G_RWA_00901            YES                   YES            4G         YES

                                                    Ericsson                \
               3G_coverage 4G_coverage coverage_availability coverage_type
giga_school_id
G_RWA_00112            YES         YES                   YES            4G
G_RWA_00116            YES         YES                   YES            4G
G_RWA_00258            YES         YES                   YES            4G
G_RWA_00551            YES         YES                   YES            4G
G_RWA_00901            YES         YES                   YES            4G

                                                                     ITU  \
               2G_coverage 3G_coverage 4G_coverage coverage_availability
giga_school_id
G_RWA_00112            YES         YES         YES                   YES
G_RWA_00116            YES         YES         YES                   YES
G_RWA_00258            YES         YES         YES                   YES
G_RWA_00551            YES         YES         YES                   YES
G_RWA_00901            YES         YES         YES                   YES


               coverage_type 2G_coverage 3G_coverage 4G_coverage
giga_school_id
G_RWA_00112               4G         YES         YES         YES
G_RWA_00116               4G         YES          NO         YES
G_RWA_00258               4G         YES          NO         YES
G_RWA_00551               4G         YES         YES         YES
G_RWA_00901               4G         YES          NO         YES

In [21]:
df_final = df_all.swaplevel(axis='columns')[d_fc.columns[1:]]
df_final.head()

               coverage_availability                    coverage_type       \
                            Facebook GSMA Ericsson  ITU      Facebook GSMA
giga_school_id
G_RWA_00112                      YES  YES      YES  YES            4G   4G
G_RWA_00116                      YES  YES      YES  YES            4G   4G
G_RWA_00258                      YES  YES      YES  YES            4G   4G
G_RWA_00551                      YES  YES      YES  YES            4G   4G
G_RWA_00901                      YES  YES      YES  YES            4G   4G

                            2G_coverage                    3G_coverage       \
               Ericsson ITU    Facebook GSMA Ericsson  ITU    Facebook GSMA
giga_school_id
G_RWA_00112          4G  4G         YES  YES      YES  YES         YES  YES
G_RWA_00116          4G  4G         YES  YES      YES  YES         YES  YES
G_RWA_00258          4G  4G         YES  YES      YES  YES         YES  YES
G_RWA_00551          4G  4G         YES  YES      YES  YES         YES  YES
G_RWA_00901          4G  4G         YES  YES      YES  YES         YES  YES

                             4G_coverage
               Ericsson  ITU    Facebook GSMA Ericsson  ITU
giga_school_id
G_RWA_00112         YES  YES         YES  YES      YES  YES
G_RWA_00116         YES   NO         YES  YES      YES  YES
G_RWA_00258         YES   NO         YES  YES      YES  YES
G_RWA_00551         YES  YES         YES  YES      YES  YES
G_RWA_00901         YES   NO         YES  YES      YES  YES

In [22]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [32]:
# coverage comparison report

In [23]:
# create a separate dfs
fbc = d_fc.copy()
ecc = d_ec.copy()
ituc = d_it.copy()
gsm = d_gs.copy()
# Facebook&Ericsson
cross_profile_fb_ec = datacompy.Compare(
fbc,
ecc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='Ericsson'
)
# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)
#Ericsson&ITU
cross_profile_e_itu = datacompy.Compare(
ecc,
ituc,
join_columns='giga_school_id',  
df1_name='Ericsson', 
df2_name='ITU'
)
#fb&gsma
cross_profile_fb_gsma = datacompy.Compare(
fbc,
gsm,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='GSMA'
)

#ec&gsma
cross_profile_ec_gsma = datacompy.Compare(
ecc,
gsm,
join_columns='giga_school_id',  
df1_name='Ericsson', 
df2_name='GSMA'
)


#print(cross_profile_fb_itu.report())
print(cross_profile_fb_itu.report())
fi = open("./data/cross_profile_fb_itu_rw_report.txt", "a")
print(cross_profile_fb_itu.report(), file=fi)
fi.close()

#print(cross_profile_fb_ec.report())
print(cross_profile_fb_ec.report())
fe = open("./data/cross_profile_fb_ec_rw_report.txt", "a")
print(cross_profile_fb_ec.report(), file=fe)
fe.close()

#print(cross_profile_fb_gsma.report())
print(cross_profile_fb_gsma.report())
fg = open("./data/cross_profile_fb_gsma_rw_report.txt", "a")
print(cross_profile_fb_gsma.report(), file=fg)
fg.close()

#print(cross_profile_Ericsson_itu.report())
print(cross_profile_e_itu.report())
ei = open("./data/cross_profile_e_itu_rw_report.txt", "a")
print(cross_profile_e_itu.report(), file=ei)
ei.close()

#print(cross_profile_ec_gsma.report())
print(cross_profile_ec_gsma.report())
eg = open("./data/cross_profile_ec_gsma_rw_report.txt", "a")
print(cross_profile_ec_gsma.report(), file=eg)
eg.close()

#print(cross_profile_fb_ec.report())
#print(cross_profile_fb_itu.report())
#print(cross_profile_Ericsson_itu.report())
#print(cross_profile_facebook_gsma.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  4195
1       ITU        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,195
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 2

Number of rows with some compared columns unequal: 3,420
Number of rows with all compared columns equal: 775

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 4,973

Columns with Unequal Values or Types
------------------------------------

                  Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2            2g_coverage         object    object        374         0            0
0            3g_coverage         object    object       3417         0            0
3            4g_coverage         object    object        500         0            0
4  coverage_availability         object    object        167         0            0
1          coverage_type         object    object        515         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
4169    G_RWA_00225                    YES                NO
1866    G_RWA_03458                    YES                NO
3698    G_RWA_01964                    YES                NO
1481    G_RWA_02096                    YES                NO
1080    G_RWA_00957                    YES                NO
1429    G_RWA_00061                    YES                NO
2246    G_RWA_03385                    YES                NO
3121    G_RWA_03448                    YES                NO
3530    G_RWA_02075                    YES                NO
3520    G_RWA_01090                    YES                NO

     giga_school_id coverage_type (Facebook) coverage_type (ITU)
2667    G_RWA_02971                       4G                None
772     G_RWA_03602                       4G                None
352     G_RWA_02813                       4G                  2G
202     G_RWA_02793                       4G                  2G
2639    G_RWA_01775                       4G                  2G
2755    G_RWA_00203                       4G                None
3598    G_RWA_03175                       4G                  2G
1227    G_RWA_03941                       4G                  2G
2336    G_RWA_03684                       4G                  2G
977     G_RWA_01211                       4G                None

     giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
66      G_RWA_02420                    YES                NO
3570    G_RWA_02190                    YES                NO
3726    G_RWA_03286                    YES                NO
1106    G_RWA_01453                    YES                NO
3993    G_RWA_01009                    YES                NO
3926    G_RWA_02987                    YES                NO
2667    G_RWA_02971                    YES                NO
718     G_RWA_02120                    YES                NO
3977    G_RWA_01232                    YES                NO
1619    G_RWA_02172                    YES                NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
3970    G_RWA_00357                    YES                NO
1977    G_RWA_01941                    YES                NO
172     G_RWA_01942                    YES                NO
102     G_RWA_01711                    YES                NO
2265    G_RWA_02300                    YES                NO
2952    G_RWA_02195                    YES                NO
1349    G_RWA_04056                    YES                NO
1886    G_RWA_03623                    YES                NO
387     G_RWA_02910                    YES                NO
3972    G_RWA_00468                    YES                NO

     giga_school_id coverage_availability (Facebook) coverage_availability (ITU)
4077    G_RWA_01803                              YES                          NO
603     G_RWA_01014                              YES                          NO
2457    G_RWA_02211                              YES                          NO
435     G_RWA_01483                              YES                          NO
2185    G_RWA_03001                              YES                          NO
2667    G_RWA_02971                              YES                          NO
1270    G_RWA_03562                              YES                          NO
2600    G_RWA_03179                              YES                          NO
2750    G_RWA_03329                              YES                          NO
2150    G_RWA_00009                              YES                          NO

Sample Rows Only in ITU (First 10 Columns)
------------------------------------------

     giga_school_id coverage_availability coverage_type 2g_coverage 3g_coverage 4g_coverage
4196    G_RWA_02626                   YES            4G         YES          NO         YES
4195    G_RWA_02451                   YES            4G         YES          NO         YES


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  4195
1  Ericsson        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in Ericsson: 0
Number of columns in Ericsson but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,195
Number of rows in Facebook but not in Ericsson: 0
Number of rows in Ericsson but not in Facebook: 2

Number of rows with some compared columns unequal: 2,504
Number of rows with all compared columns equal: 1,691

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 5,948

Columns with Unequal Values or Types
------------------------------------

                  Column Facebook dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
2            2g_coverage         object         object        543         0            0
0            3g_coverage         object         object        426         0            0
3            4g_coverage         object         object       2375         0            0
4  coverage_availability         object         object        218         0            0
1          coverage_type         object         object       2386         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 3g_coverage (Facebook) 3g_coverage (Ericsson)
152     G_RWA_01418                    YES                     NO
1171    G_RWA_01012                    YES                     NO
3671    G_RWA_02275                    YES                     NO
3385    G_RWA_00218                    YES                     NO
1875    G_RWA_01256                    YES                     NO
1369    G_RWA_04135                    YES                     NO
132     G_RWA_02179                    YES                     NO
1403    G_RWA_02003                    YES                     NO
1055    G_RWA_02915                    YES                     NO
2398    G_RWA_00549                    YES                     NO

     giga_school_id coverage_type (Facebook) coverage_type (Ericsson)
1812    G_RWA_00954                       4G                       3G
3974    G_RWA_00996                       4G                     None
685     G_RWA_02993                       4G                     None
167     G_RWA_01276                       4G                       3G
3986    G_RWA_03181                       4G                       3G
2234    G_RWA_00484                       4G                       3G
1332    G_RWA_01699                       4G                     None
984     G_RWA_02373                       4G                       3G
2313    G_RWA_03172                       4G                       3G
3699    G_RWA_02118                       4G                       3G

     giga_school_id 2g_coverage (Facebook) 2g_coverage (Ericsson)
2863    G_RWA_03049                    YES                     NO
3354    G_RWA_02921                    YES                     NO
3560    G_RWA_00299                    YES                     NO
2439    G_RWA_03642                    YES                     NO
4037    G_RWA_00967                    YES                     NO
487     G_RWA_02689                    YES                     NO
2482    G_RWA_03131                    YES                     NO
2226    G_RWA_02979                    YES                     NO
1116    G_RWA_02911                    YES                     NO
1960    G_RWA_03745                    YES                     NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (Ericsson)
1580    G_RWA_02998                    YES                     NO
3254    G_RWA_03494                    YES                     NO
1344    G_RWA_03312                    YES                     NO
3539    G_RWA_03687                    YES                     NO
1220    G_RWA_02976                    YES                     NO
715     G_RWA_01621                    YES                     NO
48      G_RWA_03047                    YES                     NO
252     G_RWA_02634                    YES                     NO
3381    G_RWA_03868                    YES                     NO
3640    G_RWA_01188                    YES                     NO

     giga_school_id coverage_availability (Facebook) coverage_availability (Ericsson)
455     G_RWA_00817                              YES                               NO
1512    G_RWA_01846                              YES                               NO
734     G_RWA_03914                              YES                               NO
3716    G_RWA_01642                              YES                               NO
2947    G_RWA_00402                              YES                               NO
2617    G_RWA_01670                              YES                               NO
1050    G_RWA_01782                              YES                               NO
1396    G_RWA_00791                              YES                               NO
2730    G_RWA_03784                              YES                               NO
949     G_RWA_03308                              YES                               NO

Sample Rows Only in Ericsson (First 10 Columns)
-----------------------------------------------

     giga_school_id coverage_availability coverage_type 2g_coverage 3g_coverage 4g_coverage
4196    G_RWA_02626                   YES            4G         YES         YES         YES
4195    G_RWA_02451                   YES            4G         YES         YES         YES


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  4195
1      GSMA        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in GSMA: 0
Number of columns in GSMA but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,195
Number of rows in Facebook but not in GSMA: 0
Number of rows in GSMA but not in Facebook: 2

Number of rows with some compared columns unequal: 715
Number of rows with all compared columns equal: 3,480

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 1,329

Columns with Unequal Values or Types
------------------------------------

                  Column Facebook dtype GSMA dtype  # Unequal  Max Diff  # Null Diff
2            2g_coverage         object     object         27         0            0
0            3g_coverage         object     object        426         0            0
3            4g_coverage         object     object        428         0            0
4  coverage_availability         object     object         15         0            0
1          coverage_type         object     object        433         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 3g_coverage (Facebook) 3g_coverage (GSMA)
1055    G_RWA_02915                    YES                 NO
21      G_RWA_04060                    YES                 NO
1599    G_RWA_02084                    YES                 NO
718     G_RWA_02120                    YES                 NO
2912    G_RWA_01628                    YES                 NO
1791    G_RWA_01969                    YES                 NO
3283    G_RWA_03520                    YES                 NO
268     G_RWA_00539                    YES                 NO
868     G_RWA_00016                    YES                 NO
2214    G_RWA_01202                    YES                 NO

     giga_school_id coverage_type (Facebook) coverage_type (GSMA)
535     G_RWA_04140                       4G                   2G
2053    G_RWA_04169                       4G                   3G
1826    G_RWA_00486                       4G                   3G
2761    G_RWA_01679                       4G                   3G
337     G_RWA_00294                       4G                   3G
3799    G_RWA_03698                       4G                   3G
2133    G_RWA_01149                       4G                   3G
1130    G_RWA_01471                       4G                   3G
2597    G_RWA_02559                       4G                   3G
2879    G_RWA_00974                       4G                   2G

     giga_school_id 2g_coverage (Facebook) 2g_coverage (GSMA)
293     G_RWA_01184                    YES                 NO
884     G_RWA_02229                    YES                 NO
3311    G_RWA_02341                    YES                 NO
238     G_RWA_00535                    YES                 NO
1460    G_RWA_02379                    YES                 NO
670     G_RWA_00179                    YES                 NO
1062    G_RWA_01025                    YES                 NO
2091    G_RWA_01084                    YES                 NO
4176    G_RWA_00768                    YES                 NO
1208    G_RWA_00267                    YES                 NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (GSMA)
663     G_RWA_02701                    YES                 NO
3481    G_RWA_02712                    YES                 NO
2807    G_RWA_01835                    YES                 NO
3519    G_RWA_00781                     NO                YES
153     G_RWA_01607                     NO                YES
1513    G_RWA_02127                    YES                 NO
1089    G_RWA_03267                    YES                 NO
2671    G_RWA_03903                    YES                 NO
1615    G_RWA_01560                     NO                YES
2775    G_RWA_00883                    YES                 NO

     giga_school_id coverage_availability (Facebook) coverage_availability (GSMA)
914     G_RWA_00388                              YES                           NO
832     G_RWA_02063                              YES                           NO
1062    G_RWA_01025                              YES                           NO
3311    G_RWA_02341                              YES                           NO
293     G_RWA_01184                              YES                           NO
2224    G_RWA_02822                              YES                           NO
3302    G_RWA_00194                              YES                           NO
2856    G_RWA_01631                              YES                           NO
692     G_RWA_00297                              YES                           NO
1208    G_RWA_00267                              YES                           NO

Sample Rows Only in GSMA (First 10 Columns)
-------------------------------------------

     giga_school_id coverage_availability coverage_type 2g_coverage 3g_coverage 4g_coverage
4195    G_RWA_02451                   YES            4G         YES         YES         YES
4196    G_RWA_02626                   YES            4G         YES         YES         YES


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Ericsson        6  4197
1       ITU        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Ericsson but not in ITU: 0
Number of columns in ITU but not in Ericsson: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,197
Number of rows in Ericsson but not in ITU: 0
Number of rows in ITU but not in Ericsson: 0

Number of rows with some compared columns unequal: 3,467
Number of rows with all compared columns equal: 730

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 8,419

Columns with Unequal Values or Types
------------------------------------

                  Column Ericsson dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2            2g_coverage         object    object        633         0            0
0            3g_coverage         object    object       3013         0            0
3            4g_coverage         object    object       2055         0            0
4  coverage_availability         object    object        319         0            0
1          coverage_type         object    object       2399         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 3g_coverage (Ericsson) 3g_coverage (ITU)
568     G_RWA_00569                    YES                NO
2871    G_RWA_02872                    YES                NO
1839    G_RWA_01840                    YES                NO
3947    G_RWA_03948                    YES                NO
210     G_RWA_00211                    YES                NO
535     G_RWA_00536                    YES                NO
1091    G_RWA_01092                    YES                NO
3661    G_RWA_03662                    YES                NO
1076    G_RWA_01077                    YES                NO
1411    G_RWA_01412                    YES                NO

     giga_school_id coverage_type (Ericsson) coverage_type (ITU)
1034    G_RWA_01035                       3G                  4G
1773    G_RWA_01774                       3G                  4G
805     G_RWA_00806                       4G                None
2704    G_RWA_02705                       3G                  4G
2465    G_RWA_02466                       2G                  4G
1386    G_RWA_01387                       2G                None
1106    G_RWA_01107                       3G                  4G
2347    G_RWA_02348                       3G                  4G
2280    G_RWA_02281                       4G                  2G
2319    G_RWA_02320                       3G                  2G

     giga_school_id 2g_coverage (Ericsson) 2g_coverage (ITU)
2110    G_RWA_02111                     NO               YES

In [34]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [24]:
#Main
import statistics as stats
df_c = pd.concat([d_fc,d_gs,d_ec,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x: stats.mode(x)[0][0])
coverage.loc[coverage['coverage_availability'] == 'Y', 'coverage_availability'] = 'YES'
coverage.loc[coverage['coverage_availability'] == 'N', 'coverage_availability'] = 'NO'
coverage.loc[coverage['2G_coverage'] == 'Y', '2G_coverage'] = 'YES'
coverage.loc[coverage['2G_coverage'] == 'N', '2G_coverage'] = 'NO'
coverage.loc[coverage['3G_coverage'] == 'Y', '3G_coverage'] = 'YES'
coverage.loc[coverage['3G_coverage'] == 'N', '3G_coverage'] = 'NO'
coverage.loc[coverage['4G_coverage'] == 'Y', '4G_coverage'] = 'YES'
coverage.loc[coverage['4G_coverage'] == 'N', '4G_coverage'] = 'NO'

coverage.loc[coverage['coverage_type'] == '4', 'coverage_type'] = '4G'
coverage.loc[coverage['coverage_type'] == '3', 'coverage_type'] = '3G'
coverage.loc[coverage['coverage_type'] == '2', 'coverage_type'] = '2G'
coverage.loc[coverage['coverage_type'] == 'N', 'coverage_type'] = 'None'

coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_fc.coverage_type

master_w_coverage = master.merge(coverage, how="left", on=["giga_school_id"])
master_w_coverage.to_csv('./data/RW_master_w_coverage.csv', encoding='utf-8')
master_w_coverage_connectivity = master_w_coverage.copy()
master_w_coverage_connectivity['connectivity'] = np.where((master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_availability'] == 'NO', 'connectivity'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_availability'] == 'NO', 'coverage_type'] = 'None'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_availability'] == 'NO', 'connectivity_type'] = 'None'
master_w_coverage_connectivity.rename(columns={'connectivity_type':'type_connectivity'}, inplace=True)
master_w_coverage_connectivity.to_csv('./data/RW_master_w_coverage_connectivity.csv', encoding='utf-8')

In [25]:
master_w_coverage.head()

,uuid,country,source,giga_school_id,source_school_id,school_name,education_level,latitude,longitude,hex8,...,internet_availability,number_of_students,number_of_teachers,computers,connectivity_type,coverage_availability,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,cdf4f80c-e3cc-4ebc-8931-8fe76018cc61,Rwanda,government,G_RWA_00002,521312.0,GS MUHORORO,Secondary,-2.159389,29.547972,886ade34e7fffff,...,USB_MODEM,28,1,260.0,3G,YES,4G,YES,NO,YES
1,a58be9dc-59c4-4cf9-96f5-e5b8fa84ba82,Rwanda,government,G_RWA_00005,331220.0,GS MWENDO,Secondary,-1.730639,30.212722,886ad88707fffff,...,USB_MODEM,62,3,272.0,3G,YES,4G,YES,YES,YES
2,9fe38ae7-7d51-4646-841b-1b6daa31c987,Rwanda,government,G_RWA_00006,411305.0,GS NYAGISOZI,Secondary,-2.295028,29.645556,886ade2481fffff,...,USB_MODEM,64,4,218.0,3G,YES,4G,YES,NO,YES
3,8b5c3930-c3ea-44d8-a510-086f8c6889aa,Rwanda,government,G_RWA_00009,510619.0,GS RUGANGO,Secondary,-2.371833,30.599167,886ad821d7fffff,...,USB_MODEM,80,2,252.0,3G,YES,4G,YES,YES,NO
4,2288686a-e13e-423a-b0bb-b7d08452e9a8,Rwanda,government,G_RWA_00012,130610.0,GS GIHINGA,Secondary,-1.926806,30.591806,886ad8a095fffff,...,USB_MODEM,98,3,259.0,3G,YES,4G,YES,YES,YES

In [26]:
master_w_coverage_connectivity[master_w_coverage_connectivity['coverage_type']=='None'].head(10)

,uuid,country,source,giga_school_id,source_school_id,school_name,education_level,latitude,longitude,hex8,...,number_of_students,number_of_teachers,computers,type_connectivity,coverage_availability,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
838,cf2e4d25-69c8-4fea-b2a3-016ee28db593,Rwanda,government,G_RWA_00267,441003.0,GS RUTOVU,Secondary,-1.346360,29.823080,886adc3905fffff,...,1009,16,481.0,None,NO,None,NO,NO,NO,NO
2043,b470af04-ba80-4069-a457-bf4562e449d6,Rwanda,government,G_RWA_02063,441004.0,GROUPE SCOLAIRE NYABIZI,Secondary,-1.324830,29.829890,886adc3943fffff,...,244,20,NaN,None,NO,None,NO,NO,NO,NO
2647,6d23b2ce-ebd7-4815-866f-5ee49a2ddf8d,Rwanda,government,G_RWA_02701,440212.0,KILINGA,Primary,-1.362000,29.879056,886adc398dfffff,...,260,20,NaN,None,NO,None,NO,NO,NO,NO
3438,92f51147-d471-4f3f-878c-77221fc71d5f,Rwanda,government,G_RWA_03532,340803.0,GATINDORI,Primary,-1.731806,29.484250,886adeb4e7fffff,...,617,20,NaN,None,NO,None,NO,NO,NO,NO

In [27]:
master_w_coverage_connectivity.head()

,uuid,country,source,giga_school_id,source_school_id,school_name,education_level,latitude,longitude,hex8,...,number_of_students,number_of_teachers,computers,type_connectivity,coverage_availability,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
0,cdf4f80c-e3cc-4ebc-8931-8fe76018cc61,Rwanda,government,G_RWA_00002,521312.0,GS MUHORORO,Secondary,-2.159389,29.547972,886ade34e7fffff,...,28,1,260.0,3G,YES,4G,YES,NO,YES,YES
1,a58be9dc-59c4-4cf9-96f5-e5b8fa84ba82,Rwanda,government,G_RWA_00005,331220.0,GS MWENDO,Secondary,-1.730639,30.212722,886ad88707fffff,...,62,3,272.0,3G,YES,4G,YES,YES,YES,YES
2,9fe38ae7-7d51-4646-841b-1b6daa31c987,Rwanda,government,G_RWA_00006,411305.0,GS NYAGISOZI,Secondary,-2.295028,29.645556,886ade2481fffff,...,64,4,218.0,3G,YES,4G,YES,NO,YES,YES
3,8b5c3930-c3ea-44d8-a510-086f8c6889aa,Rwanda,government,G_RWA_00009,510619.0,GS RUGANGO,Secondary,-2.371833,30.599167,886ad821d7fffff,...,80,2,252.0,3G,YES,4G,YES,YES,NO,YES
4,2288686a-e13e-423a-b0bb-b7d08452e9a8,Rwanda,government,G_RWA_00012,130610.0,GS GIHINGA,Secondary,-1.926806,30.591806,886ad8a095fffff,...,98,3,259.0,3G,YES,4G,YES,YES,YES,YES