</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [ ]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [205]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [206]:
RW_f = pd.read_csv('./data/RW_FB_data_20210608.csv',low_memory=False,encoding='utf-8')
RW_itu = pd.read_csv('./data/coverage_data_itu.csv',low_memory=False,encoding='utf-8')
RW_e = pd.read_csv('./data/Rwanda_Ericsson_07_06_2021.csv',low_memory=False,encoding='utf-8')
RW_master = pd.read_csv('./data/rwanda_school_geolocation_master.csv',low_memory=False,encoding='utf-8')

In [207]:
# some colunm names standardization

In [208]:
RW_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
RW_itu.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)

In [209]:
# cross-profiles the sources with master data for completeness and correctness

In [210]:
# create a separate dfs
master = RW_master.copy()
fb = RW_f.copy()
ec = RW_e.copy()
itu = RW_itu.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)

print(cross_profile_fb_master.report())
print(cross_profile_e_master.report())
print(cross_profile_itu_master.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1  Facebook       26  4195

Column Summary
--------------

Number of columns in common: 12
Number of columns in Master but not in Facebook: 8
Number of columns in Facebook but not in Master: 14

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,091
Number of rows in Master but not in Facebook: 2
Number of rows in Facebook but not in Master: 104

Number of rows with some compared columns unequal: 8
Number of rows with all compared columns equal: 4,083

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 11
Total number of values which compare unequal: 8

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype Facebook dtype  # Unequal  Max Diff  # Null Diff
0  school_name       object         object          8         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id                        school_name (Master)                          school_name (Facebook)
2396    G_RWA_02434                                GS MUGANZA""                                "GS MUGANZA"""""
3459    G_RWA_03553                   NKERENKE PRIMARY SCHOOL""                   "NKERENKE PRIMARY SCHOOL"""""
3433    G_RWA_03526                       LITTLE GEMS ACADEMY""                       "LITTLE GEMS ACADEMY"""""
3833    G_RWA_03936                               PSST KIZITO""                               "PSST KIZITO"""""
3972    G_RWA_04077                       St Christopher TVET""                       "St Christopher TVET"""""
2185    G_RWA_02214                                GS MWEGERA""                                "GS MWEGERA"""""
634     G_RWA_02502  IBYIRINGIROBYEJO SAINTE MARIE MONTESORIE""  "IBYIRINGIROBYEJO SAINTE MARIE MONTESORIE"""""
3717    G_RWA_03817                          LycÃ©e de Rusatira                               Lycée de Rusatira

Sample Rows Only in Master (First 10 Columns)
---------------------------------------------

                                      uuid country      source giga_school_id  source_school_id                              school_name education_level  latitude  longitude             hex8
2576  f6220be6-13a4-45ae-b000-327bbb048733  Rwanda  government    G_RWA_02626          121312.0               Ecole Notre Dame des Anges         Primary -1.956555   30.00000  886ad8c6d3fffff
2413  b4037996-d127-4111-84ee-73f082241cec  Rwanda  government    G_RWA_02451          250205.0  GROUPE SCOLAIRE SAINT\n NICOLAS CYANIKA       Secondary -2.442110   29.60156  886ad85947fffff

Sample Rows Only in Facebook (First 10 Columns)
-----------------------------------------------

       tile_bigint  clean_lat  clean_lon  school_id      sn  source_school_id        school_name school_category        school_settings   district
4148  2.622130e+15  -1.991083  29.602389       31.0    31.0          521041.0          GS GASAVE          PUBLIC                 12 YBE  NGORORERO
4110  2.626290e+15  -1.666250  29.935111      664.0   664.0          260204.0          EP KIGALI          PUBLIC  "PRE_PRIMARY,PRIMARY"    RULINDO
4117  2.629600e+15  -1.905472  30.200222      608.0   608.0          110834.0           EP JURWE          PUBLIC  "PRE_PRIMARY,PRIMARY"     GASABO
4147  2.622190e+15  -1.795194  29.607583     1238.0  1238.0          520339.0          EP GITEGA          PUBLIC                PRIMARY  NGORORERO
4094  2.620090e+15  -1.939389  29.440028        7.0     7.0          430323.0         GS RWAMIKO          PUBLIC                 12 YBE    RUTSIRO
4096  2.634040e+15  -1.883917  30.554361       71.0    71.0          130501.0         GS NYAWERA          PUBLIC                 12 YBE    KAYONZA
4121  2.630250e+15  -1.753333  30.251667      436.0   436.0          450504.0          GS KAGOGO          PUBLIC                  12YBE    GICUMBI
4112  2.617630e+15  -1.673139  29.243222     3429.0  3429.0          330423.0  HOUSE OF CHILDREN         PRIVATE                PRIMARY     RUBAVU
4169  2.626930e+15  -1.487917  29.986639     1212.0  1212.0          340301.0          EP KABEZA          PUBLIC                PRIMARY    GICUMBI
4170  2.626950e+15  -2.987600  29.987650     3713.0  3713.0          280901.0        EP KAMBYEYI          PUBLIC                PRIMARY    KAMONYI


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1  Ericsson       39  4197

Column Summary
--------------

Number of columns in common: 11
Number of columns in Master but not in Ericsson: 9
Number of columns in Ericsson but not in Master: 28

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,093
Number of rows in Master but not in Ericsson: 0
Number of rows in Ericsson but not in Master: 104

Number of rows with some compared columns unequal: 1
Number of rows with all compared columns equal: 4,092

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 10
Total number of values which compare unequal: 1

Columns with Unequal Values or Types
------------------------------------

        Column Master dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
0  school_name       object         object          1         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id                     school_name (Master)                 school_name (Ericsson)
2413    G_RWA_02451  GROUPE SCOLAIRE SAINT\n NICOLAS CYANIKA  GROUPE SCOLAIRE SAINT NICOLAS CYANIKA

Sample Rows Only in Ericsson (First 10 Columns)
-----------------------------------------------

        sn  school_id        school_name   school_category      school_settings district   sector        cell      village  latitude
4156   946   570513.0        EP KANYINYA            PUBLIC              PRIMARY  KAMONYI   RUKOMA      BUGULI        TUNZA -1.955722
4113   213   540706.0       GS NYAMUGARI            PUBLIC                12YBE  KAYONZA    MWIRI   NYAMUGARI     KABUKEYE -1.865806
4154   924   280504.0       EP NYAGISOZI  GOVERNMENT_AIDED              PRIMARY  KAMONYI   MUGINA       NTEKO    NYAGISOZI -2.091278
4144   608   110834.0           EP JURWE            PUBLIC  PRE_PRIMARY,PRIMARY   GASABO    NDERA      MUKUYU        JURWE -1.905472
4106   178   410804.0          GS RUBONA            PUBLIC                12YBE  RULINDO   KISARO  KAMUSHENYI      GAKENKE -1.629833
4111   203   410608.0          GS NGANZO            PUBLIC                12YBE  RULINDO   CYUNGO     MAREMBO       RUSAYU -1.602667
4195  3429   330423.0  HOUSE OF CHILDREN           PRIVATE              PRIMARY   RUBAVU  GISENYI  MBUGANGARI  IYOBOKAMANA -1.673139
4130   357   340302.0          GS CYUMBA  GOVERNMENT_AIDED                12YBE  NYABIHU    JOMBA      GASIZA       KANAMA -1.737583
4105   147   281208.0         GS RUYENZI            PUBLIC                12YBE  KAMONYI    RUNDA     RUYENZI       RUGAZI -1.971278
4158   951   411407.0           EP MURWA            PUBLIC              PRIMARY  RULINDO   RUKOZO      BURARO        MURWA -1.652250


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       20  4093
1       ITU       24  4197

Column Summary
--------------

Number of columns in common: 5
Number of columns in Master but not in ITU: 15
Number of columns in ITU but not in Master: 19

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,093
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 104

Number of rows with some compared columns unequal: 0
Number of rows with all compared columns equal: 4,093

Column Comparison
-----------------

Number of columns compared with some values unequal: 0
Number of columns compared with all values equal: 5
Total number of values which compare unequal: 0

Sample Rows Only in ITU (First 10 Columns)
------------------------------------------

       fid    sn  school_id    school_nam        school_cat school_set  district     sector        cell    village
4159   970   970   341104.0    EP KARAMBI  GOVERNMENT_AIDED    PRIMARY   NYABIHU    RUREMBO     MURAMBI    KARAMBI
4117   247   247   341001.0     GS NGANZO  GOVERNMENT_AIDED      12YBE   NYABIHU     RUGERA  NYAGAHONDO     NGANZO
4193  1392  1392   280910.0   EP KAGARAMA            PUBLIC    PRIMARY   KAMONYI  NYARUBAKA    KAMBYEYI     RUSEKE
4116   245   245   320107.0    GS RUGAMBA            PUBLIC      12YBE   RUTSIRO     BONEZA    KABIHOGO  BWERAMANA
4157   950   950   570109.0  EP NYABUBARE            PUBLIC    PRIMARY   KAMONYI  NYAMIYAGA     MUKINGA  NYABUBARE
4118   253   253   241003.0    GS RUGOGWE  GOVERNMENT_AIDED      12YBE      HUYE   RUHASHYA     RUGOGWE   AKANYANA
4130   357   357   340302.0     GS CYUMBA  GOVERNMENT_AIDED      12YBE   NYABIHU      JOMBA      GASIZA     KANAMA
4168  1023  1023   540702.0     EP KAGEYO            PUBLIC    PRIMARY   KAYONZA      MWIRI      KAGEYO      NDAGO
4136   429   429   130211.0    GS MURAMBI            PUBLIC      12YBE  KICUKIRO    GATENGA     KARAMBO     RUHUKA
4170  1025  1025   540115.0     EP RUKORE            PUBLIC    PRIMARY   KAYONZA     GAHINI        KAHI     RUKORE

In [211]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [212]:
RW_e['coverage'] = np.where((RW_e['2G_coverage']== 'None') & (RW_e['3G_coverage']== 'None')& (RW_e['4G_coverage']== 'None'), 'NO', 'YES')
RW_f['coverage'] = np.where((RW_f['percent_2g'].isnull()) & (RW_f['percent_3g'].isnull())& (RW_f['percent_4g'].isnull()), 'NO', 'YES')
RW_f['coverage'] = np.where((RW_f['percent_2g']<=0) & (RW_f['percent_3g']<=0) & (RW_f['percent_4g']<=0), 'NO', 'YES')
RW_itu['coverage'] = np.where((RW_itu['2G'].isnull()) & (RW_itu['3G'].isnull())& (RW_itu['4G'].isnull()), 'NO', 'YES')

In [213]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [214]:
RW_f['2G_coverage'] = np.where((RW_f['percent_2g'] > 0), 'YES', 'NO')
RW_f['3G_coverage'] = np.where((RW_f['percent_3g'] > 0), 'YES', 'NO')
RW_f['4G_coverage'] = np.where((RW_f['percent_4g'] > 0), 'YES', 'NO')

In [215]:
RW_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [216]:
RW_e['2G_coverage'] = np.where((RW_e['2G_coverage_quality'] != 'None'), 'YES', 'NO')
RW_e['3G_coverage'] = np.where((RW_e['3G_coverage_quality'] != 'None'), 'YES', 'NO')
RW_e['4G_coverage'] = np.where((RW_e['4G_coverage_quality'] != 'None'), 'YES', 'NO')
RW_itu['2G_coverage'] = np.where((RW_itu['2G'] >=1), 'YES', 'NO')
RW_itu['3G_coverage'] = np.where((RW_itu['3G'] == 1), 'YES', 'NO')
RW_itu['4G_coverage'] = np.where((RW_itu['4G'] ==1), 'YES', 'NO')

In [217]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [218]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [219]:
RW_f['coverage_type'] = RW_f.apply((lambda x: coverage_type(x)),axis=1)
RW_e['coverage_type'] = RW_e.apply((lambda x: coverage_type(x)),axis=1)
RW_itu['coverage_type'] = RW_itu.apply((lambda x: coverage_type(x)),axis=1)

In [220]:
# isolating the needed colunms from the rest

In [221]:
features = ['giga_school_id','coverage','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [222]:
RW_fc = RW_f[features]
RW_ec = RW_e[features]
RW_it = RW_itu[features]

In [223]:
# more sanity checks for nan on giga_school_id

In [224]:
RW_fc = RW_fc[RW_fc['giga_school_id'].notna()]
RW_ec = RW_ec[RW_ec['giga_school_id'].notna()]
RW_it = RW_it[RW_it['giga_school_id'].notna()]

In [225]:
# visually comparing the sources for matches and mismatches across the columns

In [226]:
df_all = pd.concat([RW_fc.set_index('giga_school_id'), RW_ec.set_index('giga_school_id'),RW_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'Ericsson', 'ITU'])
df_all.head()

               Facebook                                                    \
               coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
giga_school_id
G_RWA_00112         YES            4G         YES         YES         YES
G_RWA_00116         YES            4G         YES         YES         YES
G_RWA_00258         YES            4G         YES         YES         YES
G_RWA_00551         YES            4G         YES         YES         YES
G_RWA_00901         YES            4G         YES         YES         YES

               Ericsson                                                    \
               coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
giga_school_id
G_RWA_00112         YES            4G         YES         YES         YES
G_RWA_00116         YES            4G         YES         YES         YES
G_RWA_00258         YES            4G         YES         YES         YES
G_RWA_00551         YES            4G         YES         YES         YES
G_RWA_00901         YES            4G         YES         YES         YES

                    ITU
               coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
giga_school_id
G_RWA_00112         YES            4G         YES         YES         YES
G_RWA_00116         YES            4G         YES          NO         YES
G_RWA_00258         YES            4G         YES          NO         YES
G_RWA_00551         YES            4G         YES         YES         YES
G_RWA_00901         YES            4G         YES          NO         YES

In [227]:
df_final = df_all.swaplevel(axis='columns')[RW_fc.columns[1:]]
df_final.head()

               coverage               coverage_type              2G_coverage  \
               Facebook Ericsson  ITU      Facebook Ericsson ITU    Facebook
giga_school_id
G_RWA_00112         YES      YES  YES            4G       4G  4G         YES
G_RWA_00116         YES      YES  YES            4G       4G  4G         YES
G_RWA_00258         YES      YES  YES            4G       4G  4G         YES
G_RWA_00551         YES      YES  YES            4G       4G  4G         YES
G_RWA_00901         YES      YES  YES            4G       4G  4G         YES

                             3G_coverage               4G_coverage           \
               Ericsson  ITU    Facebook Ericsson  ITU    Facebook Ericsson
giga_school_id
G_RWA_00112         YES  YES         YES      YES  YES         YES      YES
G_RWA_00116         YES  YES         YES      YES   NO         YES      YES
G_RWA_00258         YES  YES         YES      YES   NO         YES      YES
G_RWA_00551         YES  YES         YES      YES  YES         YES      YES
G_RWA_00901         YES  YES         YES      YES   NO         YES      YES


                ITU
giga_school_id
G_RWA_00112     YES
G_RWA_00116     YES
G_RWA_00258     YES
G_RWA_00551     YES
G_RWA_00901     YES

In [228]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [229]:
# coverage comparison report

In [230]:
# create a separate dfs
fbc = RW_fc.copy()
ecc = RW_ec.copy()
ituc = RW_it.copy()
# Facebook&Ericsson
cross_profile_fb_ec = datacompy.Compare(
fbc,
ecc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='Ericsson'
)
# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)
#Ericsson&ITU
cross_profile_Ericsson_itu = datacompy.Compare(
ecc,
ituc,
join_columns='giga_school_id',  
df1_name='Ericsson', 
df2_name='ITU'
)

print(cross_profile_fb_ec.report())
print(cross_profile_fb_itu.report())
print(cross_profile_Ericsson_itu.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  4195
1  Ericsson        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in Ericsson: 0
Number of columns in Ericsson but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,195
Number of rows in Facebook but not in Ericsson: 0
Number of rows in Ericsson but not in Facebook: 2

Number of rows with some compared columns unequal: 2,504
Number of rows with all compared columns equal: 1,691

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 5,948

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype Ericsson dtype  # Unequal  Max Diff  # Null Diff
0    2g_coverage         object         object        543         0            0
2    3g_coverage         object         object        426         0            0
4    4g_coverage         object         object       2375         0            0
3       coverage         object         object        218         0            0
1  coverage_type         object         object       2386         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 2g_coverage (Facebook) 2g_coverage (Ericsson)
1603    G_RWA_03065                    YES                     NO
2697    G_RWA_00931                    YES                     NO
381     G_RWA_01353                    YES                     NO
892     G_RWA_00095                    YES                     NO
2987    G_RWA_02378                    YES                     NO
2040    G_RWA_01724                    YES                     NO
1727    G_RWA_02894                    YES                     NO
3170    G_RWA_03073                    YES                     NO
3915    G_RWA_01057                    YES                     NO
1306    G_RWA_01236                    YES                     NO

     giga_school_id coverage_type (Facebook) coverage_type (Ericsson)
490     G_RWA_03497                       4G                       3G
438     G_RWA_01845                       4G                       3G
1757    G_RWA_00404                       4G                       3G
368     G_RWA_02250                       4G                       3G
2099    G_RWA_02233                       4G                       3G
291     G_RWA_01034                       4G                       3G
3762    G_RWA_01126                       4G                       3G
3100    G_RWA_03365                       4G                       3G
1873    G_RWA_00415                       4G                     None
2947    G_RWA_00402                       4G                     None

     giga_school_id 3g_coverage (Facebook) 3g_coverage (Ericsson)
2490    G_RWA_01522                    YES                     NO
3573    G_RWA_02909                    YES                     NO
174     G_RWA_02365                    YES                     NO
2439    G_RWA_03642                    YES                     NO
2665    G_RWA_02363                    YES                     NO
515     G_RWA_00794                    YES                     NO
2334    G_RWA_03503                    YES                     NO
3437    G_RWA_00515                    YES                     NO
688     G_RWA_03514                    YES                     NO
102     G_RWA_01711                    YES                     NO

     giga_school_id coverage (Facebook) coverage (Ericsson)
2277    G_RWA_00774                 YES                  NO
913     G_RWA_00080                 YES                  NO
3026    G_RWA_00736                 YES                  NO
2439    G_RWA_03642                 YES                  NO
3047    G_RWA_00917                 YES                  NO
916     G_RWA_00902                 YES                  NO
3030    G_RWA_01331                 YES                  NO
3232    G_RWA_03542                 YES                  NO
1048    G_RWA_01131                 YES                  NO
1801    G_RWA_03692                 YES                  NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (Ericsson)
1385    G_RWA_03064                    YES                     NO
3602    G_RWA_00073                    YES                     NO
1380    G_RWA_01957                    YES                     NO
3945    G_RWA_03871                    YES                     NO
3435    G_RWA_00167                    YES                     NO
754     G_RWA_03976                    YES                     NO
688     G_RWA_03514                    YES                     NO
1639    G_RWA_02769                    YES                     NO
293     G_RWA_01184                    YES                     NO
3509    G_RWA_03368                    YES                     NO

Sample Rows Only in Ericsson (First 10 Columns)
-----------------------------------------------

     giga_school_id coverage coverage_type 2g_coverage 3g_coverage 4g_coverage
4195    G_RWA_02451      YES            4G         YES         YES         YES
4196    G_RWA_02626      YES            4G         YES         YES         YES


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  4195
1       ITU        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,195
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 2

Number of rows with some compared columns unequal: 3,420
Number of rows with all compared columns equal: 775

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 4,973

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
0    2g_coverage         object    object        374         0            0
2    3g_coverage         object    object       3417         0            0
4    4g_coverage         object    object        500         0            0
3       coverage         object    object        167         0            0
1  coverage_type         object    object        515         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
3853    G_RWA_01798                    YES                NO
66      G_RWA_02420                    YES                NO
2688    G_RWA_02844                    YES                NO
1869    G_RWA_04000                    YES                NO
4015    G_RWA_00741                    YES                NO
3330    G_RWA_03078                    YES                NO
2655    G_RWA_00387                    YES                NO
204     G_RWA_02943                    YES                NO
1943    G_RWA_02709                    YES                NO
2325    G_RWA_01878                    YES                NO

     giga_school_id coverage_type (Facebook) coverage_type (ITU)
1339    G_RWA_02802                       4G                  2G
3674    G_RWA_02983                       4G                None
885     G_RWA_02244                       4G                  2G
1764    G_RWA_02222                       4G                  2G
1919    G_RWA_01689                       4G                None
997     G_RWA_00251                       4G                  2G
3593    G_RWA_01958                       4G                  2G
698     G_RWA_02755                       4G                None
3696    G_RWA_01889                       4G                  2G
3854    G_RWA_02013                       4G                  2G

     giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
1448    G_RWA_04162                    YES                NO
3276    G_RWA_02291                    YES                NO
942     G_RWA_01646                    YES                NO
2332    G_RWA_03359                    YES                NO
1654    G_RWA_03053                    YES                NO
2871    G_RWA_04126                    YES                NO
3414    G_RWA_00487                    YES                NO
4052    G_RWA_00084                    YES                NO
2819    G_RWA_03899                    YES                NO
2699    G_RWA_01656                    YES                NO

     giga_school_id coverage (Facebook) coverage (ITU)
1249    G_RWA_00174                 YES             NO
2522    G_RWA_02985                 YES             NO
194     G_RWA_01986                 YES             NO
1286    G_RWA_02706                 YES             NO
3661    G_RWA_01048                 YES             NO
692     G_RWA_00297                 YES             NO
3466    G_RWA_01237                 YES             NO
320     G_RWA_02479                 YES             NO
2499    G_RWA_00300                 YES             NO
279     G_RWA_01700                 YES             NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
3674    G_RWA_02983                    YES                NO
40      G_RWA_00936                    YES                NO
4156    G_RWA_02780                    YES                NO
1568    G_RWA_01136                    YES                NO
1775    G_RWA_03634                    YES                NO
1208    G_RWA_00267                    YES                NO
1690    G_RWA_02351                    YES                NO
1068    G_RWA_02140                    YES                NO
3572    G_RWA_02703                    YES                NO
3619    G_RWA_03689                    YES                NO

Sample Rows Only in ITU (First 10 Columns)
------------------------------------------

     giga_school_id coverage coverage_type 2g_coverage 3g_coverage 4g_coverage
4196    G_RWA_02626      YES            4G         YES          NO         YES
4195    G_RWA_02451      YES            4G         YES          NO         YES


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Ericsson        6  4197
1       ITU        6  4197

Column Summary
--------------

Number of columns in common: 6
Number of columns in Ericsson but not in ITU: 0
Number of columns in ITU but not in Ericsson: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4,197
Number of rows in Ericsson but not in ITU: 0
Number of rows in ITU but not in Ericsson: 0

Number of rows with some compared columns unequal: 3,467
Number of rows with all compared columns equal: 730

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 8,419

Columns with Unequal Values or Types
------------------------------------

          Column Ericsson dtype ITU dtype  # Unequal  Max Diff  # Null Diff
0    2g_coverage         object    object        633         0            0
2    3g_coverage         object    object       3013         0            0
4    4g_coverage         object    object       2055         0            0
3       coverage         object    object        319         0            0
1  coverage_type         object    object       2399         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 2g_coverage (Ericsson) 2g_coverage (ITU)
881     G_RWA_00882                    YES                NO
2285    G_RWA_02286                    YES                NO
1236    G_RWA_01237                    YES                NO
2830    G_RWA_02831                     NO               YES
1550    G_RWA_01551                     NO               YES
19      G_RWA_00020                    YES                NO
1604    G_RWA_01605                     NO               YES
3263    G_RWA_03264                    YES                NO
1386    G_RWA_01387                    YES                NO
1056    G_RWA_01057                     NO               YES

     giga_school_id coverage_type (Ericsson) coverage_type (ITU)
3228    G_RWA_03229                       3G                  4G
2272    G_RWA_02273                       3G                  4G
1657    G_RWA_01658                       3G                  4G
688     G_RWA_00689                       4G                  2G
1732    G_RWA_01733                       3G                  4G
1418    G_RWA_01419                       3G                  2G
1131    G_RWA_01132                       3G                  4G
1750    G_RWA_01751                       3G                  4G
3486    G_RWA_03487                       3G                  4G
366     G_RWA_00367                       3G                None

     giga_school_id 3g_coverage (Ericsson) 3g_coverage (ITU)
14      G_RWA_00015                    YES                NO
2457    G_RWA_02458                    YES                NO
942     G_RWA_00943                    YES                NO
3841    G_RWA_03842                    YES                NO
4029    G_RWA_04030                    YES                NO
1209    G_RWA_01210                    YES                NO
2354    G_RWA_02355                    YES                NO
2816    G_RWA_02817                    YES                NO
3244    G_RWA_03245                    YES                NO
158     G_RWA_00159                    YES                NO

     giga_school_id coverage (Ericsson) coverage (ITU)
2955    G_RWA_02956                 YES             NO
973     G_RWA_00974                  NO            YES
3666    G_RWA_03667                 YES             NO
8       G_RWA_00009                 YES             NO
3076    G_RWA_03077                 YES             NO
2291    G_RWA_02292                 YES             NO
2584    G_RWA_02585                 YES             NO
3541    G_RWA_03542                  NO            YES
355     G_RWA_00356                 YES             NO
2852    G_RWA_02853                  NO            YES

     giga_school_id 4g_coverage (Ericsson) 4g_coverage (ITU)
1947    G_RWA_01948                     NO               YES
2234    G_RWA_02235                     NO               YES
1544    G_RWA_01545                     NO               YES
524     G_RWA_00525                     NO               YES
178     G_RWA_00179                     NO               YES
878     G_RWA_00879                     NO               YES
3391    G_RWA_03392                     NO               YES
2138    G_RWA_02139                     NO               YES
1277    G_RWA_01278                     NO               YES
1785    G_RWA_01786                     NO               YES

In [231]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [232]:
#Main
df_c = pd.concat([RW_fc,RW_ec,RW_it])
RW_coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x:x.value_counts().index[0])
RW_master_w_coverage = RW_master.merge(RW_coverage, how="left", on=["giga_school_id"])
RW_master_w_coverage.to_csv('./data/RW_master_w_coverage.csv', encoding='utf-8')
RW_master_w_coverage_connectivity = RW_master_w_coverage.copy()
RW_master_w_coverage_connectivity['connectivity'] = np.where((RW_master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
RW_master_w_coverage_connectivity.to_csv('./data/RW_master_w_coverage_connectivity.csv', encoding='utf-8')

In [233]:
RW_master_w_coverage.head()

,uuid,country,source,giga_school_id,source_school_id,school_name,education_level,latitude,longitude,hex8,...,internet_availability,number_of_students,number_of_teachers,computers,connectivity_type,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,cdf4f80c-e3cc-4ebc-8931-8fe76018cc61,Rwanda,government,G_RWA_00002,521312.0,GS MUHORORO,Secondary,-2.159389,29.547972,886ade34e7fffff,...,USB_MODEM,28,1,260.0,3G,YES,4G,YES,NO,YES
1,a58be9dc-59c4-4cf9-96f5-e5b8fa84ba82,Rwanda,government,G_RWA_00005,331220.0,GS MWENDO,Secondary,-1.730639,30.212722,886ad88707fffff,...,USB_MODEM,62,3,272.0,3G,YES,4G,YES,YES,YES
2,9fe38ae7-7d51-4646-841b-1b6daa31c987,Rwanda,government,G_RWA_00006,411305.0,GS NYAGISOZI,Secondary,-2.295028,29.645556,886ade2481fffff,...,USB_MODEM,64,4,218.0,3G,YES,4G,YES,NO,YES
3,8b5c3930-c3ea-44d8-a510-086f8c6889aa,Rwanda,government,G_RWA_00009,510619.0,GS RUGANGO,Secondary,-2.371833,30.599167,886ad821d7fffff,...,USB_MODEM,80,2,252.0,3G,YES,None,YES,YES,NO
4,2288686a-e13e-423a-b0bb-b7d08452e9a8,Rwanda,government,G_RWA_00012,130610.0,GS GIHINGA,Secondary,-1.926806,30.591806,886ad8a095fffff,...,USB_MODEM,98,3,259.0,3G,YES,4G,YES,YES,YES

In [234]:
RW_master_w_coverage_connectivity.head()

,uuid,country,source,giga_school_id,source_school_id,school_name,education_level,latitude,longitude,hex8,...,number_of_students,number_of_teachers,computers,connectivity_type,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
0,cdf4f80c-e3cc-4ebc-8931-8fe76018cc61,Rwanda,government,G_RWA_00002,521312.0,GS MUHORORO,Secondary,-2.159389,29.547972,886ade34e7fffff,...,28,1,260.0,3G,YES,4G,YES,NO,YES,YES
1,a58be9dc-59c4-4cf9-96f5-e5b8fa84ba82,Rwanda,government,G_RWA_00005,331220.0,GS MWENDO,Secondary,-1.730639,30.212722,886ad88707fffff,...,62,3,272.0,3G,YES,4G,YES,YES,YES,YES
2,9fe38ae7-7d51-4646-841b-1b6daa31c987,Rwanda,government,G_RWA_00006,411305.0,GS NYAGISOZI,Secondary,-2.295028,29.645556,886ade2481fffff,...,64,4,218.0,3G,YES,4G,YES,NO,YES,YES
3,8b5c3930-c3ea-44d8-a510-086f8c6889aa,Rwanda,government,G_RWA_00009,510619.0,GS RUGANGO,Secondary,-2.371833,30.599167,886ad821d7fffff,...,80,2,252.0,3G,YES,None,YES,YES,NO,YES
4,2288686a-e13e-423a-b0bb-b7d08452e9a8,Rwanda,government,G_RWA_00012,130610.0,GS GIHINGA,Secondary,-1.926806,30.591806,886ad8a095fffff,...,98,3,259.0,3G,YES,4G,YES,YES,YES,YES