</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [1]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [11]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [58]:
d_f = pd.read_csv('./data/SierraLeone_Connectivity.csv',low_memory=False,encoding='utf-8')
d_i = pd.read_csv('./data/sierra_leone_school_coverage_ITU.csv',low_memory=False,encoding='utf-8')
#d_e = pd.read_csv('./data/Rwanda_Ericsson_07_06_2021.csv',low_memory=False,encoding='utf-8')
d_g = pd.read_csv('./data/coverage_Sierra_Leone_GSMA_V2.csv',low_memory=False,encoding='utf-8')
s_master = pd.read_csv('./data/SL_geolocation_master.csv',low_memory=False,encoding='utf-8')

In [59]:
d_f.head(2)

,tile_bigint,clean_lat,clean_lon,uuid,country,source,giga_school_id,source_school_id,name,education_level,...,school_archive,electricity_availability,connectivity_availability,num_students,num_teachers,num_computers,computer_lab,percent_2g,percent_3g,percent_4g
0,2.090000e+15,8.972037,-12.91269,9ff31a81-67df-3629-bbcc-2dbc72e93c32,Sierra Leone,government,G_SL_000094,NaN,KDC PRESCHOOL TAINTAFOR,Primary,...,No,No,No,70,1,NaN,No,11.02,74.02,14.96
1,2.120000e+15,8.578695,-10.71954,68f65b94-2664-36b4-ab4c-ce3ce522fd9b,Sierra Leone,government,G_SL_000080,NaN,K.D.E.C PRIMARY SCHOOL WAYIAH,Primary,...,No,No,No,252,3,NaN,No,10.94,74.22,14.84

In [14]:
# some colunm names standardization

In [15]:
#d_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
#d_i.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)
#d_g.rename(columns={'giga_schoo': 'giga_school_id'}, inplace=True)

In [16]:
# cross-profiles the sources with master data for completeness and correctness

In [60]:
# create a separate dfs
master = s_master.copy()
fb = d_f.copy()
#ec = d_e.copy()
itu = d_i.copy()
gsma = d_g.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
'''''
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
'''''
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)
# for GSMA
cross_profile_gsma_master = datacompy.Compare(
master,
gsma,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='GSMA'
)
print(cross_profile_fb_master.report())
#print(cross_profile_e_master.report())
print(cross_profile_itu_master.report())
print(cross_profile_gsma_master.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Master       20  10893
1  Facebook       26   7849

Column Summary
--------------

Number of columns in common: 19
Number of columns in Master but not in Facebook: 1
Number of columns in Facebook but not in Master: 7

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,849
Number of rows in Master but not in Facebook: 3,044
Number of rows in Facebook but not in Master: 0

Number of rows with some compared columns unequal: 7,849
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 2
Number of columns compared with all values equal: 17
Total number of values which compare unequal: 15,179

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype Facebook dtype  # Unequal  Max Diff  # Null Diff
1  master_timestamp       object         object       7849       0.0            0
0              name       object         object       7330       0.0            0
3      num_students      float64          int64          0       0.0            0
2      num_teachers      float64          int64          0       0.0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id                                      name (Master)                                    name (Facebook)
2375    G_SL_002376  COMMUNITY PRIMARY SCHOOL  (DAGBAIDU SECTION, F...  "COMMUNITY PRIMARY SCHOOL  (DAGBAIDU SECTION, ...
2625    G_SL_002626  R.C PRIMARY SCHOOL  (TANKORO SECTION, MOYIMA T...  "R.C PRIMARY SCHOOL  (TANKORO SECTION, MOYIMA ...
557     G_SL_000558  ROMAN CATHOLIC PRIMARY SCHOOL  (SAKIEMA SECTIO...  "ROMAN CATHOLIC PRIMARY SCHOOL  (SAKIEMA SECTI...
6407    G_SL_006408  FLORENCE JUNIOR SECONDARY SCHOOL  (BO  NO# 2 S...  "FLORENCE JUNIOR SECONDARY SCHOOL  (BO  NO# 2 ...
2800    G_SL_002801  KAMBIA DISTRICT EDUCATION COMMITTEE SERVICES P...  "KAMBIA DISTRICT EDUCATION COMMITTEE SERVICES ...
9413    G_SL_009414  CEE BEE JAY NURSERY AND PREPARATORY SCHOOL  (P...  "CEE BEE JAY NURSERY AND PREPARATORY SCHOOL  (...
2071    G_SL_002072  SHALON ACADEMY PRIMARY SCHOOL  (MONIDEKOR SECT...  "SHALON ACADEMY PRIMARY SCHOOL  (MONIDEKOR SEC...
7880    G_SL_007881  SIERRA LEONE MUSLIM BROTHERHOOD PRIMARY SCHOOL...  "SIERRA LEONE MUSLIM BROTHERHOOD PRIMARY SCHOO...
2650    G_SL_002651  UMC GIRLS  PRIMARY  SCHOOL  (TANKORO SECTION, ...  "UMC GIRLS  PRIMARY  SCHOOL  (TANKORO SECTION,...
7155    G_SL_007156  BO DISTRICT EDUCATION COMMITTEE  PRIMARY  SCHO...  "BO DISTRICT EDUCATION COMMITTEE  PRIMARY  SCH...

      giga_school_id   master_timestamp (Master) master_timestamp (Facebook)
7810     G_SL_007811  2021-08-16 23:04:02.701831                     17:40.1
947      G_SL_000948  2021-08-16 23:04:02.701831                     17:40.1
833      G_SL_000834  2021-08-16 23:04:02.701831                     17:40.1
10173    G_SL_010174  2021-08-16 23:04:02.701831                     17:40.1
2458     G_SL_002459  2021-08-16 23:04:02.701831                     17:40.1
1076     G_SL_001077  2021-08-16 23:04:02.701831                     17:40.1
3024     G_SL_003025  2021-08-16 23:04:02.701831                     17:40.1
8575     G_SL_008576  2021-08-16 23:04:02.701831                     17:40.1
1772     G_SL_001773  2021-08-16 23:04:02.701831                     17:40.1
4831     G_SL_004832  2021-08-16 23:04:02.701831                     17:40.1

Sample Rows Only in Master (First 10 Columns)
---------------------------------------------

                                      uuid       country      source giga_school_id    school_id                                               name education_level       lat       lon             hex8
279   90dc2d4d-e60d-39f5-81fa-9ba584e73723  Sierra Leone  government    G_SL_000280          NaN             GOD IS OUR LIGHT INTERNATIONAL ACADEMY         Primary  7.931744 -11.72362  8875b29301fffff
5668  4868483f-060b-30a4-b108-f15b0fe6cea7  Sierra Leone  government    G_SL_005669  250701102.0  SIERRA LEONE MUSLIM BROTHERHOOD NUSERY SCHOOL ...         Primary  8.627840 -11.66429  8875b68953fffff
9129  15c32ae6-a83c-3700-ac79-6bd0ac50bbc9  Sierra Leone  government    G_SL_009130  410402212.0  DAUZEN NURSERY AND PREPARATORY  (GODERICH SECT...         Primary  8.439766 -13.26870  8854cc3149fffff
5762  3a89db8a-239b-3cc2-8d5b-fd2ae1321e8c  Sierra Leone  government    G_SL_005763  250801209.0  BENEVOLENT ISLAMIC PRIMARY SCHOOL  (MALAL SECT...         Primary  8.697473 -12.29766  8854eb2345fffff
5451  168bd4ef-a3d1-399b-a44d-12b1edfabe10  Sierra Leone  government    G_SL_005452  250201218.0  ROMAN CATHOLIC PRIMARY SCHOOL  (MAKELFA SECTIO...         Primary  8.863746 -11.77780  8854e96897fffff
6406  e3f98153-5d6a-39e9-bc11-a42285cca335  Sierra Leone  government    G_SL_006407  319101403.0  FLORENCE  SENIOR  HIGH  SECONDARY  SCHOOL,  BO...       Secondary  7.973282 -11.73230  8875b666d3fffff
3373  961c0c0f-5cb9-3634-abb9-8793bcf44b21  Sierra Leone  government    G_SL_003374  211201203.0  BOMBALI DISTRICT EDUCATION COMMITTEE PRIMARY S...         Primary  9.493298 -12.24438  8854e866cbfffff
6257  1d4c7a2f-c09b-3486-aecd-ccf9ee3feeb4  Sierra Leone  government    G_SL_006258  310403210.0  AHMADIYYA MUSLIM PRIMARY SCHOOL  (FALLLAY SECT...         Primary  7.936338 -11.46396  8875b625abfffff
5874  29048a78-6f6b-3d92-8162-c65b8dd5bd9d  Sierra Leone  government    G_SL_005875  999999989.0  ROMAN CATHOLIC PRIMARY SCHOOL  (BUYAN SECTION,...         Primary  8.967799 -11.66184  8854e9601dfffff
4836  3883ad62-af6f-3658-982a-bbb2da0b4ca9  Sierra Leone  government    G_SL_004837  210901103.0  EARLY CHILD PRE SCHOOL BINKOLO  (BINKOLO SECTI...         Primary  8.957649 -11.97626  8854ebb5adfffff


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Master       20  10893
1       ITU       33  10893

Column Summary
--------------

Number of columns in common: 16
Number of columns in Master but not in ITU: 4
Number of columns in ITU but not in Master: 17

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 10,893
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 0

Number of rows with some compared columns unequal: 10,893
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 2
Number of columns compared with all values equal: 14
Total number of values which compare unequal: 10,898

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype ITU dtype  # Unequal  Max Diff  # Null Diff
1  master_timestamp       object   float64      10893         0            0
0              name       object    object          5         0            0

Sample Rows with Unequal Values
-------------------------------

    giga_school_id                                      name (Master)                                         name (ITU)
262    G_SL_000263   PETER,S MEMORIAL PRIMARY SCHOOL GBONDO TOWN BO.     PETER,S MEMORIAL PRIMARY SCHOOL GBONDO TOWN BO.
194    G_SL_000195                  M,C ,AUG SENIOR SECONDARY SCHOOL                    M,C ,AUG SENIOR SECONDARY SCHOOL
453    G_SL_000454           KANDA BERNET PRIMARY SCHOOL, ALLEN TOWN             KANDA BERNET PRIMARY SCHOOL, ALLEN TOWN
195    G_SL_000196  KURUBONLA SENIOR SECONDARY SCHOOL, KURUBONLA T...  KURUBONLA SENIOR SECONDARY SCHOOL, KURUBONLA TOWN
261    G_SL_000262              HUZZY PRIMARY SCHOOL, BATIAMA LAYOUT                HUZZY PRIMARY SCHOOL, BATIAMA LAYOUT

      giga_school_id   master_timestamp (Master)  master_timestamp (ITU)
122      G_SL_000123  2021-08-16 23:04:02.701831              44390.5956
6547     G_SL_006548  2021-08-16 23:04:02.701831              44390.5956
8591     G_SL_008592  2021-08-16 23:04:02.701831              44390.5956
9        G_SL_000010  2021-08-16 23:04:02.701831              44390.5956
10296    G_SL_010297  2021-08-16 23:04:02.701831              44390.5956
6388     G_SL_006389  2021-08-16 23:04:02.701831              44390.5956
8220     G_SL_008221  2021-08-16 23:04:02.701831              44390.5956
9810     G_SL_009811  2021-08-16 23:04:02.701831              44390.5956
1170     G_SL_001171  2021-08-16 23:04:02.701831              44390.5956
5321     G_SL_005322  2021-08-16 23:04:02.701831              44390.5956


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0    Master       20  10893
1      GSMA       24  10893

Column Summary
--------------

Number of columns in common: 20
Number of columns in Master but not in GSMA: 0
Number of columns in GSMA but not in Master: 4

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 10,893
Number of rows in Master but not in GSMA: 0
Number of rows in GSMA but not in Master: 0

Number of rows with some compared columns unequal: 10,893
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 19
Total number of values which compare unequal: 10,893

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype GSMA dtype  # Unequal  Max Diff  # Null Diff
0  master_timestamp       object     object      10893       0.0            0
2      num_students      float64      int64          0       0.0            0
1      num_teachers      float64      int64          0       0.0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id   master_timestamp (Master) master_timestamp (GSMA)
7433    G_SL_007434  2021-08-16 23:04:02.701831                 17:40.1
9527    G_SL_009528  2021-08-16 23:04:02.701831                 17:40.1
4701    G_SL_004702  2021-08-16 23:04:02.701831                 17:40.1
2156    G_SL_002157  2021-08-16 23:04:02.701831                 17:40.1
6342    G_SL_006343  2021-08-16 23:04:02.701831                 17:40.1
4762    G_SL_004763  2021-08-16 23:04:02.701831                 17:40.1
1358    G_SL_001359  2021-08-16 23:04:02.701831                 17:40.1
119     G_SL_000120  2021-08-16 23:04:02.701831                 17:40.1
1377    G_SL_001378  2021-08-16 23:04:02.701831                 17:40.1
4081    G_SL_004082  2021-08-16 23:04:02.701831                 17:40.1

In [18]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [61]:
#d_e['coverage'] = np.where((d_e['2G_coverage']== 'None') & (d_e['3G_coverage']== 'None')& (d_e['4G_coverage']== 'None'), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2g'].isnull()) & (d_f['percent_3g'].isnull())& (d_f['percent_4g'].isnull()), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2g']<=0) & (d_f['percent_3g']<=0) & (d_f['percent_4g']<=0), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G'].isnull()) & (d_i['3G'].isnull())& (d_i['4G'].isnull()), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G']<=0) & (d_i['3G']<=0) & (d_i['4G']<=0), 'NO', 'YES')
d_g['coverage'] = np.where((d_g['2G'].isnull()) & (d_g['3G'].isnull())& (d_g['4G'].isnull()), 'NO', 'YES')
d_g['coverage'] = np.where((d_g['2G']<=0) & (d_g['3G']<=0) & (d_g['4G']<=0), 'NO', 'YES')

In [62]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [63]:
d_g['2G_coverage'] = np.where((d_g['2G'] > 0), 'YES', 'NO')
d_g['3G_coverage'] = np.where((d_g['3G'] > 0), 'YES', 'NO')
d_g['4G_coverage'] = np.where((d_g['4G'] > 0), 'YES', 'NO')

In [64]:
d_f['2G_coverage'] = np.where((d_f['percent_2g'] > 0), 'YES', 'NO')
d_f['3G_coverage'] = np.where((d_f['percent_3g'] > 0), 'YES', 'NO')
d_f['4G_coverage'] = np.where((d_f['percent_4g'] > 0), 'YES', 'NO')

In [65]:
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [23]:
#d_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [24]:
'''''
d_e['2G_coverage'] = np.where((d_e['2G_coverage_quality'] != 'None'), 'YES', 'NO')
d_e['3G_coverage'] = np.where((d_e['3G_coverage_quality'] != 'None'), 'YES', 'NO')
d_e['4G_coverage'] = np.where((d_e['4G_coverage_quality'] != 'None'), 'YES', 'NO')
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [25]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [66]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [67]:
d_f['coverage_type'] = d_f.apply((lambda x: coverage_type(x)),axis=1)
#d_e['coverage_type'] = d_e.apply((lambda x: coverage_type(x)),axis=1)
d_i['coverage_type'] = d_i.apply((lambda x: coverage_type(x)),axis=1)
d_g['coverage_type'] = d_g.apply((lambda x: coverage_type(x)),axis=1)

In [41]:
# isolating the needed colunms from the rest

In [71]:
d_fc.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0    G_SL_000094      YES            4G         YES         YES         YES
1    G_SL_000080      YES            4G         YES         YES         YES
2    G_SL_000033      YES            4G         YES         YES         YES
3    G_SL_000104      YES            4G         YES         YES         YES
4    G_SL_000240      YES            4G         YES         YES         YES

In [68]:
features = ['giga_school_id','coverage','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [69]:
d_fc = d_f[features]
#d_ec = d_e[features]
d_it = d_i[features]
d_gs = d_g[features]

In [31]:
# more sanity checks for nan on giga_school_id

In [70]:
d_fc = d_fc[d_fc['giga_school_id'].notna()]
#d_ec = d_ec[d_ec['giga_school_id'].notna()]
d_it = d_it[d_it['giga_school_id'].notna()]
d_gs = d_gs[d_gs['giga_school_id'].notna()]

In [33]:
# visually comparing the sources for matches and mismatches across the columns

In [72]:
df_all = pd.concat([d_fc.set_index('giga_school_id'), d_gs.set_index('giga_school_id'),d_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'GSMA', 'ITU'])
df_all.head()

/anaconda/envs/azureml_py36/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

            Facebook                                                    \
            coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_SL_000001      YES            4G         YES         YES         YES
G_SL_000002      YES            4G         YES         YES         YES
G_SL_000003      YES            4G         YES         YES         YES
G_SL_000004      NaN           NaN         NaN         NaN         NaN
G_SL_000005      NaN           NaN         NaN         NaN         NaN

                GSMA                                                    \
            coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_SL_000001      YES            2G         YES          NO          NO
G_SL_000002      YES          None          NO          NO          NO
G_SL_000003      YES            2G         YES          NO          NO
G_SL_000004      YES            2G         YES          NO          NO
G_SL_000005      YES          None          NO          NO          NO

                 ITU
            coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_SL_000001      YES            2G         YES          NO          NO
G_SL_000002      YES            2G         YES          NO          NO
G_SL_000003      YES            2G         YES          NO          NO
G_SL_000004      YES            2G         YES          NO          NO
G_SL_000005       NO          None          NO          NO          NO

In [73]:
df_final = df_all.swaplevel(axis='columns')[d_fc.columns[1:]]
df_final.head()

            coverage           coverage_type             2G_coverage       \
            Facebook GSMA  ITU      Facebook  GSMA   ITU    Facebook GSMA
G_SL_000001      YES  YES  YES            4G    2G    2G         YES  YES
G_SL_000002      YES  YES  YES            4G  None    2G         YES   NO
G_SL_000003      YES  YES  YES            4G    2G    2G         YES  YES
G_SL_000004      NaN  YES  YES           NaN    2G    2G         NaN  YES
G_SL_000005      NaN  YES   NO           NaN  None  None         NaN   NO

                 3G_coverage          4G_coverage
             ITU    Facebook GSMA ITU    Facebook GSMA ITU
G_SL_000001  YES         YES   NO  NO         YES   NO  NO
G_SL_000002  YES         YES   NO  NO         YES   NO  NO
G_SL_000003  YES         YES   NO  NO         YES   NO  NO
G_SL_000004  YES         NaN   NO  NO         NaN   NO  NO
G_SL_000005   NO         NaN   NO  NO         NaN   NO  NO

In [74]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [37]:
# coverage comparison report

In [79]:
# create a separate dfs
fbc = d_fc.copy()
#ecc = d_ec.copy()
ituc = d_it.copy()
gsm = d_gs.copy()

# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)

cross_profile_facebook_gsma = datacompy.Compare(
fbc,
gsm,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='GSMA'
)


#print(cross_profile_fb_ec.report())
print(cross_profile_fb_itu.report())
#print(cross_profile_Ericsson_itu.report())
print(cross_profile_facebook_gsma.report())

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Facebook        6   7849
1       ITU        6  10893

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,849
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 3,044

Number of rows with some compared columns unequal: 4,362
Number of rows with all compared columns equal: 3,487

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 13,159

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
1    2g_coverage         object    object        724         0            0
0    3g_coverage         object    object       3007         0            0
2    4g_coverage         object    object       4352         0            0
4       coverage         object    object        724         0            0
3  coverage_type         object    object       4352         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
5116    G_SL_003101                    YES                NO
1733    G_SL_001622                    YES                NO
1366    G_SL_004483                    YES                NO
4328    G_SL_008043                    YES                NO
3301    G_SL_000584                    YES                NO
574     G_SL_002903                    YES                NO
7512    G_SL_000561                    YES                NO
2589    G_SL_004266                    YES                NO
3693    G_SL_006851                    YES                NO
1938    G_SL_007224                    YES                NO

     giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
6455    G_SL_008074                    YES                NO
5259    G_SL_007533                    YES                NO
5240    G_SL_005055                    YES                NO
3378    G_SL_005035                    YES                NO
5076    G_SL_006891                    YES                NO
5863    G_SL_004964                    YES                NO
6502    G_SL_006200                    YES                NO
5979    G_SL_005977                    YES                NO
227     G_SL_002390                    YES                NO
6676    G_SL_006039                    YES                NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
5168    G_SL_003413                    YES                NO
6476    G_SL_000655                    YES                NO
7703    G_SL_003375                    YES                NO
5505    G_SL_000049                    YES                NO
5389    G_SL_001213                    YES                NO
5689    G_SL_003436                    YES                NO
2476    G_SL_007729                    YES                NO
7541    G_SL_005123                    YES                NO
2582    G_SL_003323                    YES                NO
1999    G_SL_007270                    YES                NO

     giga_school_id coverage_type (Facebook) coverage_type (ITU)
3931    G_SL_005926                       4G                  3G
1753    G_SL_005789                       4G                  3G
6435    G_SL_005034                       4G                None
3563    G_SL_005218                       4G                None
5194    G_SL_007565                       4G                  2G
299     G_SL_004787                       4G                  2G
5242    G_SL_005264                       4G                  2G
359     G_SL_006007                       4G                  2G
159     G_SL_007688                       4G                  2G
4841    G_SL_004840                       4G                  3G

     giga_school_id coverage (Facebook) coverage (ITU)
7718    G_SL_005172                 YES             NO
1961    G_SL_000196                 YES             NO
3156    G_SL_006240                 YES             NO
5394    G_SL_001853                 YES             NO
4415    G_SL_005464                 YES             NO
6890    G_SL_006949                 YES             NO
714     G_SL_008066                 YES             NO
2409    G_SL_006308                 YES             NO
7235    G_SL_007566                 YES             NO
6474    G_SL_000267                 YES             NO

Sample Rows Only in ITU (First 10 Columns)
------------------------------------------

      giga_school_id coverage coverage_type 2g_coverage 3g_coverage 4g_coverage
9791     G_SL_006996      YES            4G         YES         YES         YES
9810     G_SL_007050       NO          None          NO          NO          NO
10873    G_SL_010810      YES            4G         YES         YES         YES
7920     G_SL_000232      YES            2G         YES          NO          NO
9950     G_SL_007561      YES            2G         YES          NO          NO
9393     G_SL_005553      YES            3G         YES         YES          NO
9686     G_SL_006605      YES            2G         YES          NO          NO
10774    G_SL_010510      YES            4G         YES         YES         YES
8064     G_SL_000775      YES            3G         YES         YES          NO
8252     G_SL_001431      YES            4G         YES         YES         YES


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns   Rows
0  Facebook        6   7849
1      GSMA        6  10893

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in GSMA: 0
Number of columns in GSMA but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,849
Number of rows in Facebook but not in GSMA: 0
Number of rows in GSMA but not in Facebook: 3,044

Number of rows with some compared columns unequal: 4,132
Number of rows with all compared columns equal: 3,717

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 11,814

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype GSMA dtype  # Unequal  Max Diff  # Null Diff
1    2g_coverage         object     object        956         0            0
0    3g_coverage         object     object       2691         0            0
2    4g_coverage         object     object       4058         0            0
4       coverage         object     object         51         0            0
3  coverage_type         object     object       4058         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id 3g_coverage (Facebook) 3g_coverage (GSMA)
7523    G_SL_001929                    YES                 NO
2865    G_SL_003955                    YES                 NO
61      G_SL_001097                    YES                 NO
7757    G_SL_002326                    YES                 NO
2447    G_SL_002139                    YES                 NO
367     G_SL_007574                    YES                 NO
6991    G_SL_006085                    YES                 NO
2065    G_SL_008133                    YES                 NO
1822    G_SL_007818                    YES                 NO
5475    G_SL_006174                    YES                 NO

     giga_school_id 2g_coverage (Facebook) 2g_coverage (GSMA)
4367    G_SL_005107                    YES                 NO
7584    G_SL_002096                    YES                 NO
1751    G_SL_005298                    YES                 NO
3832    G_SL_004991                    YES                 NO
7259    G_SL_003218                    YES                 NO
6812    G_SL_003277                    YES                 NO
4215    G_SL_005287                    YES                 NO
5591    G_SL_005118                    YES                 NO
1414    G_SL_004993                    YES                 NO
1428    G_SL_007118                    YES                 NO

     giga_school_id 4g_coverage (Facebook) 4g_coverage (GSMA)
4023    G_SL_006119                    YES                 NO
4830    G_SL_003363                    YES                 NO
5522    G_SL_003784                    YES                 NO
7710    G_SL_004568                    YES                 NO
3932    G_SL_006004                    YES                 NO
3278    G_SL_006058                    YES                 NO
824     G_SL_007512                    YES                 NO
3833    G_SL_005436                    YES                 NO
6328    G_SL_008139                    YES                 NO
1243    G_SL_000089                    YES                 NO

     giga_school_id coverage_type (Facebook) coverage_type (GSMA)
7514    G_SL_000929                       4G                   2G
1514    G_SL_001896                       4G                   2G
1578    G_SL_002477                       4G                 None
2596    G_SL_005769                       4G                   3G
6808    G_SL_003067                       4G                   2G
2813    G_SL_005532                       4G                   3G
7498    G_SL_007532                       4G                   2G
87      G_SL_005112                       4G                 None
7213    G_SL_002681                       4G                   2G
2881    G_SL_007584                       4G                   3G

     giga_school_id coverage (Facebook) coverage (GSMA)
3775    G_SL_005377                 YES              NO
7337    G_SL_007809                 YES              NO
1911    G_SL_002144                 YES              NO
2124    G_SL_006953                 YES              NO
1926    G_SL_004908                 YES              NO
423     G_SL_005407                 YES              NO
5577    G_SL_001925                 YES              NO
7398    G_SL_007855                 YES              NO
2447    G_SL_002139                 YES              NO
7523    G_SL_001929                 YES              NO

Sample Rows Only in GSMA (First 10 Columns)
-------------------------------------------

     giga_school_id coverage coverage_type 2g_coverage 3g_coverage 4g_coverage
9145    G_SL_004697      YES            4G         YES         YES         YES
8155    G_SL_001108      YES          None          NO          NO          NO
8257    G_SL_001451      YES            4G         YES         YES         YES
9105    G_SL_004512      YES            2G         YES          NO          NO
9541    G_SL_006106      YES            3G         YES         YES          NO
7869    G_SL_000079      YES          None          NO          NO          NO
9130    G_SL_004644      YES            4G         YES         YES         YES
9826    G_SL_007114      YES            4G         YES         YES         YES
9141    G_SL_004674      YES            4G         YES         YES         YES
9536    G_SL_006093      YES            3G         YES         YES          NO

In [39]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [104]:
df_c = pd.concat([d_fc,d_gs,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x:x.value_counts().index[0])

In [105]:
coverage.tail()

,giga_school_id,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
10888,G_SL_010889,YES,4G,YES,YES,YES
10889,G_SL_010890,YES,4G,YES,YES,YES
10890,G_SL_010891,YES,4G,YES,YES,YES
10891,G_SL_010892,YES,4G,YES,YES,YES
10892,G_SL_010893,YES,4G,YES,YES,YES

In [97]:
#coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_gs.coverage_type

In [ ]:
''''
#Main
import statistics as stats
df_c = pd.concat([d_fc,d_gs,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x: stats.mode(x)[0][0])
coverage.loc[coverage['coverage'] == 'Y', 'coverage'] = 'YES'
coverage.loc[coverage['coverage'] == 'N', 'coverage'] = 'NO'
coverage.loc[coverage['2G_coverage'] == 'Y', '2G_coverage'] = 'YES'
coverage.loc[coverage['2G_coverage'] == 'N', '2G_coverage'] = 'NO'
coverage.loc[coverage['3G_coverage'] == 'Y', '3G_coverage'] = 'YES'
coverage.loc[coverage['3G_coverage'] == 'N', '3G_coverage'] = 'NO'
coverage.loc[coverage['4G_coverage'] == 'Y', '4G_coverage'] = 'YES'
coverage.loc[coverage['4G_coverage'] == 'N', '4G_coverage'] = 'NO'

coverage.loc[coverage['coverage_type'] == '4', 'coverage_type'] = '4G'
coverage.loc[coverage['coverage_type'] == '3', 'coverage_type'] = '3G'
coverage.loc[coverage['coverage_type'] == '2', 'coverage_type'] = '2G'
coverage.loc[coverage['coverage_type'] == 'N', 'coverage_type'] = 'None'

coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_gs.coverage_type

In [99]:
master.head()

,uuid,country,source,giga_school_id,school_id,name,education_level,lat,lon,hex8,dq_score,source_timestamp,master_timestamp,school_archive,electricity_availability,connectivity_availability,num_students,num_teachers,num_computers,computer_lab
0,b4218644-52aa-3da9-8bfd-b60ef9e60912,Sierra Leone,government,G_SL_000001,NaN,BADRUDEEN ISLAMIC PRIMARY SCHOOL,Primary,7.988612,-10.64796,8875b084a9fffff,0.67,2020,2021-08-16 23:04:02.701831,No,No,No,117.0,4.0,NaN,No
1,84b52390-a1a8-3e1d-b2f3-1bebde50f350,Sierra Leone,government,G_SL_000002,NaN,KAILAHUNTER DISTRICT EDUCATION COMMITTEE PRIMA...,Primary,7.822542,-10.92325,8875b00213fffff,0.67,2020,2021-08-16 23:04:02.701831,No,No,No,111.0,3.0,NaN,No
2,70074963-6cd0-3cd8-a574-78e5acbfefb8,Sierra Leone,government,G_SL_000003,NaN,BADRUDIEN ISLAMIC PRIMARY SCHOOL,Primary,8.282627,-10.37537,8875b5533dfffff,0.67,2020,2021-08-16 23:04:02.701831,No,No,No,190.0,4.0,NaN,No
3,e734f64f-4ad4-3a17-9d55-9e032a6cca5e,Sierra Leone,government,G_SL_000004,NaN,KAILAHUN DISTRICT EDUCATION COMMITTEE PRE-...,Primary,8.283335,-10.37064,8875b55339fffff,0.67,2020,2021-08-16 23:04:02.701831,No,No,No,55.0,2.0,NaN,No
4,bbc80ca5-4e5f-3896-b1f3-6c2f87f5b61e,Sierra Leone,government,G_SL_000005,NaN,KAILAHUN DISTRICT EDUCATION COMMITTEE PRIM...,Primary,8.206346,-10.34603,8875b550a5fffff,0.67,2020,2021-08-16 23:04:02.701831,No,No,No,133.0,3.0,NaN,No

In [115]:
master_w_coverage = master.merge(coverage, how="left", on=["giga_school_id"])
master_w_coverage.to_csv('./data/SL_master_w_coverage.csv', encoding='utf-8')
master_w_coverage_connectivity = master_w_coverage.copy()
#master_w_coverage_connectivity['connectivity_availability'] = np.where((master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'connectivity_availability	'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'coverage_type'] = 'None'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage'] = 'NO'
master_w_coverage_connectivity.to_csv('./data/SL_master_w_coverage_connectivity.csv', encoding='utf-8')

In [113]:
master_w_coverage.head(2)

,uuid,country,source,giga_school_id,school_id,name,education_level,lat,lon,hex8,...,connectivity_availability,num_students,num_teachers,num_computers,computer_lab,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,b4218644-52aa-3da9-8bfd-b60ef9e60912,Sierra Leone,government,G_SL_000001,NaN,BADRUDEEN ISLAMIC PRIMARY SCHOOL,Primary,7.988612,-10.64796,8875b084a9fffff,...,No,117.0,4.0,NaN,No,YES,2G,YES,NO,NO
1,84b52390-a1a8-3e1d-b2f3-1bebde50f350,Sierra Leone,government,G_SL_000002,NaN,KAILAHUNTER DISTRICT EDUCATION COMMITTEE PRIMA...,Primary,7.822542,-10.92325,8875b00213fffff,...,No,111.0,3.0,NaN,No,YES,4G,YES,NO,NO

In [112]:
master_w_coverage_connectivity[master_w_coverage_connectivity['coverage_type']=='None'].head(10)

,uuid,country,source,giga_school_id,school_id,name,education_level,lat,lon,hex8,...,num_students,num_teachers,num_computers,computer_lab,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity_availability\t
4,bbc80ca5-4e5f-3896-b1f3-6c2f87f5b61e,Sierra Leone,government,G_SL_000005,NaN,KAILAHUN DISTRICT EDUCATION COMMITTEE PRIM...,Primary,8.206346,-10.34603,8875b550a5fffff,...,133.0,3.0,NaN,No,NO,None,NO,NO,NO,NaN
6,f1e92c26-d024-3374-bc2c-815e815a6105,Sierra Leone,government,G_SL_000007,NaN,MAKPADU COMMUNITY PRIMARY SCHOOL,Primary,8.235952,-10.32845,8875b55013fffff,...,200.0,5.0,NaN,No,NO,None,NO,NO,NO,NaN
18,e4082e4d-978f-3450-bd6f-048ab6656dd5,Sierra Leone,government,G_SL_000019,NaN,UNITED ISLAMIC PRIMARY SCHOOL,Primary,7.660082,-11.18757,8875b07329fffff,...,58.0,2.0,NaN,No,NO,None,NO,NO,NO,NaN
46,40133a2e-2304-3cc3-82ab-9fa341eba58a,Sierra Leone,government,G_SL_000047,NaN,CHARITABLE COMMUNITY PRIMARY SCHOOL,Primary,7.620267,-11.32312,8875b07b61fffff,...,72.0,3.0,NaN,No,NO,None,NO,NO,NO,NaN
56,900af572-ffde-3f3a-b787-ff4d1d48b749,Sierra Leone,government,G_SL_000057,NaN,ROMAN CATHOLIC PRIMARY SCHOOL KONGOHUN,Primary,7.545238,-11.08949,8875b07509fffff,...,81.0,1.0,NaN,No,NO,None,NO,NO,NO,NaN
74,74d0e679-5511-355c-b533-d32999450b0a,Sierra Leone,government,G_SL_000075,NaN,KONO DISTRICT EDUCATION COMMITTEE PRIMARY SCHOOL,Primary,8.828598,-10.84494,8875b41b03fffff,...,125.0,2.0,NaN,No,NO,None,NO,NO,NO,NaN
77,b1e4d3da-099e-373e-a1f5-3665e3040047,Sierra Leone,government,G_SL_000078,NaN,GOSPEL HARMONY AGRICULTURAL VOCATIONAL JUNIOR ...,Secondary,8.617138,-10.72268,8875b40e03fffff,...,61.0,4.0,NaN,No,NO,None,NO,NO,NO,NaN
78,21f491a4-897f-3f4a-88ea-589f93f7e03a,Sierra Leone,government,G_SL_000079,NaN,K.D.E.C PRIMARY SCHOOL FAAMA,Primary,8.654231,-10.73059,8875b4019bfffff,...,85.0,3.0,NaN,No,NO,None,NO,NO,NO,NaN
79,68f65b94-2664-36b4-ab4c-ce3ce522fd9b,Sierra Leone,government,G_SL_000080,NaN,K.D.E.C PRIMARY SCHOOL WAYIAH,Primary,8.578695,-10.71954,8875b40ea9fffff,...,252.0,3.0,NaN,No,NO,None,NO,NO,NO,NaN
111,f8e59063-d779-39ac-a160-aed490e7b7f5,Sierra Leone,government,G_SL_000112,NaN,IAM PRIMARY SCHOOL MASOWA,Primary,9.416848,-12.12524,8854e82d31fffff,...,106.0,2.0,NaN,No,NO,None,NO,NO,NO,NaN

In [116]:
master_w_coverage_connectivity.head()

,uuid,country,source,giga_school_id,school_id,name,education_level,lat,lon,hex8,...,num_students,num_teachers,num_computers,computer_lab,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity_availability\t
0,b4218644-52aa-3da9-8bfd-b60ef9e60912,Sierra Leone,government,G_SL_000001,NaN,BADRUDEEN ISLAMIC PRIMARY SCHOOL,Primary,7.988612,-10.64796,8875b084a9fffff,...,117.0,4.0,NaN,No,YES,2G,YES,NO,NO,NaN
1,84b52390-a1a8-3e1d-b2f3-1bebde50f350,Sierra Leone,government,G_SL_000002,NaN,KAILAHUNTER DISTRICT EDUCATION COMMITTEE PRIMA...,Primary,7.822542,-10.92325,8875b00213fffff,...,111.0,3.0,NaN,No,YES,4G,YES,NO,NO,NaN
2,70074963-6cd0-3cd8-a574-78e5acbfefb8,Sierra Leone,government,G_SL_000003,NaN,BADRUDIEN ISLAMIC PRIMARY SCHOOL,Primary,8.282627,-10.37537,8875b5533dfffff,...,190.0,4.0,NaN,No,YES,2G,YES,NO,NO,NaN
3,e734f64f-4ad4-3a17-9d55-9e032a6cca5e,Sierra Leone,government,G_SL_000004,NaN,KAILAHUN DISTRICT EDUCATION COMMITTEE PRE-...,Primary,8.283335,-10.37064,8875b55339fffff,...,55.0,2.0,NaN,No,YES,2G,YES,NO,NO,NaN
4,bbc80ca5-4e5f-3896-b1f3-6c2f87f5b61e,Sierra Leone,government,G_SL_000005,NaN,KAILAHUN DISTRICT EDUCATION COMMITTEE PRIM...,Primary,8.206346,-10.34603,8875b550a5fffff,...,133.0,3.0,NaN,No,NO,None,NO,NO,NO,NaN

In [114]:
master_w_coverage_connectivity['coverage'].value_counts()

YES    10246
NO       647
Name: coverage, dtype: int64