</center><img src="coverage_workflow_image.png"  width="1000" height="300"/></center>

In [1]:
# import required python libraries
#import geopandas as gpd  # for geo-data structure
import numpy as np  # for some operation better done with numpy
import matplotlib.pyplot as plt  # for creating plots
#import shapely.geometry  # for geometry data crunching
#from shapely.geometry import Point  # specifically for point geometry data manipulation
#import keplergl
#from keplergl import KeplerGl
import datacompy
import pandas as pd
crs = {'init': 'epsg:4326'}
#from shapely.geometry import Point
import mpl_toolkits

In [11]:
# bring in the 3 to 4 different coverage dataset from FB, GSMA, ITU and Ericsson as well as the master school_geolocation

In [3]:
d_f = pd.read_csv('./data/ZW_fb.csv',low_memory=False,encoding='utf-8')
d_i = pd.read_csv('./data/ZW_ITU.csv',low_memory=False,encoding='utf-8')
d_e = pd.read_csv('./data/ZW_ec.csv',low_memory=False,encoding='utf-8')
#d_g = pd.read_csv('./data/GSMA_RW_Schools_mobile_coverage_v1.csv',low_memory=False,encoding='utf-8')
s_master = pd.read_csv('./data/Zimbabwe_school_geolocation_master.csv',low_memory=False,encoding='utf-8')

In [10]:
d_e.head(2)

,LATITUDE,LONGITUDE,uuid,country,source,giga_school_id,SCHOOL_CODE,SCHOOL_NAME,hex8,dq_score,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage_present,3G_coverage_present,4G_coverage_present,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,-22.13620,31.41255,a6f45094-abad-3ff5-9d53-c7120908c91b,Zimbabwe,government,G_ZWE_004856,10868,MUHLEKWANI,88972e6659fffff,0.81,...,None,None,None,None,No,No,No,No,-1,Ericsson
1,-22.11372,29.59146,d92bbac1-c5b3-30c7-8e1b-add4ffc092ab,Zimbabwe,government,G_ZWE_006191,14224,VHEMBE,8897294327fffff,0.83,...,Net One,None,None,None,Yes,No,No,No,-1,Ericsson

In [12]:
d_e.rename(columns={'SCHOOL_CODE':'source_school_id', 'SCHOOL_NAME':'school_name', '2G_coverage':'2G_quality','3G_coverage':'3G_quality','4G_coverage':'4G_quality', 'Coverage':'coverage','Coverage_type': 'coverage_type'}, inplace=True)
#d_i.rename(columns={'name':'school_name'}, inplace=True)
d_f.rename(columns={'school_id': 'giga_school_id'}, inplace=True)

In [56]:
# cross-profiles the sources with master data for completeness and correctness

In [13]:
# create a separate dfs
master = s_master.copy()
fb = d_f.copy()
ec = d_e.copy()
itu = d_i.copy()
#gsma = d_g.copy()
# for facebook
cross_profile_fb_master = datacompy.Compare(
master,
fb,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Facebook'
)
#for ericsson
cross_profile_e_master = datacompy.Compare(
master,
ec,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='Ericsson'
)
# for ITU
cross_profile_itu_master = datacompy.Compare(
master,
itu,
join_columns='giga_school_id',  
df1_name='Master', 
df2_name='ITU'
)

#print(cross_profile_fb_master.report())
print(cross_profile_fb_master.report())
fm = open("./data/report/cross_profile_fb_master_zw_report.txt", "a")
print(cross_profile_fb_master.report(), file=fm)
fm.close()

#print(cross_profile_Ericsson_master.report())
print(cross_profile_e_master.report())
em = open("./data/report/cross_profile_ec_master_zw_report.txt", "a")
print(cross_profile_e_master.report(), file=em)
em.close()

#print(cross_profile_itu_master.report())
print(cross_profile_itu_master.report())
im = open("./data/report/cross_profile_itu_master_zw_report.txt", "a")
print(cross_profile_itu_master.report(), file=im)
im.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       17  7913
1  Facebook       16  7913

Column Summary
--------------

Number of columns in common: 10
Number of columns in Master but not in Facebook: 7
Number of columns in Facebook but not in Master: 6

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,913
Number of rows in Master but not in Facebook: 0
Number of rows in Facebook but not in Master: 0

Number of rows with some compared columns unequal: 7,913
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 4
Number of columns compared with all values equal: 6
Total number of values which compare unequal: 8,570

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype Facebook dtype  # Unequal      Max Diff  # Null Diff
3          latitude      float64        float64        373  7.105427e-15            0
1         longitude      float64        float64        283  7.105427e-15            0
2  master_timestamp       object         object       7913  0.000000e+00            0
0       school_name       object         object          1  0.000000e+00            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id school_name (Master) school_name (Facebook)
6636   G_ZWE_006637     HAMA ST JOSEPH,S     "HAMA ST JOSEPH,S"

     giga_school_id  longitude (Master)  longitude (Facebook)
7657   G_ZWE_007658            32.38874              32.38874
3550   G_ZWE_003551            30.81994              30.81994
1631   G_ZWE_001632            31.10447              31.10447
7435   G_ZWE_007436            29.30942              29.30942
4898   G_ZWE_004899            31.60259              31.60259
4535   G_ZWE_004536            31.44484              31.44484
5652   G_ZWE_005653            28.00509              28.00509
4453   G_ZWE_004454            30.93217              30.93217
2162   G_ZWE_002163            31.84677              31.84677
6291   G_ZWE_006292            27.97027              27.97027

     giga_school_id   master_timestamp (Master) master_timestamp (Facebook)
4688   G_ZWE_004689  2021-11-30 20:14:49.026456                     14:49.0
517    G_ZWE_000518  2021-11-30 20:14:49.026456                     14:49.0
4877   G_ZWE_004878  2021-11-30 20:14:49.026456                     14:49.0
2980   G_ZWE_002981  2021-11-30 20:14:49.026456                     14:49.0
4734   G_ZWE_004735  2021-11-30 20:14:49.026456                     14:49.0
1357   G_ZWE_001358  2021-11-30 20:14:49.026456                     14:49.0
2467   G_ZWE_002468  2021-11-30 20:14:49.026456                     14:49.0
6231   G_ZWE_006232  2021-11-30 20:14:49.026456                     14:49.0
3351   G_ZWE_003352  2021-11-30 20:14:49.026456                     14:49.0
7830   G_ZWE_007831  2021-11-30 20:14:49.026456                     14:49.0

     giga_school_id  latitude (Master)  latitude (Facebook)
295    G_ZWE_000296          -17.74189            -17.74189
826    G_ZWE_000827          -17.97858            -17.97858
1807   G_ZWE_001808          -17.68566            -17.68566
1922   G_ZWE_001923          -16.55638            -16.55638
282    G_ZWE_000283          -17.81114            -17.81114
6302   G_ZWE_006303          -20.89557            -20.89557
3393   G_ZWE_003394          -17.85731            -17.85731
3191   G_ZWE_003192          -17.32243            -17.32243
157    G_ZWE_000158          -17.77089            -17.77089
3368   G_ZWE_003369          -17.60413            -17.60413


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       17  7913
1  Ericsson       37  7913

Column Summary
--------------

Number of columns in common: 17
Number of columns in Master but not in Ericsson: 0
Number of columns in Ericsson but not in Master: 20

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,913
Number of rows in Master but not in Ericsson: 0
Number of rows in Ericsson but not in Master: 0

Number of rows with some compared columns unequal: 7,913
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 14
Total number of values which compare unequal: 8,569

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype Ericsson dtype  # Unequal      Max Diff  # Null Diff
2          latitude      float64        float64        373  7.105427e-15            0
0         longitude      float64        float64        283  7.105427e-15            0
1  master_timestamp       object         object       7913  0.000000e+00            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id  longitude (Master)  longitude (Ericsson)
4819   G_ZWE_004820            31.77592              31.77592
361    G_ZWE_000362            31.91809              31.91809
6532   G_ZWE_006533            29.26222              29.26222
687    G_ZWE_000688            31.92419              31.92419
5957   G_ZWE_005958            27.78427              27.78427
5246   G_ZWE_005247            28.11489              28.11489
7630   G_ZWE_007631            28.28944              28.28944
3082   G_ZWE_003083            29.31459              29.31459
4453   G_ZWE_004454            30.93217              30.93217
5337   G_ZWE_005338            28.46492              28.46492

     giga_school_id   master_timestamp (Master) master_timestamp (Ericsson)
5541   G_ZWE_005542  2021-11-30 20:14:49.026456                     14:49.0
7829   G_ZWE_007830  2021-11-30 20:14:49.026456                     14:49.0
3984   G_ZWE_003985  2021-11-30 20:14:49.026456                     14:49.0
5789   G_ZWE_005790  2021-11-30 20:14:49.026456                     14:49.0
4588   G_ZWE_004589  2021-11-30 20:14:49.026456                     14:49.0
3150   G_ZWE_003151  2021-11-30 20:14:49.026456                     14:49.0
1956   G_ZWE_001957  2021-11-30 20:14:49.026456                     14:49.0
1375   G_ZWE_001376  2021-11-30 20:14:49.026456                     14:49.0
4056   G_ZWE_004057  2021-11-30 20:14:49.026456                     14:49.0
1440   G_ZWE_001441  2021-11-30 20:14:49.026456                     14:49.0

     giga_school_id  latitude (Master)  latitude (Ericsson)
1709   G_ZWE_001710          -16.59213            -16.59213
5924   G_ZWE_005925          -17.68849            -17.68849
3186   G_ZWE_003187          -17.97047            -17.97047
5692   G_ZWE_005693          -20.15487            -20.15487
13     G_ZWE_000014          -17.77379            -17.77379
50     G_ZWE_000051          -17.79848            -17.79848
155    G_ZWE_000156          -17.82201            -17.82201
159    G_ZWE_000160          -17.86004            -17.86004
5101   G_ZWE_005102          -20.67917            -20.67917
5064   G_ZWE_005065          -20.09302            -20.09302


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0    Master       17  7913
1       ITU       38  7913

Column Summary
--------------

Number of columns in common: 17
Number of columns in Master but not in ITU: 0
Number of columns in ITU but not in Master: 21

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,913
Number of rows in Master but not in ITU: 0
Number of rows in ITU but not in Master: 0

Number of rows with some compared columns unequal: 7,913
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 14
Total number of values which compare unequal: 8,569

Columns with Unequal Values or Types
------------------------------------

             Column Master dtype ITU dtype  # Unequal      Max Diff  # Null Diff
2          latitude      float64   float64        373  7.105427e-15            0
0         longitude      float64   float64        283  7.105427e-15            0
1  master_timestamp       object    object       7913  0.000000e+00            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id  longitude (Master)  longitude (ITU)
5492   G_ZWE_005493            27.43142         27.43142
1740   G_ZWE_001741            31.45817         31.45817
2282   G_ZWE_002283            31.66612         31.66612
6508   G_ZWE_006509            28.06449         28.06449
7769   G_ZWE_007770            29.00134         29.00134
4046   G_ZWE_004047            31.74927         31.74927
4022   G_ZWE_004023            31.74927         31.74927
4459   G_ZWE_004460            30.87727         30.87727
5658   G_ZWE_005659            27.90139         27.90139
4497   G_ZWE_004498            31.72299         31.72299

     giga_school_id   master_timestamp (Master) master_timestamp (ITU)
7694   G_ZWE_007695  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
4931   G_ZWE_004932  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
4138   G_ZWE_004139  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
533    G_ZWE_000534  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
4407   G_ZWE_004408  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
1215   G_ZWE_001216  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
3475   G_ZWE_003476  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
6277   G_ZWE_006278  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
2773   G_ZWE_002774  2021-11-30 20:14:49.026456    2021/11/30 20:14:49
109    G_ZWE_000110  2021-11-30 20:14:49.026456    2021/11/30 20:14:49

     giga_school_id  latitude (Master)  latitude (ITU)
3698   G_ZWE_003699          -17.91083       -17.91083
3527   G_ZWE_003528          -17.11118       -17.11118
5922   G_ZWE_005923          -18.73407       -18.73407
2781   G_ZWE_002782          -17.89117       -17.89117
179    G_ZWE_000180          -17.87992       -17.87992
7227   G_ZWE_007228          -17.76029       -17.76029
1730   G_ZWE_001731          -16.52203       -16.52203
7695   G_ZWE_007696          -16.49937       -16.49937
7148   G_ZWE_007149          -17.77932       -17.77932
4446   G_ZWE_004447          -20.19522       -20.19522

In [58]:
# some colunm names standardization

In [59]:
#d_e.rename(columns={'SCHOOL_CODE':'school_id', 'SCHOOL_NAME':'school_name'}, inplace=True)
#d_i.rename(columns={'giga_schoo': 'giga_school_id','source_sch':'school_id', 'name':'school_name'}, inplace=True)
#d_g.rename(columns={'giga_schoo': 'giga_school_id'}, inplace=True)

In [60]:
# cross-profiles the sources with master data for completeness and correctness

In [61]:
# they usually don't come with "coverage" colunms, we create it at source level using the following codes

In [14]:
#d_e['coverage'] = np.where((d_e['2G_coverage']== 'None') & (d_e['3G_coverage']== 'None')& (d_e['4G_coverage']== 'None'), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2G'].isnull()) & (d_f['percent_3G'].isnull())& (d_f['percent_4G'].isnull()), 'NO', 'YES')
d_f['coverage'] = np.where((d_f['percent_2G']<=0) & (d_f['percent_3G']<=0) & (d_f['percent_4G']<=0), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G'].isnull()) & (d_i['3G'].isnull())& (d_i['4G'].isnull()), 'NO', 'YES')
d_i['coverage'] = np.where((d_i['2G']<=0) & (d_i['3G']<=0) & (d_i['4G']<=0), 'NO', 'YES')

In [63]:
# create the 2G, 3G and 4G coverage columns with binary values at source level using the following codes

In [15]:
d_f['2G_coverage'] = np.where((d_f['percent_2G'] > 0), 'YES', 'NO')
d_f['3G_coverage'] = np.where((d_f['percent_3G'] > 0), 'YES', 'NO')
d_f['4G_coverage'] = np.where((d_f['percent_4G'] > 0), 'YES', 'NO')

In [16]:
d_i['2G_coverage'] = np.where((d_i['2G'] >=1), 'YES', 'NO')
d_i['3G_coverage'] = np.where((d_i['3G'] == 1), 'YES', 'NO')
d_i['4G_coverage'] = np.where((d_i['4G'] ==1), 'YES', 'NO')

In [66]:
#d_e.rename(columns={'2G_coverage':'2G_coverage_quality', '3G_coverage':'3G_coverage_quality', '4G_coverage': '4G_coverage_quality'}, inplace=True)

In [67]:
# they usually don't come with "coverage_type" colunms, we create it at source level using the following function and codes

In [17]:
def coverage_type(df):
    if df['4G_coverage'] == 'YES':
        return "4G"
    elif df['3G_coverage'] == 'YES':
        return "3G"
    elif df['2G_coverage'] == 'YES':
        return "2G"
    else:
        return "None"

In [18]:
d_f['coverage_type'] = d_f.apply((lambda x: coverage_type(x)),axis=1)
#d_e['coverage_type'] = d_e.apply((lambda x: coverage_type(x)),axis=1)
d_i['coverage_type'] = d_i.apply((lambda x: coverage_type(x)),axis=1)

In [19]:
d_e.head(1)

,LATITUDE,LONGITUDE,uuid,country,source,giga_school_id,source_school_id,school_name,hex8,dq_score,...,2G_Best_Coverage_provider,3G_Best_Coverage_provider,4G_Best_Coverage_provider,5G_Best_Coverage_provider,2G_coverage_present,3G_coverage_present,4G_coverage_present,5G_coverage_present,Distance_to_nearest_tower,Data_Source
0,-22.1362,31.41255,a6f45094-abad-3ff5-9d53-c7120908c91b,Zimbabwe,government,G_ZWE_004856,10868,MUHLEKWANI,88972e6659fffff,0.81,...,None,None,None,None,No,No,No,No,-1,Ericsson

In [20]:
d_e.rename(columns={'2G_coverage_present':'2G_coverage', '3G_coverage_present':'3G_coverage','4G_coverage_present':'4G_coverage', 'Coverage':'coverage', 'Coverage_type':'coverage_type'}, inplace=True)

In [72]:
# isolating the needed colunms from the rest

In [21]:
features = ['giga_school_id','coverage','coverage_type','2G_coverage','3G_coverage','4G_coverage']

In [22]:
d_fc = d_f[features]
#d_ec = d_e[features]
d_it = d_i[features]
d_ec = d_e[features]

In [31]:
# more sanity checks for nan on giga_school_id

In [23]:
d_fc = d_fc[d_fc['giga_school_id'].notna()]
#d_ec = d_ec[d_ec['giga_school_id'].notna()]
d_it = d_it[d_it['giga_school_id'].notna()]
d_ec = d_ec[d_ec['giga_school_id'].notna()]

In [24]:
d_ec.loc[d_ec['2G_coverage'] == 'Yes', '2G_coverage'] = 'YES'
d_ec.loc[d_ec['3G_coverage'] == 'Yes', '3G_coverage'] = 'YES'
d_ec.loc[d_ec['4G_coverage'] == 'Yes', '4G_coverage'] = 'YES'
d_ec.loc[d_ec['coverage'] == 'Yes', 'coverage'] = 'YES'

d_ec.loc[d_ec['2G_coverage'] == 'No', '2G_coverage'] = 'NO'
d_ec.loc[d_ec['3G_coverage'] == 'No', '3G_coverage'] = 'NO'
d_ec.loc[d_ec['4G_coverage'] == 'No', '4G_coverage'] = 'NO'
d_ec.loc[d_ec['coverage'] == 'No', 'coverage'] = 'NO'

In [26]:
d_it.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0   G_ZWE_000001      YES            4G         YES         YES         YES
1   G_ZWE_000002      YES            4G         YES         YES         YES
2   G_ZWE_000003      YES            3G         YES         YES          NO
3   G_ZWE_000004      YES            3G         YES         YES          NO
4   G_ZWE_000005      YES            4G         YES         YES         YES

In [76]:
# visually comparing the sources for matches and mismatches across the columns

In [27]:
df_all = pd.concat([d_fc.set_index('giga_school_id'), d_ec.set_index('giga_school_id'),d_it.set_index('giga_school_id')], 
                   axis='columns', keys=['Facebook', 'Ericsson', 'ITU'])
df_all.head()

             Facebook                                                    \
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_ZWE_000005      YES            4G         YES         YES         YES
G_ZWE_000059      YES            4G         YES         YES         YES
G_ZWE_000068      YES            4G         YES         YES         YES
G_ZWE_000289      YES            4G         YES         YES         YES
G_ZWE_000400      YES            4G         YES         YES         YES

             Ericsson                                                    \
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_ZWE_000005      YES            4G         YES         YES         YES
G_ZWE_000059      YES            4G         YES         YES         YES
G_ZWE_000068      YES            4G         YES         YES         YES
G_ZWE_000289      YES            4G         YES         YES         YES
G_ZWE_000400      YES            3G         YES         YES         YES

                  ITU
             coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
G_ZWE_000005      YES            4G         YES         YES         YES
G_ZWE_000059      YES            4G         YES         YES         YES
G_ZWE_000068      YES            3G         YES         YES          NO
G_ZWE_000289      YES            4G         YES         YES         YES
G_ZWE_000400      YES            2G         YES          NO          NO

In [28]:
df_final = df_all.swaplevel(axis='columns')[d_fc.columns[1:]]
df_final.tail()

             coverage               coverage_type                2G_coverage  \
             Facebook Ericsson  ITU      Facebook Ericsson   ITU    Facebook
G_ZWE_006379      YES       NO   NO            3G     None  None         YES
G_ZWE_006682      YES       NO   NO            4G     None  None         YES
G_ZWE_006912      YES       NO   NO            3G     None  None         YES
G_ZWE_007613      YES       NO   NO            4G     None  None         YES
G_ZWE_007739      YES      YES  YES            4G       2G    2G         YES

                           3G_coverage              4G_coverage
             Ericsson  ITU    Facebook Ericsson ITU    Facebook Ericsson ITU
G_ZWE_006379       NO   NO         YES       NO  NO          NO       NO  NO
G_ZWE_006682       NO   NO         YES       NO  NO         YES       NO  NO
G_ZWE_006912       NO   NO         YES       NO  NO          NO       NO  NO
G_ZWE_007613       NO   NO         YES       NO  NO         YES       NO  NO
G_ZWE_007739      YES  YES         YES      YES  NO         YES      YES  NO

In [29]:
def highlight_diff(data, color='lightcoral'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('Facebook', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

#df_final.style.apply(highlight_diff, axis=None)

In [81]:
# coverage comparison report

In [30]:
# create a separate dfs
fbc = d_fc.copy()
#ecc = d_ec.copy()
ituc = d_it.copy()
ecc = d_ec.copy()

# Facebook&ITU
cross_profile_fb_itu = datacompy.Compare(
fbc,
ituc,
join_columns='giga_school_id',  
df1_name='Facebook', 
df2_name='ITU'
)

cross_profile_ec_itu = datacompy.Compare(
ecc,
ituc,
join_columns='giga_school_id',  
df1_name='Ericsson', 
df2_name='ITU'
)


#print(cross_profile_fb_itu.report())
print(cross_profile_fb_itu.report())
fir = open("./data/report/cross_profile_fb_itu_zw_report.txt", "a")
print(cross_profile_fb_itu.report(), file=fir)
fir.close()

#print(cross_profile_Ericsson_itu.report())
print(cross_profile_ec_itu.report())
eir = open("./data/report/cross_profile_ec_itu_zw_report.txt", "a")
print(cross_profile_ec_itu.report(), file=eir)
eir.close()

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Facebook        6  7913
1       ITU        6  7913

Column Summary
--------------

Number of columns in common: 6
Number of columns in Facebook but not in ITU: 0
Number of columns in ITU but not in Facebook: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,913
Number of rows in Facebook but not in ITU: 0
Number of rows in ITU but not in Facebook: 0

Number of rows with some compared columns unequal: 7,716
Number of rows with all compared columns equal: 197

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 24,373

Columns with Unequal Values or Types
------------------------------------

          Column Facebook dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object    object       2422         0            0
4    3g_coverage         object    object       6621         0            0
1    4g_coverage         object    object       5180         0            0
3       coverage         object    object       2434         0            0
0  coverage_type         object    object       7716         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id coverage_type (Facebook) coverage_type (ITU)
639    G_ZWE_004209                       4G                  2G
1357   G_ZWE_006461                       3G                  2G
6868   G_ZWE_007570                       4G                  2G
5385   G_ZWE_006367                       3G                None
2883   G_ZWE_005916                       4G                None
6308   G_ZWE_005437                       4G                  2G
6351   G_ZWE_006084                       4G                None
5136   G_ZWE_006799                       4G                None
5536   G_ZWE_005647                       3G                  2G
2457   G_ZWE_003151                       3G                None

     giga_school_id 4g_coverage (Facebook) 4g_coverage (ITU)
3735   G_ZWE_005859                    YES                NO
775    G_ZWE_006126                    YES                NO
170    G_ZWE_007737                    YES                NO
3034   G_ZWE_003512                    YES                NO
1106   G_ZWE_000606                    YES                NO
4908   G_ZWE_001291                    YES                NO
5990   G_ZWE_000571                    YES                NO
4739   G_ZWE_007191                    YES                NO
6664   G_ZWE_004337                    YES                NO
2646   G_ZWE_001482                    YES                NO

     giga_school_id 2g_coverage (Facebook) 2g_coverage (ITU)
738    G_ZWE_007228                    YES                NO
7858   G_ZWE_004951                    YES                NO
5843   G_ZWE_007133                    YES                NO
5596   G_ZWE_007795                    YES                NO
1128   G_ZWE_005333                    YES                NO
5970   G_ZWE_003405                    YES                NO
7694   G_ZWE_005316                    YES                NO
910    G_ZWE_003456                    YES                NO
5820   G_ZWE_001222                    YES                NO
6973   G_ZWE_006085                    YES                NO

     giga_school_id coverage (Facebook) coverage (ITU)
99     G_ZWE_002259                 YES             NO
5032   G_ZWE_004890                 YES             NO
645    G_ZWE_005403                 YES             NO
1169   G_ZWE_007122                 YES             NO
5929   G_ZWE_001342                 YES             NO
3337   G_ZWE_002668                 YES             NO
2196   G_ZWE_001569                 YES             NO
3400   G_ZWE_006956                 YES             NO
5277   G_ZWE_007806                 YES             NO
933    G_ZWE_007332                 YES             NO

     giga_school_id 3g_coverage (Facebook) 3g_coverage (ITU)
5317   G_ZWE_007199                    YES                NO
1172   G_ZWE_007421                    YES                NO
5747   G_ZWE_001854                    YES                NO
3980   G_ZWE_005125                    YES                NO
7323   G_ZWE_005690                    YES                NO
2860   G_ZWE_002641                    YES                NO
6592   G_ZWE_003884                    YES                NO
7788   G_ZWE_000646                    YES                NO
6800   G_ZWE_001889                    YES                NO
6056   G_ZWE_004816                    YES                NO


DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Ericsson        6  7913
1       ITU        6  7913

Column Summary
--------------

Number of columns in common: 6
Number of columns in Ericsson but not in ITU: 0
Number of columns in ITU but not in Ericsson: 0

Row Summary
-----------

Matched on: giga_school_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 7,913
Number of rows in Ericsson but not in ITU: 0
Number of rows in ITU but not in Ericsson: 0

Number of rows with some compared columns unequal: 5,829
Number of rows with all compared columns equal: 2,084

Column Comparison
-----------------

Number of columns compared with some values unequal: 5
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 16,589

Columns with Unequal Values or Types
------------------------------------

          Column Ericsson dtype ITU dtype  # Unequal  Max Diff  # Null Diff
2    2g_coverage         object    object       2243         0            0
4    3g_coverage         object    object       3098         0            0
1    4g_coverage         object    object       3710         0            0
3       coverage         object    object       2224         0            0
0  coverage_type         object    object       5314         0            0

Sample Rows with Unequal Values
-------------------------------

     giga_school_id coverage_type (Ericsson) coverage_type (ITU)
821    G_ZWE_002506                       4G                  2G
4725   G_ZWE_005784                       4G                  3G
2376   G_ZWE_005786                       4G                  3G
5337   G_ZWE_004354                       4G                  2G
5758   G_ZWE_007102                       3G                  2G
3428   G_ZWE_005129                     None                  2G
2299   G_ZWE_004817                       2G                None
1027   G_ZWE_004772                       4G                  2G
2399   G_ZWE_002947                       4G                  3G
6985   G_ZWE_004832                       3G                None

     giga_school_id 4g_coverage (Ericsson) 4g_coverage (ITU)
5749   G_ZWE_006721                    YES                NO
1936   G_ZWE_004580                    YES                NO
6742   G_ZWE_002966                    YES                NO
1666   G_ZWE_006885                    YES                NO
2946   G_ZWE_007485                    YES                NO
3577   G_ZWE_001443                    YES                NO
2594   G_ZWE_001441                    YES                NO
7194   G_ZWE_006785                    YES                NO
5673   G_ZWE_004582                    YES                NO
6926   G_ZWE_005795                    YES                NO

     giga_school_id 2g_coverage (Ericsson) 2g_coverage (ITU)
7333   G_ZWE_003008                     NO               YES
512    G_ZWE_001169                     NO               YES
6241   G_ZWE_006866                     NO               YES
6960   G_ZWE_004136                     NO               YES
140    G_ZWE_007533                     NO               YES
3158   G_ZWE_007787                     NO               YES
1556   G_ZWE_001859                    YES                NO
5142   G_ZWE_005379                     NO               YES
996    G_ZWE_000926                     NO               YES
4828   G_ZWE_003144                    YES                NO

     giga_school_id coverage (Ericsson) coverage (ITU)
5872   G_ZWE_002801                  NO            YES
3569   G_ZWE_005209                  NO            YES
1767   G_ZWE_003058                  NO            YES
1039   G_ZWE_004721                 YES             NO
630    G_ZWE_004811                  NO            YES
5367   G_ZWE_000550                  NO            YES
4897   G_ZWE_003785                  NO            YES
1368   G_ZWE_000415                  NO            YES
7619   G_ZWE_001009                 YES             NO
3750   G_ZWE_006281                 YES             NO

     giga_school_id 3g_coverage (Ericsson) 3g_coverage (ITU)
3339   G_ZWE_003166                    YES                NO
2533   G_ZWE_007106                    YES                NO
7260   G_ZWE_005684                    YES                NO
7240   G_ZWE_005337                    YES                NO
3678   G_ZWE_002457                    YES                NO
1695   G_ZWE_007565                    YES                NO
4190   G_ZWE_002836                    YES                NO
846    G_ZWE_007735                    YES                NO
547    G_ZWE_002547                    YES                NO
7060   G_ZWE_000578                    YES                NO

In [39]:
# merging and selecting the most frequent values across the sources on each row and colunm
# creating a master coverage dataset and merging with the master school location dataset

In [32]:
import statistics as stats
df_c = pd.concat([d_fc,d_ec,d_it])
coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x:x.value_counts().index[0])
coverage['coverage_type'] = coverage.apply((lambda x: coverage_type(x)),axis=1)
#coverage = df_c.groupby(['giga_school_id'],as_index=False).agg(lambda x: stats.mode(x)[0][0])

In [33]:
coverage['coverage'] = np.where((coverage['2G_coverage']=='YES') | (coverage['3G_coverage']=='YES') | (coverage['4G_coverage']=='YES'), 'YES', 'NO')

In [34]:
coverage.head()

  giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
0   G_ZWE_000001      YES            4G         YES         YES         YES
1   G_ZWE_000002      YES            4G         YES         YES         YES
2   G_ZWE_000003      YES            4G         YES         YES         YES
3   G_ZWE_000004      YES            4G         YES         YES         YES
4   G_ZWE_000005      YES            4G         YES         YES         YES

In [35]:
coverage[coverage['coverage']=='NO'].head(10)

    giga_school_id coverage coverage_type 2G_coverage 3G_coverage 4G_coverage
320   G_ZWE_000321       NO          None          NO          NO          NO
356   G_ZWE_000357       NO          None          NO          NO          NO
374   G_ZWE_000375       NO          None          NO          NO          NO
376   G_ZWE_000377       NO          None          NO          NO          NO
380   G_ZWE_000381       NO          None          NO          NO          NO
386   G_ZWE_000387       NO          None          NO          NO          NO
388   G_ZWE_000389       NO          None          NO          NO          NO
397   G_ZWE_000398       NO          None          NO          NO          NO
408   G_ZWE_000409       NO          None          NO          NO          NO
409   G_ZWE_000410       NO          None          NO          NO          NO

In [97]:
#coverage.loc[coverage['coverage_type'] == 'None', 'coverage_type'] = d_gs.coverage_type

In [36]:
master.head()

,uuid,country,source,giga_school_id,source_school_id,school_name,latitude,longitude,hex8,dq_score,duplicate,source_timestamp,master_timestamp,school_archive,school_type,internet_availability,computer_availability
0,89329342-0780-37d5-be39-4acc1da9faba,Zimbabwe,government,G_ZWE_000001,1001,ADMIRAL TAIT,-17.82644,31.08971,8897198483fffff,0.83,0,2021-11,2021-11-30 20:14:49.026456,No,Primary,Yes,Yes
1,ca5b741f-31e8-3477-9d68-9f109ae711c6,Zimbabwe,government,G_ZWE_000002,1002,ALEXANDRA PARK,-17.79152,31.05566,889719b12dfffff,0.83,0,2021-11,2021-11-30 20:14:49.026456,No,Primary,No,Yes
2,2ee1df48-7532-3a33-b3d3-bd274054bd44,Zimbabwe,government,G_ZWE_000003,1003,ALFRED BEIT PRIMARY,-17.78811,31.00001,889719b1e1fffff,0.83,0,2021-11,2021-11-30 20:14:49.026456,No,Primary,Yes,Yes
3,5abe90a1-d35f-3d84-a46e-a5a8706a6999,Zimbabwe,government,G_ZWE_000004,1004,ARDBENNIE,-17.87671,31.03505,889719b30bfffff,0.83,0,2021-11,2021-11-30 20:14:49.026456,No,Primary,Yes,Yes
4,cea14ab3-8d91-3a48-b4bd-2cfcd4c58c7d,Zimbabwe,government,G_ZWE_000005,1005,AVONDALE,-17.79174,31.03407,889719b13dfffff,0.83,0,2021-11,2021-11-30 20:14:49.026456,No,Primary,Yes,Yes

In [37]:
master_w_coverage = master.merge(coverage, how="left", on=["giga_school_id"])
master_w_coverage.to_csv('./data/ZW_master_w_coverage.csv', encoding='utf-8')
master_w_coverage_connectivity = master_w_coverage.copy()
#master_w_coverage_connectivity['connectivity_availability'] = np.where((master_w_coverage_connectivity['connectivity_type'] != 'None'), 'YES', 'NO')
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'connectivity'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage'] == 'NO', 'coverage_type'] = 'None'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage'] = 'NO'
master_w_coverage_connectivity.loc[master_w_coverage_connectivity['coverage_type'] == 'None', 'coverage_type'] = 'no coverage'
master_w_coverage_connectivity.to_csv('./data/ZW_master_w_coverage_connectivity.csv', encoding='utf-8')

In [38]:
master_w_coverage.head(2)

,uuid,country,source,giga_school_id,source_school_id,school_name,latitude,longitude,hex8,dq_score,...,master_timestamp,school_archive,school_type,internet_availability,computer_availability,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage
0,89329342-0780-37d5-be39-4acc1da9faba,Zimbabwe,government,G_ZWE_000001,1001,ADMIRAL TAIT,-17.82644,31.08971,8897198483fffff,0.83,...,2021-11-30 20:14:49.026456,No,Primary,Yes,Yes,YES,4G,YES,YES,YES
1,ca5b741f-31e8-3477-9d68-9f109ae711c6,Zimbabwe,government,G_ZWE_000002,1002,ALEXANDRA PARK,-17.79152,31.05566,889719b12dfffff,0.83,...,2021-11-30 20:14:49.026456,No,Primary,No,Yes,YES,4G,YES,YES,YES

In [39]:
master_w_coverage_connectivity[master_w_coverage_connectivity['coverage_type']=='no coverage'].head(10)

,uuid,country,source,giga_school_id,source_school_id,school_name,latitude,longitude,hex8,dq_score,...,school_archive,school_type,internet_availability,computer_availability,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
320,4da56cdf-3858-3354-a530-9e09893345f1,Zimbabwe,government,G_ZWE_000321,2021,JERSEY,-20.51760,32.66716,8897003069fffff,0.81,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
356,34654223-f104-341b-a6c6-177d18636123,Zimbabwe,government,G_ZWE_000357,2057,NYASHANU,-19.30656,31.87564,8897032545fffff,0.83,...,No,Secondary,Yes,Yes,NO,no coverage,NO,NO,NO,NO
374,4a73240d-c486-3cc4-a064-23498ebb5fb0,Zimbabwe,government,G_ZWE_000375,2075,GARAHWA,-20.93112,32.40454,8897056b31fffff,0.83,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
376,1f405fde-0b71-3768-8bbc-c237bbf7766d,Zimbabwe,government,G_ZWE_000377,2077,MUUMBE,-20.64945,32.43196,889701db2bfffff,0.83,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
380,6b71b857-4048-3ab9-8243-26ecc42de858,Zimbabwe,government,G_ZWE_000381,2081,GWENZI,-20.52812,32.64116,8897003043fffff,0.83,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
386,b0494b79-6041-3adc-a8d3-6188e489d4af,Zimbabwe,government,G_ZWE_000387,2087,MANZVIRE,-20.64672,32.31708,889701d8c9fffff,0.83,...,No,Secondary,Yes,Yes,NO,no coverage,NO,NO,NO,NO
388,7ccadff8-232d-3b77-9334-042178ff3a59,Zimbabwe,government,G_ZWE_000389,2089,ST GEORGES (ZVEMBIRA),-19.15511,31.42486,88970e454bfffff,0.83,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
397,04f87585-6c20-34ac-83aa-143014699569,Zimbabwe,government,G_ZWE_000398,2099,ST BERNARD,-19.07073,31.62670,88970e4a33fffff,0.81,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
408,35214791-d558-3774-9718-2db2ffc79f04,Zimbabwe,government,G_ZWE_000409,2110,MUCHUVA,-19.79865,32.03567,889703a059fffff,0.83,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO
409,217726c5-4eb9-32d7-a6a0-5ec746385b68,Zimbabwe,government,G_ZWE_000410,2111,BETERA,-19.38751,32.00633,8897032229fffff,0.83,...,No,Secondary,No,Yes,NO,no coverage,NO,NO,NO,NO

In [40]:
master_w_coverage_connectivity.head()

,uuid,country,source,giga_school_id,source_school_id,school_name,latitude,longitude,hex8,dq_score,...,school_archive,school_type,internet_availability,computer_availability,coverage,coverage_type,2G_coverage,3G_coverage,4G_coverage,connectivity
0,89329342-0780-37d5-be39-4acc1da9faba,Zimbabwe,government,G_ZWE_000001,1001,ADMIRAL TAIT,-17.82644,31.08971,8897198483fffff,0.83,...,No,Primary,Yes,Yes,YES,4G,YES,YES,YES,NaN
1,ca5b741f-31e8-3477-9d68-9f109ae711c6,Zimbabwe,government,G_ZWE_000002,1002,ALEXANDRA PARK,-17.79152,31.05566,889719b12dfffff,0.83,...,No,Primary,No,Yes,YES,4G,YES,YES,YES,NaN
2,2ee1df48-7532-3a33-b3d3-bd274054bd44,Zimbabwe,government,G_ZWE_000003,1003,ALFRED BEIT PRIMARY,-17.78811,31.00001,889719b1e1fffff,0.83,...,No,Primary,Yes,Yes,YES,4G,YES,YES,YES,NaN
3,5abe90a1-d35f-3d84-a46e-a5a8706a6999,Zimbabwe,government,G_ZWE_000004,1004,ARDBENNIE,-17.87671,31.03505,889719b30bfffff,0.83,...,No,Primary,Yes,Yes,YES,4G,YES,YES,YES,NaN
4,cea14ab3-8d91-3a48-b4bd-2cfcd4c58c7d,Zimbabwe,government,G_ZWE_000005,1005,AVONDALE,-17.79174,31.03407,889719b13dfffff,0.83,...,No,Primary,Yes,Yes,YES,4G,YES,YES,YES,NaN

In [41]:
master_w_coverage_connectivity['coverage'].value_counts()

YES    5981
NO     1932
Name: coverage, dtype: int64